* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
}

.wrap {
    background-color: #ffff;
    width: 100%;
    overflow: hidden;
}
/* header */
.hdRight {
    position: absolute;
    right: 0;
    top: 15%;
}
.header {
    text-align: center;
}
.hdItem >h2 {
    font-family: 'Cardo', serif;
    font-size: 44px;
    font-weight: 600;
}
.hdItem >h2 > a {
    color: black;
}
.hdItem > span {
    font-family: Lato;
    font-weight: 600;
}
/*container*/
.ctn {
    padding-top: 100px;
}
.ctnParent {
    position: relative;
}
.ctnleft-img {
    position: absolute;
    top: 18%;
    left: -8%;
}
.ctnright-title>ins {
    font-size: 35px;
    font-weight: 500;
}

.ctnright-item {
    width: 300px;
}

.ctnright-icon {
    font-size: 50px;
}

.mySwiper {
    width: 100% !important;
}
.swiper-button-next , .swiper-button-prev {
    top: 90% !important;
}

/*container2*/

.container2 {
    background-color: black;
}

.ctn2-group {
    padding: 100px 100px 50px 100px;
}

.ctn2-left {
    width: 400px;
}

.ctn2-item {
    color: #ffff;
    margin-bottom: 20px;
}

.ctn2-item>h1 {
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 50px;
}

.ctn2-item>h2 {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 400;
}

.ctn2-item>span {
    font-size: 14px;
}

.ctn-bt {
    clear: both;
}
/*footer*/

.footer {
    padding: 100px 0;
}
.ft-left>h2 {
    margin-bottom: 50px;
    font-size: 70px;
    font-weight: 600;
    font-family: 'Cardo', serif;
}

.ft-left>span {
    padding: 33px;
    float: left;
    font-size: 16px;
    border-top: black 1px solid;
    border-bottom: black 1px solid;
}
.dropdown {
    display: contents;
}
.dropdown > button {
    background: #fff !important;
    border: none !important;
}
.dropdown > button:hover {
   box-shadow: none !important;
   border: none !important;
}
.dropdown-menu {
    position: relative !important;
    transform: translate(0px, 0px) !important;
    border: none !important;
}
.ftItem {
    color: black;
    font-size: 16px;
}
@media (max-width: 991.98px) { 
    .ctnImg1 {
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 575.98px) { 
    .ctn-right {
        justify-content: center;
    }
    .ctnParent > img , .ctnImg1 > img , .ftItem2 > img{
        width: 100%;
    }
    .hdRight > img {
        display: none;
    }
    .ftItem1 > h2 {
        text-align: center;
    }
}









