@font-face {
    font-family: 'Eudoxus Sans';
    src: url("/assets/fonts/EudoxusSans-Medium.ttf");
}

@font-face {
    font-family: 'Slick';
    src: url("/assets/fonts/slick.ttf");
}

@import "header";
@import "custom_css";
@import "footer";

.block_title {
    font-family: 'Eudoxus Sans';
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    color: #FFB23F;
}

.title_text {
    font-family: 'Eudoxus Sans';
    font-weight: 700;
    line-height: 130%;
    font-size: 44px;
    color: #151411;
}

.description_text {
    font-family: 'Eudoxus Sans';
    color: #AFADB5;
    font-weight: 500;
    line-height: 180%;
    font-size: 18px;

}

.btn_group {
    font-family: 'Eudoxus Sans';
    background-color: #518581;
    padding: 15px 46px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    line-height: 130%;

    &:hover {
        color:#518581;
        background-color: #FFFFFF;
        border: 1px solid #518581;
    }
}

////////////////////Banner /////////////////////
.block_banner {
    margin-top: 100px;
}

.banner_title {
    margin-bottom: 30px;
}

.banner_des {
    margin-bottom: 50px;
}

.box_banner_text {
    max-width: 724px;
    text-align: center;
    margin: auto;
    
    .banner_title_text {
        font-size: 64px;
    }
}

.box_vid {
    margin-top: 30px;

    video {
        max-height: 550px;
        width: 100%;
    }
}

.block_mission {
    margin-top: 180px;

    .row {
        margin-top: 14px;
    }
}

.box_archivement {
    display: flex;  
    margin-top: 50px;  

    .detail_archivement {
        margin-top: 10px;
    }
}

.small_box_archivement {
    margin-right: 50px;
}

.box_mission {
    display: flex;

    &:nth-child(n+2){
        margin-top: 30px;

    }
    .icon {
        width: 62px;
        height: 62px;
        overflow: hidden;
        flex-shrink: 0;
        margin-right: 25px;

        img {
            width: 100%;
        }
    }
    
    .description{
        
        .title {

            .title_text {
                font-size: 26px;
            }
        }

        .content {
            margin-top: 16px;
        }
    }
}

///////////////Start: Our Team////////////////

.block_team {
    margin-top: 180px;

    .box_detail_team {
        margin-top: 14px;
    }

    .list_team {
        margin-top: 20px;
    }
}

.box_team {
    margin-top: 30px;

    .image {
        width: 100%;
        max-height: 360px;
        max-width: 390px; 
        
        img {
            width: 100%;
        }
    }

    .name {
        margin-top: 26px;

        .title_text {
            font-size: 26px;
        }
    }

    .position{
        margin-top: 6px;
    }
}

.talk {
    margin-top: 181px;
    display: flex;
    justify-content: space-between;

    .talk_title {
        max-width: 35%;
    }

    .btn_group {
        white-space: nowrap;

        &:hover {
            color: #FFFFFF;
            background-color: #518581;
            box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
        }
    }
}

@media screen and (max-width: 1023px) {
    
    //////Css for title and description ///
    .title_text {
        font-size: 40px;
    }

    .description_text {
        font-size: 16px;
    }
    
    .btn_group {
        padding: 15px 46px;
        font-size: 16px;
    }

    .block_banner {
        margin-top: 50px;
    }

    .block_mission {
        margin-top: 100px;
    }

    .block_team {
        margin-top: 67px;
    }

    .box_archivement {
        margin-top: 30px;
    }

    .small_box_archivement {
        margin-right: 20px;
    }

    .list_mission {
        margin-top: 30px;
    }

    .box_mission {
        
        .icon {
            width: 44px;
            height: 44px;
        }

    }
}



@media screen and (max-width:599px) {

    .title_text {
        font-size: 24px;
    }

    .description_text {
        font-size: 14px;
    }

    .description {

        .title_text {
            font-size: 16px !important;   
        }
    }

    .box_banner_text {

        .banner_title_text {
            font-size: 26px;
        }
    } 

    .box_detail_team {
        margin-top: 8px;

        .description_text {
            margin-top: 20px;
        }
    }


    .box_team {
        margin-top: 20px;

        .name {
            margin-top: 14px;

            .title_text {
                font-size: 14px !important;
            }
        }
        

        .description_text {
            font-size: 12px !important;
        }
    }


    .talk {
        margin-top: 100px;
        flex-direction: column;

        .talk_title {
            max-width: 100%;
        }

        .button_talk {
            margin-top: 16px;
        }
    }
}