@font-face {
    font-family: 'Eudoxus Sans';
    src: url("/assets/fonts/EudoxusSans-Medium.ttf");
}

@font-face {
    font-family: 'Slick';
    src: url("/assets/fonts/slick.ttf");
}

@import "header";
@import "custom_css";
@import "footer";

.block_title {
    font-family: 'Eudoxus Sans';
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    color: #FFB23F;
}

.title_text {
    font-family: 'Eudoxus Sans';
    font-weight: 700;
    line-height: 130%;
    font-size: 44px;
    color: #151411;
}

.description_text {
    font-family: 'Eudoxus Sans';
    color: #AFADB5;
    font-weight: 500;
    line-height: 180%;
    font-size: 18px;

}

.btn_group {
    font-family: 'Eudoxus Sans';
    background-color: #518581;
    padding: 15px 46px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    line-height: 130%;

    &:hover {
        color:#518581;
        background-color: #FFFFFF;
        border: 1px solid #518581;
    }
}

////////////////////Banner /////////////////////
.block_banner {
    margin-top: 100px;
}

.banner_title {
    margin-bottom: 30px;
}

.banner_des {
    margin-bottom: 50px;
}

.box_banner_text {
    max-width: 724px;
    text-align: center;
    margin: auto;
    
    .banner_title_text {
        font-size: 64px;
    }
}

.box_vid {
    width: 100%;
    max-height: 550px;
}

.block_mission {
    margin-top: 180px;

    .row {
        margin-top: 14px;
    }
}

.box_archivement {
    display: flex;  
    margin-top: 50px;  

    .detail_archivement {
        margin-top: 10px;
    }
}

.small_box_archivement {
    margin-right: 50px;
}

.box_mission {
    display: flex;

    &:nth-child(n+2){
        margin-top: 30px;

    }
    .icon {
        width: 62px;
        height: 62px;
        overflow: hidden;
        flex-shrink: 0;
        margin-right: 25px;

        img {
            width: 100%;
        }
    }
    
    .description{
        
        .title {

            .title_text {
                font-size: 26px;
            }
        }

        .content {
            margin-top: 16px;
        }
    }
}