@font-face {
    font-family: 'Eudoxus Sans';
    src: url("/assets/fonts/EudoxusSans-Medium.ttf");
}

@font-face {
    font-family: 'Slick';
    src: url("/assets/fonts/slick.ttf");
}

@import "header";
@import "custom_css";
@import "footer";

////////////////////

//////////Start: MAIN///////////////////

 
//Css for title and description ///

.title_text {
    font-family: 'Eudoxus Sans';
    font-weight: 700;
    line-height: 130%;
    font-size: 44px;
    color: #151411;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.description_text {
    font-family: 'Eudoxus Sans';
    color: #AFADB5;
    font-weight: 500;
    line-height: 180%;
    font-size: 18px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.btn_group {
    font-family: 'Eudoxus Sans';
    background-color: #518581;
    padding: 16px 0px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    line-height: 130%;
    white-space: nowrap;
}

///////////////Start: Main//////////////// 
.block_detail_product {
    margin-top: 100px;

    .image {
        width: 100%;
        max-height: 600px; 
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain ;
        }
    }
}

.description {
    margin-top: 32px;

    .detail_product {
        margin-top: 10px;
    }

    .box_color{
        margin-top: 30px;
        
        .title_text {
            font-size: 18px;
        }

        .list_color {
            display: flex;
            margin-top: 20px;

            .color {
                width: 50px;
                height: 50px;

                &:nth-child(1) {
                    background-color: #151411;
                }

                &:nth-child(2) {
                    background-color: #314443;
                }

                &:nth-child(3) {
                    background-color: #C5A26E;
                }

                &:nth-child(4) {
                    background-color: #D8DBE0;
                }
            }
        }
    }

    .contain {
        margin-top: 20px;
    }

    .product_cost {
        margin-top: 30px;
    }

    .group_button{
        margin-top: 50px;

        .col-md-6{

            &:nth-child(1) {

                .btn_group {
                    width: 100%;
        
                    &:hover {
                        color:#518581;
                        background-color: #FFFFFF;
                        border: 1px solid #518581;
                    }
                }
            }

            &:nth-child(2) {
                
                .btn_group {
                    width: 100%;
                    color: #151411;
                    background-color: #FFFFFF;
                    border: 1px solid #F3F3F3;

                    &:hover {
                        border: 1px solid #518581;
                    }
                }
            }
        }
    }
}


.block_list_item {
    margin-top: 50px;

    .list_item_title {
        font-size: 32px;
    }

    .box_list_items{
        margin-top: 30px;

        .col-md-4 {
            flex-basis: 50%;

            &:nth-child(4) {
                display: none;
            }
        }
    }

}


.box_product {
    margin-top: 30px;

    .product_picture {
        width: 100%;
        max-height: 360px;
        overflow: hidden;

        img {
            height: 100%;
            width: 100%;
            text-align: center;
            object-fit: cover;
        }
    }

    .cate_product {
        margin-top: 26px;
    }
    
    .name_product {
        margin-top: 14px;
    
        .title_text {
            font-size: 26px;
        }
    }
    
    .detail_product {
        margin-top: 6px;
    }
    
    .product_cost {
        margin-top: 18px;
    
        .title_text {
            font-size: 24px;
        }
    } 
}


@media screen and(max-width:767px) {
    .title_text {
        font-size: 26px;
    }

    .description_text {
        font-size: 14px;
    }
    
    .btn_group {
        font-size: 14px;
    }

    .description {

        .detail_product {
            margin-top: 4px;
        }

        .box_color {
            margin-top: 20px ;
        }
    }

    .box_product {
        margin-top: 14px;

        .cate_product {
            margin-top: 14px;
        }

        .name_product {
            margin-top: 6px;
        }

        .detail_product {
            margin-top: 4px;
        }

        .product_cost{
            margin-top: 14px;
        }
    }

    .list_color {

        .color {
            width: 30px !important;
            height: 30px !important;
        }
    }

    .group_button{
        margin-top: 30px;

        .col-md-6{

            &:nth-child(2) {
                margin-top: 10px !important;
            }
        }
    }

    .box_list_items{

        .col-md-4 {

            &:nth-child(4) {
                display: block !important;
            }
        }
    }
}


@media screen and (max-width:599px) {

 

    .title_text {
        font-size: 14px !important;
    }

    .description_text {
        font-size: 12px;
    }
    
    .btn_group {
        padding: 15px 26px;
        font-size: 12px ;
    }


}