.block_header {
    border-bottom: 2px solid #F3F3F3;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: #ffffff;
}

.navbar {
    padding: 0;
}

li.nav-item {
    margin-right: 60px;
    padding: 30px 0px;

    &:hover {
        border-bottom: 3px solid #518581 !important;

        .nav-link {
            color: #518581 !important;
        }
    }
}

.page_landing {
    border-bottom: 3px solid #518581;

    .nav-link {
        color: #518581 !important;
    }
}

li.nav-item .nav-link {
    font-family: 'Eudoxus Sans';
    font-weight: 500;
    font-size: 18px;
    color: #151411;
} 

.icon_option:nth-child(1) {
    margin-right: 28px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    background-color: #F3F3F3;
    transition: 0.5s;
    padding-top: 60px;

    li.nav-item {
        margin-right: 60px;
        padding: 15px 0px;
    }

    .options_navbar {
        display: flex;
        justify-content: center;
    } 

    .item_close {
        width: 100%;

        .close_icon {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }
    }
}

main {
    margin-top: 205px;
}

@media (max-width: 992px) {
    .navbar-expand-lg {
        padding: 15px;
        
        .navbar-nav {
            align-items: center;

            li.nav-item {
                margin-right: 0px;
            }
        }
    }

    main {
        margin-top: 155px;
    }
}

