@font-face {
    font-family: 'Eudoxus Sans';
    src: url("../fonts/EudoxusSans-Medium.ttf");
}

@font-face {
    font-family: 'Slick';
    src: url("../fonts/slick.ttf");
}

@import "header";
@import "custom_css";
@import "main";
@import "footer";