/*==================Start Banner=============*/


//Css for title and description ///
.block_title {
    font-family: 'Eudoxus Sans';
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    color: #FFB23F;
}

.title_text {
    font-family: 'Eudoxus Sans';
    font-weight: 700;
    line-height: 130%;
    font-size: 44px;
    color: #151411;
}

.description_text {
    font-family: 'Eudoxus Sans';
    color: #AFADB5;
    font-weight: 500;
    line-height: 180%;
    font-size: 18px;
}

.btn_group {
    font-family: 'Eudoxus Sans';
    background-color: #518581;
    padding: 15px 46px;
    color: #FFFFFF;
    font-size: 18px;
}

// End css for title and description ///

.block_banner {
    margin-top: 100px;
}

.banner_title {
    margin-bottom: 30px;
    background-image:  url("../img/vector_title_banner.png");
    background-repeat: no-repeat;
    background-position: right bottom;
}

.banner_des {
    margin-bottom: 50px;
}

.box_banner_text {
    max-width: 724px;
    text-align: center;
    margin: auto;
    
    .banner_title_text {
        font-size: 64px;
    }
}

.banner_search {
    display: flex;
    align-items: center;
    padding: 15px;
    background: #FFFFFF;
    box-shadow: 0px 4px 80px rgba(175, 173, 181, 0.2);
    position: relative;
}

.input-group {
    align-items: center !important; 

    input {
        border: 0;
    }

    ::placeholder {
        font-family: 'Eudoxus Sans';
        font-weight: 500;
        font-size: 18px;
        line-height: 180%;
        color: #AFADB5;
    }
}

.box_banner_photo {
    margin-top: -40px;

    img {
        width: 100%;
    }
}


   
/*===============End Banner==============*/



/*===============Start Benefits==============*/
.block_benefits {
    margin-top: 180px;
}

.box_benefits_title {
    max-width: 427px;
}

.box_benefit {
    padding: 26px 24px;
    background: #FFFFFF;
    box-shadow: 0px 4px 100px rgba(175, 173, 181, 0.1);

    .title_benefit {
        margin-top: 24px;

        .title_list_benefit {
            font-size: 24px;
        }
    }

    .small_detail_benefit {
        margin-top: 24px;
    }
}   



/*===============End Benefits==============*/


/*===============Start Products==============*/
.block_product {
    margin-top: 180px ;
}

.des_product {
    max-width: 656px;
    margin: auto;
}

.list_product {
    margin-top: 50px;
}

.swiper-slide {
    margin-right: 29px;

    .box_product {

        .product_picture {
            margin: auto;
    
            img {
                width: 100%;
                text-align: center;
            }
        }

        .cate_product {
            margin-top: 26px;
        }
        
        .name_product {
            margin-top: 14px;
        
            .title_text {
                font-size: 26px;
            }
        }
        
        .detail_product {
            margin-top: 6px;
        }
        
        .product_cost {
            margin-top: 18px;
        
            .title_text {
                font-size: 24px;
            }
        }
        
    }
    
}


/*===============End Products==============*/

/*===============Start Our Product ============*/

.block_our_product {
    margin-top: 180px;
}

.title_our_product {
    margin-top: 14px;
}

.des_our_product {
    margin-top: 50px;
}

.button_read {
    margin-top: 50px;
}

.col-md-6 {

    &:nth-child(1) {

        .feature_img {
            width: 595px;
            height: 260px;
            margin-top: 50px;

            img {
                width: 100%;
            }
        }
    }

    &:nth-child(2) {

        .feature_img {
            width: 595px;
            height: 260px;
            margin-top: 57px;

            img {
                width: 100%;
            }
        }
    }

}

.box_archivement {
    display: flex;
    justify-content: flex-end;

    .small_box_archivement {
        margin-left: 50px;
    }
}


/*===============End: Our Products==============*/

/*===============Start: Testimonials  =============*/

.block_testimonials {
    margin-top: 180px ;

    .title_testi {
        margin-top: 14px;
        margin-bottom: 30px;
    }

    .des_testi {
        margin: auto;
        max-width: 656px;
    }
}

.box_detail_testi {
    padding: 31px 38px 24px 24px ;
    background: #FFFFFF;
    box-shadow: 0px 4px 100px rgba(175, 173, 181, 0.1);

    .content_testi {
        margin-top: 31px;
    }
}

.detail_testi {
    margin-top: 50px;
}

.info_valuer {
    display: flex;
    align-items: center;
    margin-top: 26px;

    .avatar {
        width: 50px;
        height: 50px;
        overflow: hidden; 
        margin-right: 14px;
        
        img {
            width: 100%;
        }
    }

    .name {
        
        .title_text {
            font-size: 20px;
        }
    }
}



/*===============End: Testimonials  =============*/


/*===============Start: Articles=============*/
.block_artickes {
    margin-top: 180px;
}

.title_artickes {
    margin-top: 14px;
}

.des_artickes {
    margin-top: 30px;
}

.box_feature_img {
    margin-top: 50px;
    position: relative;


    .feature_photo {
        width: 582px;
        height: 565px;
        overflow: hidden;

        img {
            width: 100%;
        }
    }

    .box_title_articles {
        position: absolute;
        bottom: 26px;
        left: 26px;
        
        .cate_articles {

            .description_text {
                color: #FFFFFF;

            }
        }
        
        .name_articles {
            margin-top: 10px;

            .title_text {
                font-size: 26px;
                color: #FFFFFF;
            }
        }

        .detail_articles {
            margin-top: 6px;
        }

        .article_link {
            margin-top: 14px;

            .title_text {
                color: #FFFFFF;
                font-size: 18px;
                font-weight: 500;
            }
        }
        
    }
}

/*===============End: Articles=============*/

p {
    margin-bottom: 0 !important;
}

