/*==================Start Banner=============*/


//Css for title and description ///
.block_title {
    font-family: 'Eudoxus Sans';
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    color: #FFB23F;
}

.title_text {
    font-family: 'Eudoxus Sans';
    font-weight: 700;
    line-height: 130%;
    font-size: 44px;
    color: #151411;
}

.description_text {
    font-family: 'Eudoxus Sans';
    color: #AFADB5;
    font-weight: 500;
    line-height: 180%;
    font-size: 18px;
}

.btn_group {
    font-family: 'Eudoxus Sans';
    background-color: #518581;
    padding: 15px 46px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    line-height: 130%;
}

// End css for title and description ///

.block_banner {
    margin-top: 100px;
}

.banner_title {
    margin-bottom: 30px;
    background-image:  url("../img/vector_title_banner.png");
    background-repeat: no-repeat;
    background-position: right bottom;
}

.banner_des {
    margin-bottom: 50px;
}

.box_banner_text {
    max-width: 724px;
    text-align: center;
    margin: auto;
    
    .banner_title_text {
        font-size: 64px;
    }
}

.banner_search {
    display: flex;
    align-items: center;
    padding: 15px;
    background: #FFFFFF;
    box-shadow: 0px 4px 80px rgba(175, 173, 181, 0.2);
    position: relative;
}

.input-group {
    align-items: center !important; 

    input {
        border: 0;
    }

    ::placeholder {
        font-family: 'Eudoxus Sans';
        font-weight: 500;
        font-size: 18px;
        line-height: 180%;
        color: #AFADB5;
    }
}

.box_banner_photo {
    margin-top: -40px;
    width: 100%;
    height: auto;

    img {
        width: 100%;
    }
}


   
/*===============End Banner==============*/



/*===============Start Benefits==============*/
.block_benefits {
    margin-top: 180px;
}

.box_benefits_title {
    max-width: 427px;
}

.box_benefit {
    padding: 26px 24px;
    background: #FFFFFF;
    box-shadow: 0px 4px 100px rgba(175, 173, 181, 0.1);

    .title_benefit {
        margin-top: 24px;

        .title_list_benefit {
            font-size: 24px;
        }
    }

    .small_detail_benefit {
        margin-top: 24px;
    }
}   



/*===============End Benefits==============*/


/*===============Start Products==============*/
.block_product {
    margin-top: 180px ;
}

.title_product {
    margin-top: 14px;
    margin-bottom: 30px;
}

.des_product {
    max-width: 656px;
    margin: auto;
}

.list_product {
    margin-top: 50px;
    width: 100%;
    height: auto;

    .swiper-slide {
        text-align: center;
        width: 394px !important;
    }

    
}

.box_product {

    .product_picture {
        width: 394px;
        height: auto;

        img {
            width: 100%;
            text-align: center;
        }
    }

    .cate_product {
        margin-top: 26px;
    }
    
    .name_product {
        margin-top: 14px;
    
        .title_text {
            font-size: 26px;
        }
    }
    
    .detail_product {
        margin-top: 6px;
    }
    
    .product_cost {
        margin-top: 18px;
    
        .title_text {
            font-size: 24px;
        }
    } 
}

.swiper-button-next::after {
    content: "";
    background-image: url("/assets/img/next_btn.png");
    background-repeat: no-repeat;
    padding: 18px 18px;
    background-size: 100% 100%;
}

.swiper-button-prev::after {
    content: "";
    background-image: url("/assets/img/prev_btn.png");
    background-repeat: no-repeat;
    padding: 18px 18px;
    background-size: 100% 100%;
}
    


/*===============End Products==============*/

/*===============Start Our Product ============*/

.block_our_product {
    margin-top: 180px;

    .block_our_product_title {
        margin-bottom: 14px;
    }
}

.box_about_product {
    margin-top: 14px;
}

.content_product {

    .title_our_product {
        max-width: 511px;
    }

    .des_our_product {
        margin-top: 50px;
        max-width: 580px;

    }

    .button_read {
        margin-top: 50px;
    }
    
    .feature_img {
        margin-top: 50px;
        width: 100%;
        height: auto;

        img {
            width: 100%;
        }
    }
}

.box_archivement_mobile {
    display: none;
}

.box_archivement {
    display: flex;
    justify-content: flex-end;
    

    .detail_archivement {
        margin-top: 10px;
    }
}

.small_box_archivement {
    margin-left: 50px;
    float: right;
}

.archive_img {
    width: 100%;
    height: auto;
    margin-top: 57px;
    overflow: hidden;

    img {
        width: 100%;
    }
}




/*===============End: Our Products==============*/

/*===============Start: Testimonials  =============*/

.block_testimonials {
    margin-top: 180px ;

    .title_testi {
        margin-top: 14px;
        margin-bottom: 30px;
    }

    .des_testi {
        margin: auto;
        max-width: 656px;
    }
}

.box_detail_testi {
    padding: 31px 38px 24px 24px ;
    background: #FFFFFF;
    box-shadow: 0px 4px 100px rgba(175, 173, 181, 0.1);

    .content_testi {
        margin-top: 31px;
    }
}

.list_detail_testi {
    margin-top: 50px;
}

.info_valuer {
    display: flex;
    align-items: center;
    margin-top: 26px;

    .avatar {
        width: 50px;
        height: 50px;
        overflow: hidden; 
        margin-right: 14px;
        
        img {
            width: 100%;
        }
    }

    .name {
        
        .title_text {
            font-size: 20px;
        }
    }
}



/*===============End: Testimonials  =============*/


/*===============Start: Articles=============*/
.block_artickes {
    margin-top: 180px;

    .list_blog {
        margin-top: 14px;
    }
}

.des_artickes {
    margin-top: 30px;
}

.box_feature_img {
    margin-top: 50px;


    .feature_photo {
        width: 100%;
        overflow: hidden;
        position: relative;

        img {
            width: 100%;
        }
    }

    .box_button {
        box-shadow: 0px 4px 90px rgba(175, 173, 181, 0.2);
        position: absolute;
        right: 48px;

        .btn_group {
            

            &:nth-child(1) {
                background: #FFFFFF;
            }
        }
    }
}

.box_title_articles {
    position: absolute;
    bottom: 200px;
    left: 40px;
    
    .cate_articles {

        .description_text {
            color: #FFFFFF;

        }
    }
    
    .name_articles {
        margin-top: 10px;

        .title_text {
            font-size: 26px;
            color: #FFFFFF;
        }
    }

    .detail_articles {
        margin-top: 6px;
        padding: 0px 72px 0px 0px;

        .description_text {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
        }
    }

    .article_link {
        margin-top: 14px;

        .title_text {
            color: #FFFFFF;
            font-size: 18px;
            font-weight: 500;
        }
    }
    
}

.box_blog {
    display: flex;
    align-items: center;

    .blog_picture{
        width: 100%;
        margin-right: 50px;

        img {
           width: 100%;
        }
    }

}

.small_blog {
    margin-bottom: 30px;
}

.detail_blog {

    .cate_blog {

    }

    .name_blog {
        margin-top: 21px;

        .title_text {
            font-size: 24px;
        }
    }

    .content_blog {
        margin-top: 14px;

        .description_text {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
        }
    }

    .author_blog {
        display: flex;
        align-items: center;
        margin-top: 16px;

        .author_avatar {
            width: 28px;
            height: 28px;
            overflow: hidden;
            margin-right: 10px;

            img {
                width: 100%;
            }
        }

        .title_text {
            font-size: 14px;
            margin-right: 24px;
        }

        .description_text {
            font-size: 14px;
        }
    }
}

.discount{
    margin-top: 181px;
    display: flex;
    justify-content: space-between;
}

/*===============End: Articles=============*/


/* custom bootstrap */

//////////////responsive///////////////

@media screen and (max-width:1199px) {

    .box_archivement_mobile {
        display: flex;
        margin-top: 30px;
        justify-content: space-around;
    }
    
    .product_numb {
        margin-top: 100px;

        .box_archivement {
            display: none;
        }
    }

    .box_feature_img {

        .feature_photo {
            overflow: hidden;
        }
    }

    .small_list_blog {
        margin-top: 50px;
    }
}   
 

@media screen and (max-width: 1023px) {
    
   //////Css for title and description ///
    .title_text {
        font-size: 40px;
    }

    .description_text {
        font-size: 16px;
    }
    
    .btn_group {
        padding: 15px 46px;
        font-size: 16px;
    }

    //////Css for title and description ///

    //////////////////Start: Banner ///////
    
    .box_banner_text {

        .banner_title_text {
            font-size: 60px;
        }
    }


    ///////End: Banner//////////
    
    ///////Start: Archivement//////////////
    
    

    .box_about_product  {

        .content_product {
            
            .title_our_product {
                max-width: unset;
            }

            .des_our_product {
                margin-top: 50px;
                max-width: unset;
            }

            .button_read {
                margin-top: 50px;

                .btn_group {
                    width: 100%;
                }
            }
            
            .feature_img {
                margin-top: 50px;
            }
        }
    }

    .product_numb {

        .archive_img {
            max-width: unset;
        }
    }

    ///////End: Archivement//////////////

    
    ////////////Start: Article/////////////

    .box_feature_img {

        .box_button {
            display: none;
        }
    }

    ////////////End: Article/////////////////
    

    ///////////STart: Footer//////////////
    .box_aboutus {

        .box_services {
            margin-top: 30px;

            .detial_service {
                margin-left: 50px;
            }
        }
    }


    ////////////End: Footer/////////////
}


@media screen and (max-width: 767px) {
    
    //////////////Blog///////////
    .author_blog{

        .date_create {
            display: none;
        }
    }

    //////////Articles/////////////
    .discount {
        flex-direction: column;

        .button_discount {
            margin-top: 16px;
        }
    }


    ///////////Footer//////////
    

    
}

@media screen and (max-width:599px) {

    .block_title {
        font-size: 14px;
    }
    .title_text {
        font-size: 26px;
    }

    .description_text {
        font-size: 14px;
    }
    
    .btn_group {
        padding: 15px 26px;
        font-size: 14px;
    }

    
    .block_header {
        padding: 20px 0;
    }

    .block_banner, 
    .block_benefits, 
    .block_product, 
    .block_our_product, 
    .block_testimonials, 
    .block_artickes {
        margin-top: 50px;
    }


    .box_banner_text {

        .banner_title_text {
            font-size: 26px;
        }
    }

    .box_banner_photo {
        margin-top: 30px;
    }

    .small_box_archivement {
        margin: auto;
    }


    .num_archivement {

        .title_text {
            font-size: 22px;
        }
    }

    .detail_archivement {
        
        .description_text {
            font-size: 14px;
        }
    }

    .product_numb {
        margin-top: 0px;

    }

    ////////////////////Article ////////////
    .box_title_articles {
        
        .cate_articles {

            .description_text {
                font-size: 12px;
            }
        }

        .name_articles {
            
            .title_text {
                font-size: 16px;
            }
        }

        .detail_articles {
            
            .description_text {
                font-size: 14px;
            }
        }

        .article_link {
            
            .title_text {
                font-size: 12px;
            }
        }
    }



    ///////////Blog///////////////
    .detail_blog {

        .cate_blog {

            .description_text {
                font-size: 12px;
            }
        }

        .content_blog {
            display: none;
        }
        
        .name_blog {
            margin-top: 4px;

            .title_text {
                font-size: 16px;
            }
        }

        .author_blog {
            margin-top:18px;
            
            .title_text {
                font-size: 12px;
            }
        }
    }


} 