@font-face {
  font-family: "Eudoxus Sans";
  src: url("/assets/fonts/EudoxusSans-Medium.ttf");
}
@font-face {
  font-family: "Slick";
  src: url("/assets/fonts/slick.ttf");
}
.block_header {
  border-bottom: 2px solid #F3F3F3;
  position: sticky;
  top: 0;
}

.navbar {
  padding: 0;
}

li.nav-item {
  margin-right: 60px;
  padding: 30px 0px;
}

.page_landing {
  border-bottom: 3px solid #518581;
}
.page_landing .nav-link {
  color: #518581 !important;
}

li.nav-item .nav-link {
  font-family: "Eudoxus Sans";
  font-weight: 500;
  font-size: 18px;
  color: #151411;
}

.icon_option:nth-child(1) {
  margin-right: 28px;
}

@media (max-width: 992px) {
  .navbar-expand-lg {
    padding: 15px;
  }
  .navbar-expand-lg .navbar-nav {
    align-items: center;
  }
  .navbar-expand-lg .navbar-nav li.nav-item {
    margin-right: 0px;
  }
}
body {
  overflow-x: hidden;
  margin: 0;
}

p {
  margin-bottom: 0 !important;
}

a {
  text-decoration-line: none;
  color: #151411;
}
a:hover {
  text-decoration-line: none;
  color: #151411;
}

@media (min-width: 1440px) {
  .container {
    max-width: 1320px;
  }
}
.block_footer {
  margin-top: 86px;
}
.block_footer .container {
  border-top: 1.5px solid #ECE4DE;
  padding: 80px 0px 88px;
}

.box_aboutus {
  justify-content: space-between;
}
.box_aboutus .detail_aboutus .description_text {
  color: #151411;
  max-width: 505px;
  margin-top: 36px;
}

.box_services {
  display: flex;
  justify-content: space-around;
}
.box_services .detial_service {
  margin-left: 104px;
}
.box_services .title_services {
  margin-bottom: 20px;
}
.box_services .title_services .title_text {
  font-size: 20px;
  white-space: nowrap;
}
.box_services .list_services .description_text {
  color: #151411;
  margin-bottom: 12px !important;
  line-height: 180%;
  white-space: nowrap;
}

@media screen and (max-width: 1023px) {
  .box_aboutus .box_services {
    margin-top: 30px;
  }
  .box_aboutus .box_services .detial_service {
    margin-left: 50px;
  }
}
@media screen and (max-width: 767px) {
  .box_aboutus {
    flex-direction: column;
    justify-content: space-between;
  }
  .box_aboutus .description_text {
    color: #AFADB5 !important;
    font-size: 14px;
  }
  .box_services .detial_service {
    margin-right: 50px;
    margin-left: 0px;
  }
}
@media screen and (max-width: 599px) {
  .block_footer .container {
    padding: 20px 15px;
  }
  .box_services .detial_service {
    margin-right: 3%;
    margin-left: 0px !important;
  }
  .box_services .detial_service .title_text {
    font-size: 16px;
  }
  .box_services .detial_service .description_text {
    font-size: 14px;
  }
}
.title_text {
  font-family: "Eudoxus Sans";
  font-weight: 700;
  line-height: 130%;
  font-size: 44px;
  color: #151411;
}

.description_text {
  font-family: "Eudoxus Sans";
  color: #AFADB5;
  font-weight: 500;
  line-height: 180%;
  font-size: 18px;
}

.btn_group {
  font-family: "Eudoxus Sans";
  background-color: #518581;
  padding: 16px 0px;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 700;
  line-height: 130%;
  white-space: nowrap;
}

.block_detail_product {
  margin-top: 100px;
}
.block_detail_product .image {
  width: 100%;
  max-height: 600px;
  overflow: hidden;
}
.block_detail_product .image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.description {
  margin-top: 32px;
}
.description .detail_product {
  margin-top: 10px;
}
.description .box_color {
  margin-top: 30px;
}
.description .box_color .title_text {
  font-size: 18px;
}
.description .box_color .list_color {
  display: flex;
  margin-top: 20px;
}
.description .box_color .list_color .color {
  width: 50px;
  height: 50px;
}
.description .box_color .list_color .color:nth-child(1) {
  background-color: #151411;
}
.description .box_color .list_color .color:nth-child(2) {
  background-color: #314443;
}
.description .box_color .list_color .color:nth-child(3) {
  background-color: #C5A26E;
}
.description .box_color .list_color .color:nth-child(4) {
  background-color: #D8DBE0;
}
.description .contain {
  margin-top: 20px;
}
.description .product_cost {
  margin-top: 30px;
}
.description .group_button {
  margin-top: 50px;
}
.description .group_button .col-md-6:nth-child(1) .btn_group {
  width: 100%;
}
.description .group_button .col-md-6:nth-child(1) .btn_group:hover {
  color: #518581;
  background-color: #FFFFFF;
  border: 1px solid #518581;
}
.description .group_button .col-md-6:nth-child(2) .btn_group {
  width: 100%;
  color: #151411;
  background-color: #FFFFFF;
  border: 1px solid #F3F3F3;
}
.description .group_button .col-md-6:nth-child(2) .btn_group:hover {
  border: 1px solid #518581;
}

.block_list_item {
  margin-top: 50px;
}
.block_list_item .list_item_title {
  font-size: 32px;
}
.block_list_item .box_list_items {
  margin-top: 30px;
}

.box_product {
  margin-top: 30px;
}
.box_product .product_picture {
  width: 100%;
  max-height: 360px;
  overflow: hidden;
}
.box_product .product_picture img {
  height: 100%;
  width: 100%;
  text-align: center;
  object-fit: cover;
}
.box_product .cate_product {
  margin-top: 26px;
}
.box_product .name_product {
  margin-top: 14px;
}
.box_product .name_product .title_text {
  font-size: 26px;
}
.box_product .detail_product {
  margin-top: 6px;
}
.box_product .product_cost {
  margin-top: 18px;
}
.box_product .product_cost .title_text {
  font-size: 24px;
}

@media screen and (max-width: 767px) {
  .title_text {
    font-size: 26px;
  }
  .description_text {
    font-size: 14px;
  }
  .btn_group {
    font-size: 14px;
  }
  .description .detail_product {
    margin-top: 4px;
  }
  .description .box_color {
    margin-top: 20px;
  }
  .box_product {
    margin-top: 14px;
  }
  .box_product .cate_product {
    margin-top: 14px;
  }
  .box_product .name_product {
    margin-top: 6px;
  }
  .box_product .detail_product {
    margin-top: 4px;
  }
  .box_product .product_cost {
    margin-top: 14px;
  }
  .group_button {
    margin-top: 30px;
  }
  .group_button .col-md-6:nth-child(2) {
    margin-top: 10px !important;
  }
}