@font-face {
  font-family: "Eudoxus Sans";
  src: url("../fonts/EudoxusSans-Medium.ttf");
}
@font-face {
  font-family: "Slick";
  src: url("../fonts/slick.ttf");
}
.block_header {
  border-bottom: 2px solid #F3F3F3;
  position: sticky;
  top: 0;
}

.navbar {
  padding: 0;
}

li.nav-item {
  margin-right: 60px;
  padding: 30px 0px;
}

li.nav-item .nav-link {
  font-family: "Eudoxus Sans";
  font-weight: 500;
  font-size: 18px;
  color: #151411;
}

.icon_option:nth-child(1) {
  margin-right: 28px;
}

@media (max-width: 992px) {
  .navbar-expand-lg .navbar-nav {
    align-items: center;
  }
  .navbar-expand-lg .navbar-nav li.nav-item {
    margin-right: 0px;
  }
}
body {
  overflow-x: hidden;
  margin: 0;
}

p {
  margin-bottom: 0 !important;
}

a {
  text-decoration-line: none;
  color: #151411;
}
a:hover {
  text-decoration-line: none;
  color: #151411;
}

@media (min-width: 1440px) {
  .container {
    max-width: 1320px;
  }
}
/*==================Start Banner=============*/
.block_title {
  font-family: "Eudoxus Sans";
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: #FFB23F;
}

.title_text {
  font-family: "Eudoxus Sans";
  font-weight: 700;
  line-height: 130%;
  font-size: 44px;
  color: #151411;
}

.description_text {
  font-family: "Eudoxus Sans";
  color: #AFADB5;
  font-weight: 500;
  line-height: 180%;
  font-size: 18px;
}

.btn_group {
  font-family: "Eudoxus Sans";
  background-color: #518581;
  padding: 15px 46px;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 700;
  line-height: 130%;
}

.block_banner {
  margin-top: 100px;
}

.banner_title {
  margin-bottom: 30px;
  background-image: url("../img/vector_title_banner.png");
  background-repeat: no-repeat;
  background-position: right 77%;
  background-size: 10%;
}

.banner_des {
  margin-bottom: 50px;
}

.box_banner_text {
  max-width: 724px;
  text-align: center;
  margin: auto;
}
.box_banner_text .banner_title_text {
  font-size: 64px;
}

.banner_search {
  display: flex;
  align-items: center;
  padding: 15px;
  background: #FFFFFF;
  box-shadow: 0px 4px 80px rgba(175, 173, 181, 0.2);
  position: relative;
}

.input-group {
  align-items: center !important;
}
.input-group input {
  border: 0;
}
.input-group ::placeholder {
  font-family: "Eudoxus Sans";
  font-weight: 500;
  font-size: 18px;
  line-height: 180%;
  color: #AFADB5;
}

.box_banner_photo {
  margin-top: -40px;
  width: 100%;
  max-height: 480px;
  overflow: hidden;
}
.box_banner_photo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/*===============End Banner==============*/
/*===============Start Benefits==============*/
.block_benefits {
  margin-top: 180px;
}

.box_benefits_title {
  margin-top: 14px;
  max-width: 427px;
}

.box_benefits_des {
  margin-top: 23px;
}

.detail_benefit {
  margin-top: 50px;
}

.box_benefit {
  padding: 26px 24px;
  background: #FFFFFF;
  box-shadow: 0px 4px 100px rgba(175, 173, 181, 0.1);
  margin-right: 29px;
}
.box_benefit .title_benefit {
  margin-top: 24px;
}
.box_benefit .title_benefit .title_list_benefit {
  font-size: 24px;
}
.box_benefit .small_detail_benefit {
  margin-top: 24px;
}

/*===============End Benefits==============*/
/*===============Start Products==============*/
.block_product {
  margin-top: 180px;
}

.title_product {
  margin-top: 14px;
  margin-bottom: 30px;
}

.des_product {
  max-width: 656px;
  margin: auto;
}

.list_product {
  margin-top: 50px;
}
.list_product .swiper-slide {
  text-align: center;
  width: 394px !important;
}

.box_product .product_picture {
  width: 394px;
  max-height: 360px;
}
.box_product .product_picture img {
  width: 100%;
  height: 100%;
  text-align: center;
  object-fit: contain;
}
.box_product .cate_product {
  margin-top: 26px;
}
.box_product .name_product {
  margin-top: 14px;
}
.box_product .name_product .title_text {
  font-size: 26px;
}
.box_product .detail_product {
  margin-top: 6px;
}
.box_product .product_cost {
  margin-top: 18px;
}
.box_product .product_cost .title_text {
  font-size: 24px;
}

.small_box_product .slick-prev,
.small_box_product .slick-next {
  z-index: 1;
  width: 40px;
  height: 40px;
}
.small_box_product .slick-next {
  right: 62px;
}
.small_box_product .slick-prev {
  left: 62px;
}

/*===============End Products==============*/
/*===============Start Our Product ============*/
.block_our_product {
  margin-top: 180px;
}
.block_our_product .block_our_product_title {
  margin-bottom: 14px;
}

.box_about_product {
  margin-top: 14px;
}

.content_product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content_product .title_our_product {
  max-width: 511px;
}
.content_product .des_our_product {
  margin-top: 50px;
  max-width: 580px;
}
.content_product .button_read {
  margin-top: 50px;
}
.content_product .feature_img {
  margin-top: 50px;
  width: 100%;
  max-height: 260px;
}
.content_product .feature_img img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.product_numb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box_archivement_mobile {
  display: none;
}

.box_archivement {
  display: flex;
  justify-content: flex-end;
}
.box_archivement .detail_archivement {
  margin-top: 10px;
}

.small_box_archivement {
  margin-left: 50px;
  float: right;
}

.archive_img {
  width: 100%;
  max-height: 510px;
  margin-top: 57px;
  overflow: hidden;
}
.archive_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*===============End: Our Products==============*/
/*===============Start: Testimonials  =============*/
.block_testimonials {
  margin-top: 180px;
}
.block_testimonials .title_testi {
  margin-top: 14px;
  margin-bottom: 30px;
}
.block_testimonials .des_testi {
  margin: auto;
  max-width: 656px;
}

.box_detail_testi {
  padding: 31px 38px 24px 24px;
  background: #FFFFFF;
  box-shadow: 0px 4px 100px rgba(175, 173, 181, 0.1);
}
.box_detail_testi .content_testi {
  margin-top: 31px;
}

.list_detail_testi {
  margin-top: 50px;
}

.info_valuer {
  display: flex;
  align-items: center;
  margin-top: 26px;
  justify-content: space-between;
}
.info_valuer .info {
  display: flex;
  align-items: center;
}
.info_valuer .info .avatar {
  width: 50px;
  height: 50px;
  overflow: hidden;
  margin-right: 14px;
}
.info_valuer .info .avatar img {
  width: 100%;
}
.info_valuer .info .name .title_text {
  font-size: 20px;
  white-space: nowrap;
}
.info_valuer .evaluate {
  display: flex;
  align-items: center;
}
.info_valuer .evaluate .title_text {
  font-size: 18px;
}

/*===============End: Testimonials  =============*/
/*===============Start: Articles=============*/
.block_artickes {
  margin-top: 180px;
}
.block_artickes .list_blog {
  margin-top: 14px;
}
.block_artickes .list_blog .col-xl-6.big_blog {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.block_artickes .list_blog .col-xl-6.small_list_blog {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.des_artickes {
  margin-top: 30px;
}

.box_feature_img {
  position: relative;
}
.box_feature_img .feature_photo {
  width: 100%;
  max-height: 565px;
  overflow: hidden;
}
.box_feature_img .feature_photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box_title_articles {
  position: absolute !important;
  bottom: 100px;
  padding-left: 25px;
}
.box_title_articles .cate_articles .description_text {
  color: #FFFFFF;
}
.box_title_articles .name_articles {
  margin-top: 10px;
}
.box_title_articles .name_articles .title_text {
  font-size: 26px;
  color: #FFFFFF;
}
.box_title_articles .detail_articles {
  margin-top: 6px;
  padding: 0px 72px 0px 0px;
  max-width: 530px;
}
.box_title_articles .detail_articles .description_text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  color: #FFFFFF;
  -webkit-box-orient: vertical;
}
.box_title_articles .article_link {
  margin-top: 14px;
}
.box_title_articles .article_link .title_text {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 500;
}

.image {
  margin-bottom: 31px;
}

.box_button {
  box-shadow: 0px 4px 90px rgba(175, 173, 181, 0.2);
  position: absolute;
  right: 15px;
  bottom: 0px;
  display: flex;
}
.box_button .btn_group {
  width: 50%;
}
.box_button .btn_group:nth-child(1) {
  background: #FFFFFF;
}

.box_blog {
  display: flex;
  align-items: center;
}
.box_blog .blog_picture {
  width: 100%;
  flex-shrink: 1;
}
.box_blog .blog_picture img {
  width: 100%;
}

.small_blog:nth-child(2) {
  margin-top: 30px;
}
.small_blog:nth-child(3) {
  margin-top: 30px;
}

.detail_blog {
  margin-left: 20px;
  flex-shrink: 1;
}
.detail_blog .name_blog {
  margin-top: 21px;
}
.detail_blog .name_blog .title_text {
  font-size: 24px;
}
.detail_blog .content_blog {
  margin-top: 14px;
}
.detail_blog .content_blog .description_text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.detail_blog .author_blog {
  display: flex;
  align-items: center;
  margin-top: 16px;
}
.detail_blog .author_blog .author_avatar {
  width: 28px;
  height: 28px;
  overflow: hidden;
  margin-right: 10px;
}
.detail_blog .author_blog .author_avatar img {
  width: 100%;
}
.detail_blog .author_blog .title_text {
  font-size: 14px;
  margin-right: 24px;
  white-space: nowrap;
}
.detail_blog .author_blog .description_text {
  font-size: 14px;
}

.discount {
  margin-top: 181px;
  display: flex;
  justify-content: space-between;
}

/*===============End: Articles=============*/
/* custom bootstrap */
@media screen and (max-width: 1199px) {
  .box_archivement_mobile {
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
  }
  .product_numb .box_archivement {
    display: none;
  }
  .box_feature_img .feature_photo {
    overflow: hidden;
    height: 400px;
  }
  .box_title_articles {
    bottom: 20px;
  }
  .small_list_blog {
    margin-top: 20px;
  }
}
@media screen and (max-width: 1023px) {
  .title_text {
    font-size: 40px;
  }
  .description_text {
    font-size: 16px;
  }
  .btn_group {
    padding: 15px 46px;
    font-size: 16px;
  }
  .block_banner {
    margin-top: 50px;
  }
  .banner_des {
    margin-bottom: 30px;
  }
  .block_benefits,
.block_product,
.block_our_product,
.block_testimonials,
.block_artickes {
    margin-top: 100px;
  }
  .box_banner_text .banner_title_text {
    font-size: 60px;
  }
  /*===============Start Our Product ============*/
  .box_about_product .content_product .des_our_product {
    margin-top: 50px;
  }
  .box_about_product .content_product .button_read {
    margin-top: 50px;
  }
  .box_about_product .content_product .button_read .btn_group {
    width: 100%;
  }
  .box_about_product .content_product .feature_img {
    margin-top: 50px;
  }
  .box_button {
    display: none;
  }
  .name_blog .title_text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .author_blog .date_create {
    display: none;
  }
  .author_blog .content_blog {
    display: none;
  }
  .box_aboutus .box_services {
    margin-top: 30px;
  }
  .box_aboutus .box_services .detial_service {
    margin-left: 50px;
  }
}
@media screen and (max-width: 767px) {
  .box_benefit {
    margin-top: 20px;
  }
  .discount {
    flex-direction: column;
  }
  .discount .button_discount {
    margin-top: 16px;
  }
  .detail_blog {
    margin-left: 14px;
  }
  .detail_blog .name_blog {
    margin-top: 4px;
  }
  .detail_blog .author_blog {
    margin-top: 18px;
  }
}
@media screen and (max-width: 599px) {
  .block_title {
    font-size: 14px;
  }
  .title_text {
    font-size: 26px;
  }
  .description_text {
    font-size: 14px;
  }
  .btn_group {
    padding: 15px 26px;
    font-size: 14px;
  }
  .block_header {
    padding: 20px 0;
  }
  .box_banner_text .banner_title_text {
    font-size: 26px;
  }
  .box_banner_photo {
    margin-top: 30px;
  }
  .small_box_archivement {
    margin: auto;
  }
  .num_archivement .title_text {
    font-size: 22px;
  }
  .detail_archivement .description_text {
    font-size: 14px;
  }
  .product_numb {
    margin-top: 0px;
  }
  .box_feature_img .feature_photo {
    overflow: hidden;
    height: 200px;
  }
  .box_title_articles .cate_articles .description_text {
    font-size: 12px;
  }
  .box_title_articles .name_articles .title_text {
    font-size: 16px;
  }
  .box_title_articles .detail_articles .description_text {
    font-size: 14px;
  }
  .box_title_articles .article_link .title_text {
    font-size: 12px;
  }
  .info_valuer .info .name .title_text {
    font-size: 14px;
  }
  .info_valuer .info .avatar {
    width: 28px;
    height: 28px;
  }
  .info_valuer .evaluate .title_text {
    font-size: 14px;
  }
  .detail_blog .cate_blog .description_text {
    font-size: 12px;
  }
  .detail_blog .name_blog {
    margin-top: 4px;
  }
  .detail_blog .name_blog .title_text {
    font-size: 16px;
  }
  .detail_blog .author_blog {
    margin-top: 18px;
  }
  .detail_blog .author_blog .title_text {
    font-size: 12px;
  }
}
.block_footer {
  margin-top: 86px;
}
.block_footer .container {
  border-top: 1.5px solid #ECE4DE;
  padding: 80px 0px 88px;
}

.box_aboutus {
  justify-content: space-between;
}
.box_aboutus .detail_aboutus .description_text {
  color: #151411;
  max-width: 505px;
  margin-top: 36px;
}

.box_services {
  display: flex;
  justify-content: space-around;
}
.box_services .detial_service {
  margin-left: 104px;
}
.box_services .title_services {
  margin-bottom: 20px;
}
.box_services .title_services .title_text {
  font-size: 20px;
  white-space: nowrap;
}
.box_services .list_services .description_text {
  color: #151411;
  margin-bottom: 12px !important;
  line-height: 180%;
  white-space: nowrap;
}

@media screen and (max-width: 1023px) {
  .box_aboutus .box_services {
    margin-top: 30px;
  }
  .box_aboutus .box_services .detial_service {
    margin-left: 50px;
  }
}
@media screen and (max-width: 767px) {
  .box_aboutus {
    flex-direction: column;
    justify-content: space-between;
  }
  .box_aboutus .description_text {
    color: #AFADB5 !important;
    font-size: 14px;
  }
  .box_services .detial_service {
    margin-right: 50px;
    margin-left: 0px;
  }
}
@media screen and (max-width: 599px) {
  .block_footer .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .box_services .detial_service {
    margin-right: 3%;
    margin-left: 0px !important;
  }
  .box_services .detial_service .title_text {
    font-size: 16px;
  }
  .box_services .detial_service .description_text {
    font-size: 14px;
  }
}