@font-face {
  font-family: "Eudoxus Sans";
  src: url("/assets/fonts/EudoxusSans-Medium.ttf");
}
@font-face {
  font-family: "Slick";
  src: url("/assets/fonts/slick.ttf");
}
.block_header {
  border-bottom: 2px solid #F3F3F3;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: #ffffff;
}

.navbar {
  padding: 0;
}

li.nav-item {
  margin-right: 60px;
  padding: 30px 0px;
}
li.nav-item:hover {
  border-bottom: 3px solid #518581 !important;
}
li.nav-item:hover .nav-link {
  color: #518581 !important;
}

.page_landing {
  border-bottom: 3px solid #518581;
}
.page_landing .nav-link {
  color: #518581 !important;
}

li.nav-item .nav-link {
  font-family: "Eudoxus Sans";
  font-weight: 500;
  font-size: 18px;
  color: #151411;
}

.icon_option:nth-child(1) {
  margin-right: 28px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
  background-color: #F3F3F3;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav li.nav-item {
  margin-right: 60px;
  padding: 15px 0px;
}
.sidenav .options_navbar {
  display: flex;
  justify-content: center;
}
.sidenav .item_close {
  width: 100%;
}
.sidenav .item_close .close_icon {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.cover_body {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(59, 59, 59, 0.85);
}

main {
  margin-top: 205px;
}

@media (max-width: 992px) {
  .navbar-expand-lg {
    padding: 15px;
  }
  .navbar-expand-lg .navbar-nav {
    align-items: center;
  }
  .navbar-expand-lg .navbar-nav li.nav-item {
    margin-right: 0px;
  }
  main {
    margin-top: 155px;
  }
}
body {
  overflow-x: hidden;
  margin: 0;
}

p {
  margin-bottom: 0 !important;
}

a {
  text-decoration-line: none;
  color: #151411;
}
a:hover {
  text-decoration-line: none;
  color: #151411;
}

@media (min-width: 1440px) {
  .container {
    max-width: 1320px;
  }
}
.block_footer {
  margin-top: 86px;
}
.block_footer .container {
  border-top: 1.5px solid #ECE4DE;
  padding: 80px 0px 88px;
}

.box_aboutus {
  justify-content: space-between;
}
.box_aboutus .detail_aboutus .description_text {
  color: #151411;
  max-width: 505px;
  margin-top: 36px;
}

.box_services {
  display: flex;
  justify-content: space-around;
}
.box_services .detial_service {
  margin-left: 104px;
}
.box_services .title_services {
  margin-bottom: 20px;
}
.box_services .title_services .title_text {
  font-size: 20px;
  white-space: nowrap;
}
.box_services .list_services .description_text {
  color: #151411;
  margin-bottom: 12px !important;
  line-height: 180%;
  white-space: nowrap;
}

@media screen and (max-width: 1023px) {
  .box_aboutus .box_services {
    margin-top: 30px;
  }
  .box_aboutus .box_services .detial_service {
    margin-left: 50px;
  }
}
@media screen and (max-width: 767px) {
  .box_aboutus {
    flex-direction: column;
    justify-content: space-between;
  }
  .box_aboutus .description_text {
    color: #AFADB5 !important;
    font-size: 14px;
  }
  .box_services .detial_service {
    margin-right: 50px;
    margin-left: 0px;
  }
}
@media screen and (max-width: 599px) {
  .block_footer .container {
    padding: 20px 15px;
  }
  .box_services .detial_service {
    margin-right: 3%;
    margin-left: 0px !important;
  }
  .box_services .detial_service .title_text {
    font-size: 16px;
  }
  .box_services .detial_service .description_text {
    font-size: 14px;
  }
}
.block_title {
  font-family: "Eudoxus Sans";
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: #FFB23F;
}

.title_text {
  font-family: "Eudoxus Sans";
  font-weight: 700;
  line-height: 130%;
  font-size: 44px;
  color: #151411;
}

.description_text {
  font-family: "Eudoxus Sans";
  color: #AFADB5;
  font-weight: 500;
  line-height: 180%;
  font-size: 18px;
}

.btn_group {
  font-family: "Eudoxus Sans";
  background-color: #518581;
  padding: 15px 46px;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 700;
  line-height: 130%;
}
.btn_group:hover {
  color: #518581;
  background-color: #FFFFFF;
  border: 1px solid #518581;
}

.block_banner {
  margin-top: 100px;
}

.banner_title {
  margin-bottom: 30px;
}

.banner_des {
  margin-bottom: 50px;
}

.box_banner_text {
  max-width: 724px;
  text-align: center;
  margin: auto;
}
.box_banner_text .banner_title_text {
  font-size: 64px;
}

.box_banner_photo {
  margin-top: 50px;
  width: 100%;
  max-height: 550px;
  overflow: hidden;
}
.box_banner_photo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.services {
  margin-top: 50px;
  padding-top: 20px;
  border-top: 2px solid #F3F3F3;
}
.services .box_service .numb {
  margin-top: 30px;
}
.services .box_service .numb .title_text {
  color: #518581;
  font-size: 64px;
}
.services .box_service .name_service {
  margin-top: 26px;
}
.services .box_service .name_service .title_text {
  font-size: 24px;
}
.services .box_service .detail_service {
  margin-top: 6px;
}

.block_portofolio {
  margin-top: 180px;
}
.block_portofolio .row {
  margin-top: 10px;
}

.content .title_text {
  margin-top: 18px;
  font-size: 18px;
  color: #518581;
}

.list_porto {
  margin-top: 50px;
}
.list_porto .col-xl-5 .box_porto {
  position: relative;
}
.list_porto .col-xl-5 .box_porto .porto_img {
  width: 100%;
  max-height: 623px;
  overflow: hidden;
}
.list_porto .col-xl-5 .box_porto .porto_img img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.list_porto .col-xl-5 .box_porto .porto_title {
  position: absolute;
  bottom: 30px;
  left: 30px;
}
.list_porto .col-xl-5 .box_porto .porto_title .title_text {
  color: #FFFFFF;
  font-size: 26px;
}
.list_porto .col-xl-5 .box_porto .porto_title .description_text {
  color: #FFFFFF;
  opacity: 0.7;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  margin-top: 6px;
}
.list_porto .col-xl-5 .box_porto .porto_title .description_text:nth-child(3) {
  opacity: 100;
  margin-top: 16px;
}
.list_porto .col-xl-7 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.list_porto .col-xl-7 .box_porto {
  position: relative;
}
.list_porto .col-xl-7 .box_porto .porto_img {
  width: 100%;
  max-height: 301px;
  overflow: hidden;
}
.list_porto .col-xl-7 .box_porto .porto_img img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.list_porto .col-xl-7 .box_porto .porto_title {
  position: absolute;
  bottom: 30px;
  left: 30px;
}
.list_porto .col-xl-7 .box_porto .porto_title .title_text {
  color: #FFFFFF;
  font-size: 26px;
}
.list_porto .col-xl-7 .box_porto .porto_title .description_text {
  color: #FFFFFF;
  opacity: 0.7;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  margin-top: 6px;
}
.list_porto .col-xl-7 .box_porto .porto_title .description_text:nth-child(3) {
  opacity: 10;
  margin-top: 16px;
}

.talk {
  margin-top: 181px;
  display: flex;
  justify-content: space-between;
}
.talk .talk_title {
  max-width: 35%;
}

@media screen and (max-width: 1199px) {
  .banner_title .banner_title_text {
    font-size: 26px !important;
  }
  .list_porto .box_porto {
    margin-top: 20px;
  }
  .list_porto .box_porto .porto_img {
    width: 327px;
    height: 409px;
  }
  .list_porto .box_porto .porto_title .description_text {
    margin-top: 6px !important;
  }
}
@media screen and (max-width: 1023px) {
  .title_text {
    font-size: 40px;
  }
  .description_text {
    font-size: 16px;
  }
  .btn_group {
    padding: 15px 46px;
    font-size: 16px;
  }
  .block_banner {
    margin-top: 50px;
  }
  .block_portofolio {
    margin-top: 100px;
  }
  .talk {
    margin-top: 100px;
    flex-direction: column;
  }
  .talk .talk_title {
    max-width: 100%;
  }
  .talk .button_talk {
    margin-top: 16px;
  }
}
@media screen and (max-width: 599px) {
  .title_text {
    font-size: 14px !important;
  }
  .description_text {
    font-size: 14px;
  }
  .box_service .numb {
    margin-top: 20px;
  }
  .box_service .numb .title_text {
    font-size: 32px !important;
  }
  .box_service .name_service {
    margin-top: 20px;
  }
  .box_service .detail_service .description_text {
    font-size: 12px;
  }
}