*{
    margin: 0;
    padding: 0;
    border: 0;
}body{
    background-image: url(/floral/img_and_fonts/image/Texture.png);
}
.header{
    background-color: #c87e6b;
    height: 100px;
}
.flower-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.flower-logo > img{
    width: 150px;
    height: 45px;
}

.nav-bar .nav-bar-list {
    display: inline-block;
    margin-bottom: 0;
    padding-left: 0;
}
.nav-bar .nav-bar-list li{
    display: inline-block;
    position: relative;
}
.nav-bar-list .sign_in{
    border: 2px solid white;
    border-radius: 15px;
}
.nav-bar .nav-bar-list a{
    text-decoration: none;
    color: #fff;
    padding: 0 15px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}
.nav-bar .nav-bar-list{
    list-style-type: none;
}
.user-icon{
    display: flex;
    flex-direction: row;   
    justify-content: flex-end; 
}
.icon-user, .icon-shopping{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}
.icon-user i, .icon-shopping i{
    font-size: 20px;
    color: #fff;
}
.sidebar-btn{
    display: none;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
}
.sidebar-btn i{
    color: #fff;
    font-size: 20px;
}

.nav_overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: flex-start;
    display: none;
}
.nav_overlay.open{
    display: flex;
}
.nav_sidebar{
    background-color: #c87e6b;
    width: 40vw;
    height: 100vh;
    position: relative;
}

.nav_sidebar .nav_list > li{
    display: block;
    width: 100%;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    background-color: #484a4b;
}
.nav_sidebar .nav_list li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
}
.nav_list{
    padding-top: 50px;
}
.sidebar-close{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #000;
    color:#fff;
    font-weight: 800;
    padding: 9px 15px;
    opacity: 0.8;
}
.sidebar-close:hover{
    background-color: red;
    color:#fff;
    opacity: 1;
}
.sidebar-close .ti-close{
    line-height: 2;
    color: #fff;
}
.sidebar-close, .sidebar-close .nav_list li{
    cursor: pointer;
}
.flower-arrange-banner{
    height: auto;
}
.flower-arrange-banner .col-left{
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #e3e0d6;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 50px;
}
.flower-arr-choose{
    display: flex;
    justify-content: center;
}
.shop-flower-arr-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    background-color: #787878;
    border-radius: 20px;
    margin-right: 10px;
}
.shop-flower-arr-btn a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 600;
}
.read-more-flower-arr-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 115px;
    height: 40px;
    background-color:  #e3e0d6;
    border-radius: 20px;
    margin-left: 10px;
}
.read-more-flower-arr-btn a{
    color: #484a4b;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 600;
}
.col-left .decor-leaf-flower{
    display: flex;
    justify-content: end;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-right: 50px;
}
.text-contain{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-contain li{
    font-family: 'Montserrat Alternates', sans-serif;
    color: rgb(118, 90, 51);
    font-size: 25.3px;
}
.text-contain p{
    text-align: justify;
    font-size: 25px;
    line-height: 30px;
    font-family: 'Josefin Slab', serif;
    color: rgb(118, 90, 51);
    margin-bottom: 0;
    padding: 15px 150px 50px;
}
.flower-arrange-banner .col-left h2{
    margin-bottom: 0;
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    text-align: center;
    color: rgb(72, 74, 75);
    padding-bottom: 20px;
}
.flower-arrange-banner .col-right{
    background-color: #e4e1d7;
    padding-left: 0;
    padding-right: 0;
}
.flower-arrange-banner .col-right > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sales{
    padding: 50px 0;
    background-color: #765a33;
    min-height: 270px;
}
.sales .number-run{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sales .number-run h3{
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    color: rgb(255, 255, 255);
    margin-bottom: 0;
}
.sales .number-run h4{
    color: rgb(255, 255, 255);
    margin-bottom: 0;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 500;
    text-align: center;
}
.our-top-product-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 104px;
    background-color: #e5e2d8;
    padding-bottom: 120px;
}
.header-our-top-product{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.heading-our-top-product{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 90px;
}
.our-top-product-content h2{
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    margin-bottom: 0;
    color: rgb(72, 74, 75);
    padding-bottom: 10px;
    text-align: center;
}
.our-top-product-content h3{
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 600;
    color: rgb(118, 90, 51);
    margin-bottom: 0;
    text-align: center;
}
.leaf-product-top-left > img{
    width: 100%;
    height: auto;
}
.leaf-product-top-right > img{
    width: 100%;
    height: auto;
}
.respon-slider{
    --bs-gutter-x: 0;
    width: 100%;
}
.flower-slider{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.swiper.mySwiper{
    padding-top: 134px;
}
.flower-image-slider{
    display: flex;
    justify-content: center;
}
.flower-image-slider > img{
    width: 90%;
    object-fit: contain;
}
.intro-text-product{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}
.intro-text-product h3{
    font-family: "PlayfairDisplay";
    color: rgb(72, 74, 75);
    font-size: 30px;
}
.intro-text-product p{
    padding: 15px 35px;
    font-size: 15px;
    line-height: 20px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 500;
    color: rgb(118, 90, 51);
}
.more-btn{
    display: flex;
    justify-content: flex-start;
}
.read-more-btn{
    width: 100px;
    height: 30px;
    border-radius: 15px;
    background-color: rgb(69, 69, 69);
    color: #fff;
}
.leaf-decor-product-bottom{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.slick-slider .slick-arrow:focus, .slick-slider .slick-arrow:hover{
    background-color: rgb(69, 69, 69);
    color: #fff;
}
.slick-prev.slick-arrow{
    top: 115%;
    left: 40%;
}
.slick-next.slick-arrow, .slick-prev.slick-arrow{
    font-size: 20px;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(69, 69, 69);
    border: none;
    position: absolute;
}
.slick-prev.slick-arrow:hover{
    background-color: rgb(69, 69, 69);
}
.slick-prev.slick-arrow::before{
    content: unset;
}
.slick-next.slick-arrow::before{
    content: unset;
}
.slick-next.slick-arrow{
    top: 115%;
    right: 40%;
}
.slick-next.slick-arrow:hover{
    background-color: rgb(69, 69, 69);
}
.nav_list{
    padding-left: 0;
}
.leaf-decor-product-bottom{
    position: relative;
}
.leaf-bottom-left-product > img{
    position: absolute;
    bottom: -108px;
    left: 10px;
}
.leaf-bottom-right-product > img{
    position: absolute;
    bottom: -108px;
    right: 10px;
}
.how-we-do-it-content{
    position: relative;
    background-color: #e3e0d6;
    height: auto;
    padding-bottom: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.leaf-left-how-we-do-it{
    position: absolute;
    width: 8%;
    height: 25%;
    left: -1vw;
}
.leaf-left-how-we-do-it > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.left-right-how-we-do-it{
    position: absolute;
    width: 8%;
    height: 25%;
    right: 0;
    bottom: 0;
}
.left-right-how-we-do-it > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.how-we-do-it-content h2{
    font-size: 50px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color: rgb(72, 74, 75);
    text-align: center;
}
.how-we-do-it-content h4{
    font-size: 20px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 500;
    color: rgb(118, 90, 51);
    text-align: center;
    padding: 0 15px;
}
.video-how-we-do-it{
    display: flex;
    justify-content: center;
    padding-top: 110px;
}
.container-video-how-we-do-it{
    width: 70%;
    position: relative;
    z-index: 1;
    height: auto;
    object-fit: contain;
}
.container-video-how-we-do-it::before{
    position: absolute;
    content: '';
    display: block;
    width: 15vw;
    height: 12vw;
    background-color: #c87e6b;
    top: -2vw;
    left: -2vw;
    z-index: -1;
}
.container-video-how-we-do-it::after{
    position: absolute;
    content: '';
    display: block;
    width: 25vw;
    height: 25vw;
    border: 5px solid rgb(118, 90, 51);
    right: -5vw;
    bottom: -3vw;
    z-index: -1;
}
.container-video-how-we-do-it > video{
    width: 100%;
}
.special-sale-off{
    height: auto;
    --bs-gutter-x: 0;
}
.special-sale-off .offer-col-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 350px;
    padding-right: 0;
    padding-left: 0;
    background-color: #ddc57c;
}
.offer-col-left .spec-offer-btn{
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #424242;
    border-radius: 25px;
}
.offer-col-left .spec-offer-btn a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: 700;
}
.offer-col-left h2{
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 900;
    font-size: 110px;
    color: #424242;
}
.offer-col-left h3{
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: #424242;
}
.special-sale-off .image-offer-col-right{
    padding-right: 0;
    padding-left: 0;
}
.special-sale-off .image-offer-col-right > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.intro-product-best-flower{
    position: relative;
    padding-top: 50px;
    background-color: #e7e4db;
    --bs-gutter-x: 0;
    padding-bottom: 50px;
}
.image-best-flower-col-left{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-image-best-flower{
    display: flex;
    height: fit-content;
    position: relative;
    justify-content: center;
    z-index: 1;
}
.container-image-best-flower::before{
    position: absolute;
    content: '';
    display: block;
    width: 10vw;
    height: 8vw;
    background-color: #c87e6b;
    top: -2vw;
    right: 4vw;
    z-index: -1;
}
.container-image-best-flower::after{
    position: absolute;
    content: '';
    display: block;
    width: 23vw;
    height: 23vw;
    border: 5px solid rgb(118, 90, 51);
    left: 3vw;
    bottom: -3vw;
    z-index: -1;
}
.container-image-best-flower > img{
    width: 80%;
    object-fit: contain;
}
.heading-best-flower-col-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text-best-flower{
    width: 80%;
}
.text-best-flower .more-btn{
    padding-left: 0;
}
.text-best-flower h2{
    font-family: 'Playfair Display', serif;
    font-size: 50px;
}
.heading-best-flower-col-right p{
    font-family: 'Josefin Slab', serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    color: rgb(118, 90, 51);
}
.leaf-decor-best-flower-bottom{
    position: absolute;
    width: 20vw;
    bottom: 0;
    right: 0;
}
.leaf-decor-best-flower-bottom > img{
    width: 100%;
    height: fit-content;
    object-fit: contain;
}
.intro-take-care-details{
    --bs-gutter-x: 0;
    background-color: #e7e4da;
}
.heading-take-care-detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text-take-care-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}
.container-text-takecare-detail{
    display: flex;
    flex-direction: column;
    width: 70%;
    /* padding: 0 70px; */
}
.text-take-care-detail h2{
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    text-align: start;
}
.container-text-takecare-detail p{
    font-family: 'Josefin Slab', serif;
    font-weight: 400;
    color: rgb(118, 90, 51);
    font-size: 20px;
    line-height: 22px;
}
.text-take-care-detail .more-btn{
    width: 70%;
    padding-left: 0;
}
.leaf-right-bottom-take-care-detail > img{
    width: 10%;
    height: auto;
    object-fit: contain;
}
.image-take-care-detail{
    display: flex;
    z-index: 1;
    align-items: center;
    justify-content: center;
} 
.container-image-take-care-detail > img{
    width: 100%;
    height: auto;
    object-fit: contain;
}
.container-image-take-care-detail{
    height: fit-content;
    position: relative;
}
.container-image-take-care-detail:before{
    position: absolute;
    content: '';
    display: block;
    width: 15vw;
    height: 12vw;
    background-color: #c87e6b;
    top: -2vw;
    left: -2vw;
    z-index: -1;
}
.container-image-take-care-detail:after{
    position: absolute;
    content: '';
    display: block;
    width: 25vw;
    height: 25vw;
    border: 5px solid rgb(118, 90, 51);
    right: -3vw;
    bottom: -3vw;
    z-index: -1;
}
.intro-love-what-we-do{
    --bs-gutter-x: 0;
    background-color: #e7e4db;
    padding-top: 50px;
}
.image-love-what-we-do{
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 1;
}
.container-image-love-what-we-do > img{
    width: 80%;
    height: fit-content;
    object-fit: contain;
}
.container-image-love-what-we-do{
    height: fit-content;
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 1;
}
.container-image-love-what-we-do::before{
    background-color: #c87e6b;
    width: 12vw;
    height: 8vw;
    position: absolute;
    content: '';
    top: -2vw;
    right: 3vw;
    z-index: -1;
}
.container-image-love-what-we-do::after{
    position: absolute;
    content: '';
    width: 25vw;
    height: 25vw;
    bottom: -5vw;
    left: 2vw;
    border: 5px solid #765a33;
    z-index: -1;
}
.heading-love-what-we-do{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.leaf-image-love-what-we-do{
    display: flex;
    justify-content: center;
    padding-top: 40px;
}
.container-text-love-what-we-do{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-contain-love-what-we-do{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-contain-love-what-we-do h2{
    color: rgb(72, 74, 75);
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 50px;
}
.text-contain-love-what-we-do p{
    font-family: 'Josefin Slab', serif;
    font-weight: 400;
    color: rgb(118, 90, 51);
    font-size: 20px;
    line-height: 22px;
}
.container-text-love-what-we-do .more-btn{
    padding-left: 0;
    display: flex;
}
.leaf-decor-bottom-love-what-we-do{
    display: flex;
    justify-content: flex-end;
}
.leaf-decor-bottom-love-what-we-do > img{
    width: 12%;
    height: auto;
    object-fit: contain;
}
.form-subcribe{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e7e4da;
    padding-bottom: 50px;
}
.container-heading-form-subcribe{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heading-subcribe-form{
    display: flex;
    justify-content: center;
    width: 50%;
}
.heading-subcribe-form h2{
    font-size: 50px;
    color: rgb(72, 74, 75);
    font-family: 'Playfair Display', serif;
    text-align: center;
}
.paragraph-subscribe-form{
    width: 70%;
}
.paragraph-subscribe-form p{
    text-align: center;
    padding: 0 20px;
    font-size: 20px;
    font-family: 'Josefin Slab', serif;
    color: rgb(72, 74, 75);
}
.fill-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.fill-form input{
    width: 80%;
    padding: 25px 0;
    padding-left: 30px;
}
.fill-form .name-form, .fill-form .mail-form, .fill-form .message-form{
    margin-bottom: 30px;
}
.fill-form .message-form{
    padding-bottom: 150px;
}
.send-message-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 45px;
    background-color: #c87e6b;
    border-radius: 25px;

}
.send-message-btn a{
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
.footer{

}
@media (min-width: 280px){
    .nav-bar{
        display: none;
    }
    .flower-logo{
        justify-content: flex-start;
    }
    .nav_sidebar{
        width: 50vw;
    }
    .sidebar-btn{
        padding-right: unset;
    }
    .col-left .decor-leaf-flower{
        padding-top: 15px;
    }
    .flower-arrange-banner .col-left{
        position: relative;
        padding-bottom: 120px;
    }
    .decor-leaf-flower-bottom-left{
        position: absolute;
        width: 20%;
        left: 0;
        bottom: -8vw;
    }
    .decor-leaf-flower-bottom-left > img{
        width: 100%;
        height: fit-content;
        object-fit: contain;
    }
    .our-top-product-content{
        padding-top: 50px;
    }
    .heading-our-top-product{
        padding-bottom: 40px;
    }
    .intro-text-product p, .text-best-flower h2, .heading-best-flower-col-right p, 
    .text-take-care-detail h2, .text-contain-love-what-we-do h2, .text-contain-love-what-we-do p{
        text-align: center;
    }
    .video-how-we-do-it{
        padding-top: 50px;
    }
    .how-we-do-it-content{
        padding-bottom: 100px;
    }
    .heading-best-flower-col-right{
        padding-top: 30px;
        align-items: center;
    }
    .heading-best-flower-col-right p{
        font-size: 18px;
        padding: 0 12px;
    }
    .our-top-product-content h2, .text-best-flower h2{
        font-size: 35px;
    }
    .text-take-care-detail h2{
        font-size: 35px;
    }
    .container-text-takecare-detail p{
        text-align: center;
        padding: 0 12px;
        font-size: 18px;
    }
    .container-image-take-care-detail{
        width: 80%;
    }
    .text-best-flower {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .more-btn{
        display: flex;
        justify-content: center;
    }
    .leaf-image-love-what-we-do{
        width: 100%;
    }
    .text-contain-love-what-we-do h2{
        font-size: 35px;
    }
    .text-contain-love-what-we-do p{
        font-size: 18px;
    }
    .heading-subcribe-form h2{
        font-size: 35px;
    }
    .paragraph-subscribe-form p{
        font-size: 18px;
    }
    .intro-take-care-details{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .heading-take-care-detail{
        padding-top: 30px;
    }
    .intro-love-what-we-do{
        padding-top: 50px;
    }
    .leaf-image-love-what-we-do{
        padding-top: 10px;
    }
}
@media(min-width: 375px){
    .col-left .decor-leaf-flower{
        padding-bottom: 0;
    }
    .slick-next.slick-arrow{
        right: 34%;
    }
    .slick-prev.slick-arrow{
        left: 34%;
    }
    .heading-best-flower-col-right{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
    }
    .leaf-right-bottom-take-care-detail > img{
        width: 10%;
    }
    .more-btn{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .leaf-decor-best-flower-bottom{
        width: 10vw;
    }
    .image-take-care-detail{
        padding-right: 0;
    }
    .heading-best-flower-col-right p, .container-text-takecare-detail p, .text-contain-love-what-we-do p,
    .text-take-care-detail h2, .text-contain-love-what-we-do h2, .text-best-flower h2, .heading-best-flower-col-right p{
        text-align: center;
    }
    .text-contain p{
        padding: 20px 50px 50px;
    }
}
@media (min-width: 412px){
    .text-best-flower h2{
        padding: 0 3px;
    }
    .heading-best-flower-col-right p{
        padding: 0 30px;
    }
    .decor-leaf-flower-bottom-left{
        width: 14%;
    }
    .text-contain p{
        width: 80%;
        padding: 20px 0 40px;
    }
}
@media (min-width: 576px){
    .text-best-flower{
        padding-top: 100px;
    }
    .col-left .decor-leaf-flower{
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 50px;
    }
    .decor-leaf-flower-bottom-left > img{
        width: 15%;
        height: auto;
        object-fit: contain;
    }
    .text-best-flower .more-btn{
        display: flex;
        justify-content: center;
    }
    .text-take-care-detail .more-btn{
        display: flex;
        justify-content: center;
    }
    .container-text-love-what-we-do .more-btn{
        display: flex;
        justify-content: center;   
    }
    .slick-prev.slick-arrow{
        position: absolute;
        left: 35%;
    }
    .slick-next.slick-arrow{
        position: absolute;
        right: 35%;
    }
    .text-best-flower{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .text-best-flower h2{
        font-size: 45px;
        align-items: center;
    }
    .heading-best-flower-col-right p{
        text-align: center;
        font-size: 20px;
        padding: 15px 50px;
    }
    .image-take-care-detail{
        display: flex;
        justify-content: center;
    }
    .container-text-takecare-detail h2{
        text-align: center;
    }
    .image-take-care-detail > img{
        width: 70%;
    }
}
@media (min-width: 660px){
    .heading-best-flower-col-right p{
        padding: 0 80px;
    }
}
@media (min-width: 768px){
    .header{
        justify-content: space-between;
    }
    .sidebar-btn{
        padding-right: 20px;
    }
    .user-icon{
        display: flex;
        justify-content: center;
        padding: 0 0;
    }
    .user-icon .icon-shopping{
        padding: 0 18px;
    }
    .text-contain p{
        width: 53%;
    }
    .decor-leaf-flower-bottom-left > img{
        width: 12%;
        height: auto;
        object-fit: contain;
    }
    .col-left .decor-leaf-flower{
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 50px;
    }
    .text-best-flower{
        padding-top: unset;
    }
    .heading-best-flower-col-right p{
        padding: unset;
    }
    .container-text-takecare-detail h2{
        text-align: unset;
    }
    .text-contain-love-what-we-do{
        width: 80%;
    }
    .text-contain-love-what-we-do h2{
        text-align: unset;
        font-size: 40px;
    }
    .text-contain-love-what-we-do p{
        text-align: unset;
    }
    .text-take-care-detail{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .heading-best-flower-col-right{
        padding-top: unset;
    }
    .text-best-flower h2{
        font-size: 40px;
    }
    .image-leaf-best-flower > img{
        width: 70%;
    }
    .leaf-decor-best-flower-bottom{
        bottom: -10vw;
    }
    .heading-contain-best-flower, .paragraph-contain-best-flower{
        width: 80%;
    }
    .heading-best-flower-col-right p, .heading-best-flower-col-right h2{
        text-align: unset;
    }
    .text-best-flower .more-btn{
        width: 80%;
        justify-content: flex-start;
    }
    .intro-take-care-details{
        flex-direction: unset;
    }
    .intro-take-care-details{
        padding-top: 80px;
    }
    .container-text-takecare-detail p{
        text-align: unset;
        padding: unset;
    }
    .text-take-care-detail .more-btn{
        justify-content: flex-start;
    }
    .leaf-image-love-what-we-do{
        padding-top: unset;
    }
    .leaf-image-love-what-we-do > img{
        width: 30%;
    }
    .container-text-love-what-we-do .more-btn{
        width: 80%;
        display: flex;
        justify-content: flex-start;
    }
}
@media (min-width: 992px){
    .nav-bar{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .flower-arrange-banner .col-left{
        padding-bottom: 350px;
    }
    .decor-leaf-flower-bottom-left > img{
        width: 20%;
        height: auto;
        object-fit: contain;
    }
}
@media (min-width: 1024px){
    .intro-product-best-flower {
        position: relative;
        padding-top: 50px;
        background-color: #e7e4db;
        --bs-gutter-x: 0;
        padding-bottom: 160px;
        height: auto;
    }
    .intro-take-care-details{
        padding-top: 100px;
    }
}
@media (max-width: 992px) and (min-width: 360px){
    .header .user-icon .sidebar-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
}
