* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
}

.wrap {
    width: 100%;
    overflow: hidden;
}
/* header */
.header {
    position: relative;
    background-color: #ffe001;
    height: 700px;
}
.hdMenu {
    position: relative;
    right: 12%;
    display: flex;
}

.hdMenu>li {
    list-style: none;
    margin: 0 18px;
}

.hdMenu>li>a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}
.hdTitlePr {
    text-align: center;
}

.hdTitle {
    font-size: 45px;
    font-family: Gabelisa;
    margin-bottom: 1rem;
}

.hdTitle2 {
    font-size: 100px;
    margin-bottom : 1rem;
    font-family: FrederickatheGreat;
}
.hdTitle3 {
    font-size: 20px;
}
.hdTitle4 {
    width: 250px;
    font-size: 35px;
}
.hdTitle5{
    font-size: 70px;
}
.hdBox {
    font-family: FrederickatheGreat;
}
.phone {
    z-index: 2;
    text-align: end;
    width: 35%;
}
.hdItem1 {
    position:absolute;
    top:0;
    right:0;
}
.hdItem2 {
    position: absolute;
    left: 45%;
    width: 750px;
}
.hdItem3 {
    width: 50%;
}
.hdItem4 {
    margin-top: -3%;
    margin-left: 5rem;
}
.hdItem5 {
    position: absolute;
    bottom: -28%;
}
.hdItem5 > img {
    width: 200px;
}
.hdItem6 {
    display: flex;
    justify-content: center;
    margin-left: 10%;
}
.hdItem6 > img {
    width: 80px;
}
.hdItem7 {
    display: flex;
    justify-content: end;
    position: relative;
    margin-right: 20%;
    margin-top: -4%;
}
.hdItem7 > img {
    width: 50px;
}
.hdItem8 {
    display: flex;
    justify-content: center;
    margin-top: -10%;
}
.hdBox2 > button{
    background-color: #ffe001;
    padding: 4px 30px;
    border-radius : 4px;
}
.hdBox2 > button > h3 {
    font-weight: 800;
    line-height: 40px;
}
.btnPr {
    border: none;
    display: none;
    background: none;
}

.btnPr>i {
    font-size: 30px;
}
/*container*/
.ctn {
    position: relative;
}

.ctn-title {
    width: 100%;
    margin: auto;
    margin-bottom: 100px;
    font-size: 20px;
    text-align: center;
}
.ctnParent2 {
    position: relative;
}
.ctnItem1 {
    position: absolute;
    z-index: -2;
    bottom: 55%;
}
.ctnItem-ch>img {
    margin-left: 30px;
}
.ctnBox > h3 {
    font-size: 32px;
    font-weight: 600;
}
.ctnBox > p {
    font-size: 23px;
}
.ctnItem2 {
    text-align: center;
}
.ctn-bt > button{
    background-color: #ffe001;
    padding: 4px 30px;
    border-radius : 2px;
    border:none;
}
.ctn-bt > button > h3 {
    font-weight: 700;
    line-height: 40px;
}
/*slide*/

.ag-slide-block {
    overflow: hidden;
}

.ag-slide_item {
    padding: 30px 0;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -ms-transition: transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
}

.ag-slide_img {
    display: block;
    width: 100%;
    margin: 0 auto;
    opacity: 0.2;
    -webkit-box-shadow: 0 20px 172px 0 rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 20px 172px 0 rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0 20px 172px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 20px 172px 0 rgba(0, 0, 0, 0.05);
    -webkit-transition: ease 0.5s;
    -moz-transition: ease 0.5s;
    -ms-transition: ease 0.5s;
    -o-transition: ease 0.5s;
    transition: ease 0.5s;
}

.ag-slide-info_img {
    display: inline-block;
    width: 10px;
    height: 10px;
    -webkit-transform: translateY(25%);
    -moz-transform: translateY(25%);
    -ms-transform: translateY(25%);
    -o-transform: translateY(25%);
    transform: translateY(25%);
}

.ag-slide-block .swiper-container {
    padding-top: 13px;
}

.ag-slide-block .swiper-slide {
    z-index: 1;
    will-change: transform;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.ag-slide-block .swiper-slide-active {
    opacity: 1;
    z-index: 2;
    will-change: transform;
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -ms-transition: transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
}

.ag-slide-block .swiper-slide-active .ag-slide_img {
    opacity: 1;
    will-change: transform;
    -webkit-transition: ease 0.5s;
    -moz-transition: ease 0.5s;
    -ms-transition: ease 0.5s;
    -o-transition: ease 0.5s;
    transition: ease 0.5s;
}

.swiper-slide-active .ag-slide_info {
    opacity: 1;
    -webkit-transition: ease 0.5s;
    -moz-transition: ease 0.5s;
    -ms-transition: ease 0.5s;
    -o-transition: ease 0.5s;
    transition: ease 0.5s;
}
/*menu*/

.menu {
    padding: 0 0 100px 0;
    clear: both;
}

.menu-list {
    display: grid;
    justify-content: center;
    grid-template-columns: 640px 640px;
    grid-template-rows: 228px;
    margin: 100px 0;
}

.menuItem1 {
    grid-row-start: 1;
    grid-row-end: 3;
    position: relative;
}

.menuItem2 {
    grid-column-start: 2;
    position: relative;
}

.menuItem3 {
    grid-column-start: 2;
    position: relative;
}

.menu-input {
    display: flex;
    justify-content: center;
}
.input-left {
    text-align: end;
}
.menuItem1>h3,
.menuItem2>h3,
.menuItem3>h3 {
    color: #fff;
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 30px;
}

.menuItem1>h2 {
    position: absolute;
    top: 30%;
    left: 10%;
    color: #fff;
    width: 200px;
    font-size: 44px;
}

.menuItem3>h3 {
    font-size: 24px !important;
}
.menuItem2>h2,.menuItem3>h2 {
    position: absolute;
    top: 30%;
    left: 10%;
    color: #fff;
    width: 240px;
    font-size: 24px;
}

.input-item>input {
    width: 300px;
    padding: 12px;
    margin: 20px;
    border-radius: 4px;
    border: black 1px solid;
}

.input-left {
    width: 400px;
}

.input-right {
    width: 400px;
}

.mn-bt>button {
    margin: 20px 0 0 20px;
    padding: 4px;
    background-color: #ffe001;
    border: black 1px solid;
    border-radius: 6px;
    width: 300px;
}
/*footer*/
.footer {
    height: 500px;
}

.ft-pr>img {
    position: absolute;
    z-index: -2;
}

.ft-left>p {
    color: #ffff;
}

.ft-item,
.ft-item2,
.mxhTitle {
    color: #fff;
}

.ft-mxh>a>img {
    margin: 6px;
}

.ftContainer {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.ft-left {
    margin-right: 3rem;
}

.ft-right {
    width: 25%;
    margin-left: 3rem;
}

.ftMxh {
    margin: 3rem 0 3rem 3rem;
    width: 25%;
}

.ftItem {
    margin: 3rem 3rem 3rem 0;
    width: 50%;
}
@media (min-width: 993px) and (max-width: 1200px) {
    /* header */
    .hdItem2 {
        width: 680px;
        left: 30%;
        top: 5%;
    }
    .hdItem4 {
        margin-left: 0 !important;
    }
    .hdItem5 > img {
        width: 180px;
    }
    .hdItem6 {
        margin-left: 0;
    }
    .hdItem6 > img {
        width: 70px;
    }
    .hdTitle {
        font-size: 40px;
    }
    .hdTitle2 {
        font-size: 70px;
    }
    .hdTitle4 {
        width: 230px;
    }
    /* container */
    .ctn-title {
        font-size: 18px;
    }
    .ctnItem1 {
        bottom: 60%;
    }
    /* menu */
    .menu-list {
        display: block;
        padding: 0 20px;
    }
    .menuItem1 > h3 , .menuItem2 > h3 , .menuItem3 > h3{
        font-size: 45px !important;
    }
    .menuItem2 > h2 , .menuItem3 > h2 {
        top: 40%;
        font-size: 30px;
    }
    .menuItem2 , .menuItem3 {
        grid-column-start: 1;
    }
    .menuItem1 > img , .menuItem2 > img , .menuItem3 > img{
        width: 100%;
    }
    /* footer */
    .ft-left>p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .ft-right {
        right: 0 !important;
        top: 18% !important;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .ctnItem1 {
        display: none;
    }
    .header {
        height: 600px;
    }
    .hdItem2 {
        width: 600px;
        left: 22%;
        top: 5%;
    }
    .hdItem3 , .phone{
        width: 100%;
    }
    .hdItem3 > img {
        width: 200px;
    }
    .hdItem5 {
        bottom: -22%;
        left: 0;
    }
    .hdItem6 > img {
        width: 50px;
    }
    .hdItem7 {
        margin-top: 6%;
    }
    .hdItem7 > img {
        width: 40px;
    }
    .hdItem8 {
        margin-top: -5%;
        margin-right: 10%;
    }
    .hdItem8 > img {
        width: 60px;
    }
    .hdItem4 {
        margin-top: 1%;
        margin-left: 4%;
        position: relative;
    }
    .hdTitle {
        font-size: 26px;
        margin-bottom: 10px;
    }
    .hdTitle2 {
        font-size: 40px;
        margin-bottom: 10px;
    }
    .hdTitle3 {
        font-size: 16px;
        margin-bottom: 0;
    }
    .hdBox2 > button {
        padding: 2px 24px;
    }
    .hdItem5 > img {
        width: 150px;
    }
    .hdTitle4 {
        width: 150px;
    }
    .hdTitle4 , .hdTitle5 {
        font-size: 20px;
    }
    .itemdt {
        width: 150px;
        margin-right: 10px;
    }
    .headerImg {
        float: none;
    }
    .headerImg3 > img {
        width: 100%;
        top: 0;
    }
    /* menu */
    .menu-list {
        grid-template-columns: 400px;
        display: block;
        padding: 0 20px;
    }
    .menuItem1 > h3 , .menuItem2 > h3 , .menuItem3 > h3{
        font-size: 45px !important;
    }
    .menuItem2 > h2 , .menuItem3 > h2 {
        top: 40%;
        font-size: 30px;
    }
    .menuItem2 , .menuItem3 {
        grid-column-start: 1;
    }
    .menuItem1 > img , .menuItem2 > img , .menuItem3 > img{
        width: 100%;
    }
    .input-left , .input-right {
        text-align: center;
    }
    .mn-bt>button {
        margin: 20px 0 0 0;
        padding: 8px;
    }
    /* footer */
    .ft-left>p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .ft-right {
        right: -5% !important;
        width: 350px !important;
    }
    .ft-item,
    .ft-item2 {
        margin: 10px !important;
    }
    .ft-item>span,
    .ft-item2>span {
        font-size: 16px !important;
    }
    .ftContainer {
        margin-top: 2rem!important;
        margin-bottom: 2rem!important;
    }
    .ft-left,
    .ft-right {
        margin-right: 1rem !important;
        margin-left: 1rem !important;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .ft-left>span,
    .ft-left {
        display: none;
    }
    .fl-left>img {
        width: 45% !important;
    }
    .ft-left>p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 10%;
    }
    .ft-right {
        width: 100% !important;
    }
}

@media (min-width: 421px) and (max-width: 575px) {
    .ft-left{
        display: none;
    }
    .ft-right {
        width: 100% !important;
    }
    .ftMxh {
        margin-left: 0 !important;
        width: 30% !important;
    }
}

@media (max-width: 570px) {
    .ft-left , .hdMenu , .itemdt2 , .ctnItem1 , .hdItem6 , .hdItem7 , .hdItem8{
        display: none;
    }
    .header , .ctn , .menu{
        padding: 0 15px;
    }
    .hdItem2 {
        width: 100%;
        left: 0;
    }
    .hdItem3 , .phone{
        width: 100%;
    }
    .hdItem3 > img {
        width: 200px;
    }
    .hdItem4 {
        margin-left :0 !important;
    }
    .hdItem5 {
        bottom: -14%;
        left: 0;
    }
    .hdItem4 {
        margin-top: 78%;
        justify-content: center;
        position: relative;
    }
    .hdTitle > h2 {
        font-size: 26px;
        margin-bottom: 10px;
    }
    .hdTitle2 {
        font-size: 40px;
        margin-bottom: 10px;
    }
    .hdTitle3 > p{
        font-size: 20px;
    }
    .hdItem5 > img {
        width: 100px;
    }
    .hdTitle4 , .hdTitle5 {
        font-size: 22px;
    }
    .itemdt {
        width: 150px;
    }
    .headerImg {
        float: none;
    }
    .headerImg3 > img {
        width: 100%;
        top: 0;
    }
    .fl-left>img {
        width: 25%;
    }
    .btnPr {
        display: block;
        position: relative;
        z-index: 2;
        float: right;
    }
    /* ctni */
    .containerItem > img , .menuItem4 > img {
        width: 300px;
    }
    .ctn-title {
        font-size: 14px;
        margin-bottom: 50px;
    }
    /* menu */
    .menu-list {
        grid-template-columns: 400px;
        display: block;
    }
    .menuItem2 , .menuItem3 {
        grid-column-start: 1;
    }
    .menuItem1 > img , .menuItem2 > img , .menuItem3 > img{
        width: 100%;
    }
    .input-left , .input-right {
        text-align: center;
    }
    .mn-bt>button {
        margin: 0;
        padding: 8px;
    }
    .menuItem1>h2  {
        font-size: 24px;
        width: 150px;
    }
    .menuItem1>h3 , .menuItem2 > h3 , .menuItem3 > h3{
        font-size: 24px;
    }
    .menuItem2 > h2 , .menuItem3 > h2 {
        font-size: 20px;
    }
    .menuItem2>h2, .menuItem3>h2  {
        top: 40%;
        width: 180px;
    }
    .in4 {
        margin-bottom: 50px;
    }
    /* footer */
    .ft-right {
        width: 100% !important;
    }
    .ftMxh {
        margin: 3rem 0 3rem 0rem;
        width: 40%;
    }
    .ftItem {
        margin-right: 0 !important;
    }
}