*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header{
    left: 0;
    right: 0;
    top: 0;
    height: 130px;
    background-color: #ffe001;
}

.top-nav{
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.top-nav .logo{
    height: 80px;
    padding-top: 20px;
    padding-left: 35px;
}

.top-nav .logo > a > img{
    width: 170px;
    height: 43px;
} 

.top-nav .logo-contact{
    display: flex;
    padding-top: 12px;
    margin-right: 10px;
    flex-direction: column;
    /* flex-wrap: wrap; */
    align-items: flex-end;
    justify-content: center;
    width: 20rem;
}

.top-nav .group-right{
    display: flex;
}

.top-nav .iphone-logo{
    display: flex;
    padding-top: 10px;
    width: 70px;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding-right: 33px;
}

.top-nav .iphone-logo > a > img{
    height: 40px;
}

.top-nav .logo-contact h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.down-nav{
    display: flex;
    height: 50px;
    justify-content: flex-end;
    margin-right: 25px;
}

.down-nav #nav li{
    display: inline-block;
}

.down-nav #nav li a{
    text-decoration: none;
    display: block;
    line-height: 50px;
    padding: 0 12px;
    color: black;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
}

#banner{
    display: flex;
    position: relative;
    height: 656px;
    background-color: white;
    justify-content: center;
}

#banner .banner-color{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top left, #ebe9ac 50%, #ffe001 50%);
}

#banner .col-left{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    padding-left: 100px;
    align-content: space-between;
    margin-top: 40px;
    width: 50vw;
    height: 560px;
}

#banner .col-left .group-item-1{
    width: 500px;
    height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#banner .col-left .group-item-1 img{
    width: 55.5px;
    height: 70px;
    margin-left: 65px;
}

#banner .col-left h2{
    font-size: 37px;
    font-family: 'Gabriela', serif;
    text-align: center;
}

#banner .col-left h1{
    font-size: 70px;
    font-family: 'Fredericka the Great', cursive;
    font-weight: 100;
    text-transform: uppercase;
    padding-bottom: 10px;
}

#banner .col-left .slogan{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    padding-bottom: 15px;
}

#banner .col-left > p{
    margin-bottom: 25px;
}

#banner .col-left .blessing{
    font-family: 'Fredericka the Great', cursive;
    font-weight: 500;
    padding-right: 10px;
    padding-bottom: 25px;
}

#banner .col-left .calculate{
    font-family: 'Fredericka the Great', cursive;
    font-weight: 500;
    font-size: 35px;
    padding-left: 10px;
}

#banner .col-left .group-slogan-two{
    display: flex;
}

#banner .col-right{
    position: relative;
    display: flex;
    justify-content: center;
    padding-right: 100px;
    margin-top: 50px;
    width: 50vw;
    height: 560px;
}

#banner .col-right a .spaghetti{
    width: 400px;
    height: 400px;
    /* box-shadow: 0 0 10px rgba(0,0,0,0.3); */
}

#banner .col-right .leaf2{
    position: absolute;
    width: 60px;
    height: 80px;
    bottom: 160px;
    right: 10px;
}

#banner .col-right .tomato{
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 160px;
    left: 20px;
}

#banner .order-btn{
    display: flex;
    width: 150px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: #ffe001;
    border: 0.5px solid black;
}

#banner .order-btn:hover a{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #000;
    color: #fff;
    width: 100%;
    height: 100%;
}

#banner .order-btn a{
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight:900;
}

#banner .noodle-crop{
    position: absolute;
    left: -12%;
    bottom: 0;
    width: 350px;
    height: 140px;
}

#content{
    position: relative;
    justify-content: center;
    height: 750px;
    background-color:#fff;
}

#content .noodle-crop-2{
    position: absolute;
    top: 0;
    left: -12%;
    width: 350px;
    height: 140px;
}

#content .choose_and_enjoy{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-end;
    height: 220px;
    align-items: center;
    padding-bottom: 50px;
}

#content .choose_and_enjoy .title-desc{
    font-size: 40px;
    font-family: 'Fredericka the Great', cursive;
    font-weight: 100;
}

#content .choose_and_enjoy .text-desc{
    padding-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

#content .choose_and_enjoy .text-desc-2{
    padding-top: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

#content .choose-enjoy-food-list{
    display: flex;
    justify-content: space-around; 
    height: 600px;
}

#content .choose-enjoy-food-list a img{
    width: 300px;
    height: 300px;
}

#content .choose-enjoy-food-list .group-food{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content .choose-enjoy-food-list .group-food-2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content .choose-enjoy-food-list .group-food-3{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content .choose-enjoy-food-list h2{
    padding-top: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

#content .choose-enjoy-food-list .text-desc{
    padding-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

#content .choose-enjoy-food-list .text-desc-2{
    padding-bottom: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

#content .choose-enjoy-food-list .order-btn{
    display: flex;
    width: 150px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: #ffe001;
    border: 0.5px solid black;
}

#content .choose-enjoy-food-list .order-btn a{
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight:900;
}

#content .choose-enjoy-food-list .order-btn:hover a{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #000;
    color: #fff;
    width: 100%;
    height: 100%;
}

#slider{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#slider .up_coming_event{
    display: flex;
    height: 150px;
    flex-direction: column;
    align-items: center;
}

#slider .up_coming_event h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

#slider .up_coming_event .title-desc{
    font-family: 'Fredericka the Great', cursive;
    font-size: 40px;
    font-weight: 100;
    text-transform: uppercase;
}

#slider .up_coming_event .text-desc{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

#slider .up_coming_event .text-desc-2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

/* html,
body {
  position: relative;
  height: 100%;
} */

/* body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
} */

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.swiper .swiper-button-prev, .swiper .swiper-button-next{
    color: #fff;
}

.swiper .swiper-pagination-bullet-active{
    background-color: #000;
}

.swiper-slide .test{
    position: relative;
}

.swiper-slide .test .set-overlay{
    position: absolute;
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
}

.swiper-slide.swiper-slide-active{
    transform: scale(1.3) !important;
    z-index: 1;
    background-color: rgba(0,0,0,0) !important;
}

.swiper-slide-active .set-overlay {
    display: none;
}

/* .swiper-slide.swiper-slide-prev .test, 
.swiper-slide.swiper-slide-duplicate.swiper-slide-next .test{
    position: relative;
} */

/* .swiper-slide.swiper-slide-prev .set-overlay, 
.swiper-slide.swiper-slide-duplicate.swiper-slide-next .set-overlay{
    position: absolute;
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
} */

#more-content{
    background-color: #fff;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#more-content .try-it-containter{
    background-color: #fff;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 1200px;
    height: 400px;
    /* grid-gap: 10px; */
}

#more-content .try-it-containter > div{
    /* background-color: #000; */
}

#more-content .try-it-containter .try-it-one{
    display: flex;
    position: relative;
    grid-row-end: span 2;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
}

#more-content .try-it-containter .try-it-two{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#more-content .try-it-containter .try-it-three{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

#more-content .try-it-one h3{
    
}

#more-content .try-it-one .title-more-content-one{
    position: absolute;
    top: 50px;
    left: 80px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 500;
}

#more-content .try-it-one .title-more-content-two{
    position: absolute;
    top: 100px;
    left: 80px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    font-weight: 500;
}

#more-content .try-it-two h3{
    position: absolute;
    top: 20px;
    left: 40px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 500;
}

#more-content .try-it-one > img{
    width: 540px;
    height: 360px;
    padding-right: 25px;
}

#more-content .try-it-two > img{
    width: 560px;
    height: 165px;
}

#more-content .try-it-three > img{
    width: 560px;
    height: 165px;
}

#more-content .group-try-it-right{

}
