* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
}

/* header */
.hdRight {
    position: absolute;
    right: 0;
    top: 15%;
}
.header {
    text-align: center;
}
.hdItem >h2 {
    font-family: Cardo;
    font-size: 80px;
    font-weight: 600;
}
.hdItem >h2 > a {
    color: black;
}
.hdItem4 {
    text-decoration: none;
    font-family: Lato;
    font-weight: 600;
    color: black;
    font-size: 18px;
}
.hdItem4:hover {
    color: red;
}
.dropdown-menu {
    width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 30px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
/*container*/
.row {
    --bs-gutter-x: 0 !important;
}
.ctn {
    padding-top: 100px;
}
.ctnParent {
    position: relative;
}
.ctnleft-img {
    position: absolute;
    top: 18%;
    left: -8%;
}
.ctnright-title>ins {
    font-size: 35px;
    font-weight: 500;
}
.ctnright-icon {
    font-size: 50px;
}

.mySwiper {
    width: 100% !important;
}
.swiper-button-next , .swiper-button-prev {
    top: 90% !important;
}

/*container2*/
.row  {
    padding-right: 0 !important;
}
.container2 {
    background-color: black;
    margin-top: 50px;
}

.ctn2-group {
    padding: 100px 0 50px 0;
}

.ctn2-item {
    color: #ffff;
    margin-bottom: 20px;
    width: 400px;
}

.ctn2-item>h1 {
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 50px;
}

.ctn2-item>h2 {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 400;
}

.ctn2-item>span {
    font-size: 14px;
}

.ctn-bt {
    clear: both;
}
/*footer*/

.container3 {
    padding: 100px 0;
}
.ctnItem1 {
    margin-bottom: 50px;
    font-size: 65px;
    font-weight: 600;
    font-family: Cardo;
}

.containerItem {
    padding: 20px;
    font-size: 18px;
    border-bottom: black 2px solid;
}
.ctnItem2 {
    border-top: black 2px solid;
}
.dropdown {
    display: contents;
}
.dropdown > button {
    background: #fff !important;
    border: none !important;
}
.dropdown > button:hover {
   box-shadow: none !important;
   border: none !important;
}
.dropdown-menu {
    position: relative !important;
    transform: translate(0px, 0px) !important;
    border: none !important;
}
.swiper-button-next {
    width: 100% !important;
    color: black !important;
    justify-content: end !important;
    position: relative !important;
}
.ctn3Item {
    color: black;
    font-size: 16px;
}
@media (max-width: 991.98px) { 
    .ctnImg1 {
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 575.98px) { 
    .ctn-right {
        justify-content: center;
    }
    .containerItem {
        width: 100%;
    }
    .ctnParent > img , .ctnImg1 > img , .ftItem2 > img{
        width: 100%;
    }
    .hdRight > img {
        display: none;
    }
    .ftItem1 > h2 {
        text-align: center;
    }
    .dropdown-menu {
        width: 100%;
    }
    .ctn2-item {
        width: 100%;
    }
    
}
@media (min-width: 320px) {
    .ctn2-right {
        justify-content: center;
    }
}
@media (min-width: 768px) {
    .ctn2-item2 {
        width: 400px;
    }
    .ctn1-item1 {
        width: 400px;
    }
    .ctn1-item {
        justify-content: center;
    }
}
@media (min-width: 992px) {
    .ctnItem1 {
        font-size: 55px;
    }
    .ctn2-right {
        justify-content: end;
    }
    .ctn2-item2 {
        width: 100%;
    }
    .ctn1-item1 {
        width: 100%;
    }
    .ctnright-item2 {
        width: 400px;
    }
}
@media (min-width: 1200px) {
    .ctnItem1 {
        font-size: 65px;
    }
}








