*{
    margin: 0;
    padding: 0;
    border: 0;
}body{
    background-image: url(/floral/img_and_fonts/image/Texture.png);
}
.header{
    background-color: #c87e6b;
    height: 100px;
}
.flower-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.flower-logo > img{
    width: 150px;
    height: 45px;
}
.nav-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;}
.nav-bar .nav-bar-list {
    display: inline-block;margin-bottom: 0;padding-left: 0;
}
.nav-bar .nav-bar-list li{
    display: inline-block;
    position: relative;
}
.nav-bar-list .sign_in{
    border: 2px solid white;
    border-radius: 15px;
}
.nav-bar .nav-bar-list a{
    text-decoration: none;
    color: #fff;
    padding: 0 15px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}
.nav-bar .nav-bar-list{
    list-style-type: none;
}
.user-icon{
    display: flex;
    flex-direction: row;   
    justify-content: flex-end; 
}
.icon-user, .icon-shopping{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}
.icon-user i, .icon-shopping i{
    font-size: 20px;
    color: #fff;
}
.sidebar-btn{
    display: none;
    align-items: center;
    padding-right: 20px;
}
.sidebar-btn i{
    color: #fff;
    font-size: 20px;
}
.nav_overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: flex-start;
    display: none;
}
.nav_overlay.open{
    display: flex;
}
.nav_sidebar{
    background-color: #c87e6b;
    width: 200px;
    height: 100vh;
    position: relative;
}
.nav_sidebar .nav_list > li{
    display: block;
    width: 100%;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    background-color: #484a4b;
}
.nav_sidebar .nav_list li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
.nav_list{
    padding-top: 50px;
}
.sidebar-close{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #000;
    color:#fff;
    font-weight: 800;
    padding: 12px 15px;
    opacity: 0.8;
}
.sidebar-close:hover{
    background-color: red;
    color:#fff;
    opacity: 1;
}
.sidebar-close svg{
    line-height: 2;
    color: #fff;
}
.sidebar-close, .sidebar-close .nav_list li{
    cursor: pointer;
}
.flower-arrange-banner{
    height: auto;
}
.flower-arrange-banner .col-left{
    min-height: 756px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #e3e0d6;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 50px;
}
.flower-arr-choose{
    display: flex;
    justify-content: center;
}
.shop-flower-arr-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    background-color: #787878;
    border-radius: 20px;
    margin-right: 10px;
}
.shop-flower-arr-btn a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 600;
}
.read-more-flower-arr-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 115px;
    height: 40px;
    background-color:  #e3e0d6;
    border-radius: 20px;
    margin-left: 10px;
}
.read-more-flower-arr-btn a{
    color: #484a4b;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 600;
}
.col-left .decor-leaf-flower{
    display: flex;
    justify-content: end;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-right: 50px;
}
.text-contain{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-contain li{
    font-family: 'Montserrat Alternates', sans-serif;
    color: rgb(118, 90, 51);
    font-size: 25.3px;
}
.text-contain p{
    text-align: justify;
    font-size: 25px;
    line-height: 30px;
    font-family: 'Josefin Slab', serif;
    color: rgb(118, 90, 51);
    margin-bottom: 0;
    padding: 15px 150px 50px;
}
.flower-arrange-banner .col-left h2{
    margin-bottom: 0;
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    text-align: center;
    color: rgb(72, 74, 75);
    padding-bottom: 20px;
}
.decor-leaf-flower-bottom-left{
    min-height: 270px;
}
.decor-leaf-flower-bottom-left > img{
    position: absolute;
    object-fit: contain;
    bottom: 0;
    left: 0;
}
.flower-arrange-banner .col-right{
    background-color: #e4e1d7;
    padding-left: 0;
    padding-right: 0;
}
.flower-arrange-banner .col-right > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sales{
    padding: 50px 0;
    background-color: #765a33;
    min-height: 270px;
}
.sales .number-run{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sales .number-run h3{
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    color: rgb(255, 255, 255);
    margin-bottom: 0;
}
.sales .number-run h4{
    color: rgb(255, 255, 255);
    margin-bottom: 0;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 500;
    text-align: center;
}
.our-top-product-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 104px;
    background-color: #e5e2d8;
    min-height: 950px;
}
.header-our-top-product{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.heading-our-top-product{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 90px;
}
.our-top-product-content h2{
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    margin-bottom: 0;
    color: rgb(72, 74, 75);
    padding-bottom: 10px;
    text-align: center;
}
.our-top-product-content h3{
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 600;
    color: rgb(118, 90, 51);
    margin-bottom: 0;
    text-align: center;
}
.respon-slider{
    --bs-gutter-x: 0;
    width: 100%;
    min-height: 700px;
}
.flower-slider{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.swiper.mySwiper{
    padding-top: 134px;
}
.flower-image-slider{
    display: flex;
    justify-content: center;
}
.flower-image-slider > img{
    width: 90%;
    object-fit: contain;
}
.intro-text-product{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}
.intro-text-product h3{
    font-family: "PlayfairDisplay";
    color: rgb(72, 74, 75);
    font-size: 30px;
}
.intro-text-product p{
    padding: 0 35px;
    font-size: 15px;
    line-height: 20px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 500;
    color: rgb(118, 90, 51);
}
.more-btn{
    padding-left: 30px;
    width: 90%;
    display: flex;
    justify-content: flex-start;
}
.read-more-btn{
    width: 100px;
    height: 30px;
    border-radius: 15px;
    background-color: rgb(69, 69, 69);
    color: #fff;
}
.leaf-decor-product-bottom{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.slick-slider .slick-arrow:focus, .slick-slider .slick-arrow:hover{
    background-color: rgb(69, 69, 69);
    color: #fff;
}
.slick-prev.slick-arrow{
    top: 85%;
    left: 40%;
}
.slick-next.slick-arrow, .slick-prev.slick-arrow{
    font-size: 20px;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(69, 69, 69);
    border: none;
    position: absolute;
}
.slick-prev.slick-arrow:hover{
    background-color: rgb(69, 69, 69);
}
.slick-prev.slick-arrow::before{
    content: unset;
}
.slick-next.slick-arrow::before{
    content: unset;
}
.slick-next.slick-arrow{
    top: 85%;
    right: 40%;
}
.slick-next.slick-arrow:hover{
    background-color: rgb(69, 69, 69);
}
.nav_list{
    padding-left: 0;
}
.leaf-decor-product-bottom{
    position: relative;
}
.leaf-bottom-left-product > img{
    position: absolute;
    bottom: 80px;
    left: 10px;
}
.leaf-bottom-right-product > img{
    position: absolute;
    bottom: 80px;
    right: 10px;
}
.how-we-do-it-content{
    position: relative;
    background-color: #e3e0d6;
    height: auto;
    padding-bottom: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.leaf-left-how-we-do-it{
    position: absolute;
    width: 8%;
    height: 25%;
    left: 0;
}
.leaf-left-how-we-do-it > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.left-right-how-we-do-it{
    position: absolute;
    width: 8%;
    height: 25%;
    right: 0;
    bottom: 0;
}
.left-right-how-we-do-it > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.how-we-do-it-content h2{
    font-size: 50px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color: rgb(72, 74, 75);
    text-align: center;
}
.how-we-do-it-content h4{
    font-size: 20px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 500;
    color: rgb(118, 90, 51);
    text-align: center;
    padding: 0 15px;
}
.box-brown-decor-top-how-we-do-it{
    position: absolute;
    width: 50%;
    height: 50%;
    border: 5px solid rgb(138, 106, 62);
    right:  7%;
    top: 10%;
    z-index: -1;
}
.box-decor-bottom-how-we-do-it{
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: #c87e6b;
    bottom: -5%;
    left: 7%;
    z-index: -1;
}
.video-how-we-do-it{
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
    padding-top: 110px;
}
.video-how-we-do-it > video{
    width: 80%    !important;
    height: auto   !important;
}
.special-sale-off{
    height: auto;
    --bs-gutter-x: 0;
}
.special-sale-off .offer-col-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 350px;
    padding-right: 0;
    padding-left: 0;
    background-color: #ddc57c;
}
.offer-col-left .spec-offer-btn{
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #424242;
    border-radius: 25px;
}
.offer-col-left .spec-offer-btn a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: 700;
}
.offer-col-left h2{
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 900;
    font-size: 110px;
    color: #424242;
}
.offer-col-left h3{
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: #424242;
}
.special-sale-off .image-offer-col-right{
    padding-right: 0;
    padding-left: 0;
}
.special-sale-off .image-offer-col-right > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.intro-product-best-flower{
    position: relative;
    padding-top: 50px;
    background-color: #e7e4db;
    --bs-gutter-x: 0;
    padding-bottom: 50px;
}
.image-best-flower-col-left{
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 1;
}
.image-best-flower-col-left > img{
    width: 100%;
    height: 80%;
    object-fit: contain;
}
.box-pink-top-best-flower{
    background-color: #c87e6b;
    width: 20%;
    height: 20%;
    position: absolute;
    top: 5%;
    right: 5%;
    z-index: -1;
}
.box-brown-bottom-best-flower{
    position: absolute;
    width: 40%;
    height: 40%;
    bottom: 5%;
    left: 5%;
    border: 5px solid #765a33;
    z-index: -1;
}
.heading-best-flower-col-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text-best-flower{
    width: 80%;
}
.text-best-flower .more-btn{
    padding-left: 0;
}
.text-best-flower h2{
    font-family: 'Playfair Display', serif;
    font-size: 50px;
}
.heading-best-flower-col-right p{
    font-family: 'Josefin Slab', serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: rgb(118, 90, 51);
}
.leaf-decor-best-flower-bottom{
    position: absolute;
    width: 10%;
    height: 30%;
    bottom: 0;
    right: 0;
}
.leaf-decor-best-flower-bottom > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.intro-take-care-details{
    --bs-gutter-x: 0;
    background-color: #e7e4da;
}
.heading-take-care-detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text-take-care-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-text-takecare-detail{
    display: flex;
    flex-direction: column;
    width: 70%;
    /* padding: 0 70px; */
}
.text-take-care-detail h2{
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    text-align: start;
}
.text-take-care-detail .more-btn{
    width: 70%;
    padding-left: 0;
}
.image-take-care-detail{
    position: relative;
    display: flex;
    min-height: 600px;
    z-index: 1;
} 
.image-take-care-detail .box-pink-take-care-detail{
    background-color: #c87e6b;
    width: 20%;
    height: 15%;
    position: absolute;
    top: 5%;
    left: -5%;
    z-index: -1;
}
.image-take-care-detail .box-brown-take-care-detail{
    position: absolute;
    width: 40%;
    height: 40%;
    bottom: 5%;
    right: 5%;
    border: 5px solid #765a33;
    z-index: -1;
}
.image-take-care-detail > img{
    width: 85%;
    height: 100%;
    object-fit: contain;
}
.intro-love-what-we-do{

}
.form-subcribe{

}
.footer{

}
/* @media (max-width: 1440px) and (min-width: 768px){
    .how-we-do-it-content{
        min-height: 950px;
    }
} */
/* @media (max-width: ) */
@media (max-width: 1200px){
    .image-take-care-detail .box-pink-take-care-detail{
        position: absolute;
        width: 20%;
        height: 15%;
        top: 10%;
        left: -5%;
    }
    .image-take-care-detail .box-brown-take-care-detail{
        position: absolute;
        width: 40%;
        height: 40%;
        bottom: 10%;
        right: 10%;
    }
}
@media (max-width: 1100px){
    .box-brown-decor-top-how-we-do-it {
        position: absolute;
        width: 50%;
        height: 50%;
        right: 5%;
        top: 15%;
    }
    .image-take-care-detail .box-pink-take-care-detail{
        position: absolute;
        width: 20%;
        height: 15%;
        top: 12%;
        left: -5%;
    }
    .image-take-care-detail .box-brown-take-care-detail{
        position: absolute;
        width: 40%;
        height: 40%;
        bottom: 15%;
        right: 7%;
    }
}
@media (max-width: 992px) and (min-width: 360px){
    .header .user-icon .sidebar-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
}
@media (max-width: 992px){
    .header{
        justify-content: space-between;
    }
    .user-icon{
        display: flex;
        justify-content: center;
        padding: 0 0;
    }
    .user-icon .icon-shopping{
        padding: 0 18px;
    }
    .nav-bar{
        display: none;
    }
    .box-brown-decor-top-how-we-do-it {
        position: absolute;
        width: 50%;
        height: 50%;
        right: 5%;
        top: 15%;
    }
    .image-take-care-detail .box-pink-take-care-detail{
        position: absolute;
        width: 20%;
        height: 15%;
        top: 15%;
        left: -5%;
    }
    .image-take-care-detail .box-brown-take-care-detail{
        position: absolute;
        width: 40%;
        height: 40%;
        bottom: 15%;
        right: 7%;
    }
}
@media(max-width: 900px){
    .box-brown-decor-top-how-we-do-it {
        position: absolute;
        width: 50%;
        height: 50%;
        right: 5%;
        top: 15%;
    }
    .image-take-care-detail .box-pink-take-care-detail{
        position: absolute;
        width: 20%;
        height: 10%;
        top: 20%;
        left: -5%;
    }
    .image-take-care-detail .box-brown-take-care-detail{
        position: absolute;
        width: 40%;
        height: 30%;
        bottom: 20%;
        right: 7%;
    }
}
@media(max-width: 820px){
    .box-brown-decor-top-how-we-do-it{
    position: absolute;
    width: 50%;
    height: 50%;
    right: 5%;
    top: 15%;
    }
}
@media (max-width: 768px){
    .slick-prev.slick-arrow{
        position: absolute;
        left: 35%;
    }
    .slick-next.slick-arrow{
        position: absolute;
        right: 35%;
    }
    .text-best-flower{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .text-best-flower h2{
        font-size: 45px;
        align-items: center;
    }
    .heading-best-flower-col-right p{
        text-align: center;
        font-size: 20px;
        padding: 15px 50px;
    }
    .image-take-care-detail{
        display: flex;
        justify-content: center;
    }
    .container-text-takecare-detail h2{
        text-align: center;
    }
    .image-take-care-detail > img{
        width: 70%;
    }
    .image-take-care-detail .box-pink-take-care-detail{
        width: 20%;
        height: 15%;
        position: absolute;
        top: 7%;
        left: 9%;
    }
    .image-take-care-detail .box-brown-take-care-detail{
        width: 40%;
        height: 40%;
        bottom: 5%;
        right: 8%;
    }
}
@media (max-width: 700px){
    .box-brown-decor-top-how-we-do-it {
        position: absolute;
        width: 50%;
        height: 50%;
        right: 7%;
        top: 20%;
    }
    .image-take-care-detail .box-pink-take-care-detail{
        width: 20%;
        height: 15%;
        position: absolute;
        top: 12%;
        left: 8%;
    }
    .image-take-care-detail .box-brown-take-care-detail{
        width: 40%;
        height: 30%;
        bottom: 10%;
        right: 8%;
    }
}
@media (max-width: 576px){
    .box-brown-decor-top-how-we-do-it {
        position: absolute;
        width: 50%;
        height: 50%;
        right: 4%;
        top: 25%;
    }
    .image-take-care-detail .box-pink-take-care-detail {
        width: 20%;
        height: 15%;
        position: absolute;
        top: 18%;
        left: 8%;
    }
    .image-take-care-detail .box-brown-take-care-detail {
        width: 40%;
        height: 30%;
        bottom: 18%;
        right: 8%;
    }
    .text-best-flower h2{
        font-size: 40px;
        text-align: center;
    }
    .text-contain p{
        padding-left: 90px;
        padding-right: 90px;
    }
}
@media (max-width: 480px){
    .flower-arrange-banner .col-left h2{
        font-size: 50px;
    }
    .text-contain li{
        font-size: 22px;
    }
    .text-contain p{
        font-size: 18px;
        line-height: 25px;
    }
}
