@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@400;500;700&display=swap");
body {
  background-image: url(/assets/img/bg.png);
}
body .block_header {
  background-color: #c87e6b;
}
body .block_header .container-fluid .navbar-brand {
  margin-right: 0;
}
body .block_header .container-fluid .navbar-brand .nav_pic {
  width: 100%;
}
body .block_header .container-fluid .navbar-toggler {
  line-height: unset;
}
body .block_header .container-fluid .box_collapse .nav-item {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #e7e4db;
  line-height: 2.048;
  text-transform: uppercase;
  margin: auto;
}
@media (min-width: 768px) and (max-width: 1023px) {
  body .block_header .container-fluid .box_collapse .nav-item {
    font-size: 15px;
  }
}
@media (min-width: 1024px) {
  body .block_header .container-fluid .box_collapse .nav-item {
    font-size: 20px;
    margin: 0 25px;
  }
}
body .block_header .container-fluid .box_collapse .nav-item:hover {
  color: #ffffff;
}
body .block_header .container-fluid .box_collapse #sign_in {
  border: 2px solid;
  border-radius: 25px;
  padding: 5px 5px;
  white-space: nowrap;
}
body .block_header .container-fluid .box_collapse .box_session a {
  margin-right: 10px;
}
body .block_header .container-fluid .box_collapse .box_session .menu_mobi {
  display: none;
}
body .block_banner .big_box_banner .box_banner .box_small_banner {
  padding: 30px 45px 30px;
  position: relative;
  background-image: url("/assets/img/leaf_topbanner.png");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 15%;
}
body .block_banner .big_box_banner .box_banner .box_small_banner .box_small_text {
  position: relative;
}
body .block_banner .big_box_banner .box_banner .box_small_banner .box_small_text .banner_title {
  font-family: "Playfair Display", serif;
  overflow: hidden;
  font-size: 40px;
  font-weight: bold;
  color: #484a4b;
}
@media (min-width: 768px) and (max-width: 1023px) {
  body .block_banner .big_box_banner .box_banner .box_small_banner .box_small_text .banner_title {
    font-size: 40px;
    overflow: unset;
  }
}
@media (min-width: 1024px) {
  body .block_banner .big_box_banner .box_banner .box_small_banner .box_small_text .banner_title {
    font-size: 100px;
  }
}
body .block_banner .big_box_banner .box_banner .box_small_banner .box_small_text .small_title {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 30px;
  overflow: hidden;
  font-weight: 700;
  color: #765a33;
  position: relative;
  padding: 0 25px;
  margin: auto;
}
body .block_banner .big_box_banner .box_banner .box_small_banner .box_small_text .small_title::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #765a33;
  border-radius: 50%;
  top: 50%;
  left: 0;
}
@media (min-width: 768px) and (max-width: 1023px) {
  body .block_banner .big_box_banner .box_banner .box_small_banner .box_small_text .small_title::before {
    left: 0;
  }
}
@media (min-width: 1024px) {
  body .block_banner .big_box_banner .box_banner .box_small_banner .box_small_text .small_title::before {
    left: 0;
  }
}
body .block_banner .big_box_banner .box_banner .box_small_banner .box_small_text .small_title::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #765a33;
  border-radius: 50%;
  top: 50%;
  right: 0%;
}
@media (min-width: 768px) and (max-width: 1023px) {
  body .block_banner .big_box_banner .box_banner .box_small_banner .box_small_text .small_title::after {
    right: 0;
  }
}
@media (min-width: 1024px) {
  body .block_banner .big_box_banner .box_banner .box_small_banner .box_small_text .small_title::after {
    right: 0;
  }
}
body .block_banner .big_box_banner .box_banner .box_small_banner .box_small_text .para_text {
  font-family: "Josefin Slab", serif;
  font-size: 16px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  body .block_banner .big_box_banner .box_banner .box_small_banner .box_small_text .para_text {
    font-size: 15px;
  }
}
@media (min-width: 1024px) {
  body .block_banner .big_box_banner .box_banner .box_small_banner .box_small_text .para_text {
    font-size: 20px;
  }
}
body .block_banner .big_box_banner .box_banner .box_small_banner .box_button .btn_shop {
  font-family: "Montserrat Alternates", sans-serif;
  background-color: #787878;
  color: #ffffff;
  padding: 5px 20px;
  border-radius: 8px;
  border: none;
  font-weight: 700;
}
@media (min-width: 1024px) {
  body .block_banner .big_box_banner .box_banner .box_small_banner .box_button .btn_shop {
    font-size: 20px;
  }
}
body .block_banner .big_box_banner .box_banner .box_small_banner .box_button .btn_read {
  font-family: "Montserrat Alternates", sans-serif;
  border: none;
  background: none;
  font-weight: 700;
}
@media (min-width: 1024px) {
  body .block_banner .big_box_banner .box_banner .box_small_banner .box_button .btn_read {
    font-size: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  body .block_banner .big_box_banner .box_banner .box_small_banner {
    padding: 40px 45px 0px;
    margin-top: 0px;
  }
}
@media (min-width: 1024px) {
  body .block_banner .big_box_banner .box_banner .box_small_banner {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
body .block_banner .big_box_banner .box_banner .img_banner {
  width: 100%;
  height: auto;
}
body .block_banner .big_box_banner .box_banner:nth-child(1) {
  background-image: url("/assets/img/leaf_banner.png");
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 15%;
}
body .block_banner .box_achievement {
  background-color: #6b502c;
}
body .block_banner .box_achievement .small_box_achive {
  margin: 50px 0px;
}
body .block_banner .box_achievement .small_box_achive .achive_count {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  line-height: 0.67;
  color: #ffffff;
  font-size: 45px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  body .block_banner .box_achievement .small_box_achive .achive_count {
    font-size: 50px;
  }
}
@media (min-width: 1024px) {
  body .block_banner .box_achievement .small_box_achive .achive_count {
    font-size: 70px;
  }
}
body .block_banner .box_achievement .small_box_achive .achive_name {
  font-family: "Montserrat Alternates", sans-serif;
  line-height: 1.256;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  body .block_banner .box_achievement .small_box_achive .achive_name {
    font-size: 16px;
  }
}
body .block_product {
  margin-top: 100px;
}
body .block_product .box_product_title {
  margin-bottom: 70px;
  background-image: url("/assets/img/left_right.png"), url("/assets/img/left_left.png");
  background-position: bottom left, bottom right;
  background-repeat: no-repeat;
  background-size: 5%;
}
body .block_product .box_product_title .product_title {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  line-height: 0.905;
  text-align: center;
  font-size: 35px;
  color: #484a4b;
}
@media (min-width: 768px) and (max-width: 1023px) {
  body .block_product .box_product_title .product_title {
    font-size: 100px;
  }
}
@media (min-width: 1024px) {
  body .block_product .box_product_title .product_title {
    font-size: 134px;
  }
}
body .block_product .box_product_title .product_small_title {
  font-family: "Montserrat Alternates", sans-serif;
  text-align: center;
  font-weight: 500;
  color: #917c5d;
  overflow: hidden;
  font-size: 16px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  body .block_product .box_product_title .product_small_title {
    font-size: 20px;
  }
}
@media (min-width: 1024px) {
  body .block_product .box_product_title .product_small_title {
    font-size: 25px;
  }
}
body .block_product .box_list_product .carousel-inner .carousel-item {
  padding: 15px;
}
body .block_product .box_list_product .carousel-inner .carousel-item .smallbox_product {
  margin-top: 50px;
  background-color: rgb(230, 227, 218);
  box-shadow: 0px 7px 18px 0px rgba(0, 0, 0, 0.19);
  width: 90%;
  margin: auto;
}
body .block_product .box_list_product .carousel-inner .carousel-item .smallbox_product .product_img .product_pic {
  width: 100%;
}
body .block_product .box_list_product .carousel-inner .carousel-item .smallbox_product .product_img .love_icon {
  float: right;
  margin-top: 15px;
  padding-right: 15px;
  font-size: 20px;
}
body .block_product .box_list_product .carousel-inner .carousel-item .smallbox_product .detail_product {
  margin-top: 30px;
  padding: 0px 40px 20px;
}
body .block_product .box_list_product .carousel-inner .carousel-item .smallbox_product .detail_product .detail_product_title {
  font-family: "Playfair Display", serif;
  color: #484a4b;
  font-weight: bold;
  line-height: 0.905;
  text-align: center;
  font-size: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (min-width: 768px) and (max-width: 1023px) {
  body .block_product .box_list_product .carousel-inner .carousel-item .smallbox_product .detail_product .detail_product_title {
    overflow: unset;
  }
}
@media (min-width: 1024px) {
  body .block_product .box_list_product .carousel-inner .carousel-item .smallbox_product .detail_product .detail_product_title {
    overflow: unset;
  }
}
body .block_product .box_list_product .carousel-inner .carousel-item .smallbox_product .detail_product .detail_product_text {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 12px;
  line-height: 1.333;
  color: #6b502c;
  overflow: hidden;
  text-overflow: ellipsis;
}
body .block_product .box_list_product .carousel-inner .carousel-item .smallbox_product .detail_product .read_product {
  font-family: "Montserrat Alternates", sans-serif;
  border: none;
  background-color: #454545;
  border-radius: 8px;
  padding: 4px 16px;
  color: #e6e3da;
  font-size: 10px;
  white-space: nowrap;
}
@media (min-width: 1024px) {
  body .block_product .box_list_product .carousel-inner .carousel-item .smallbox_product .detail_product .read_product {
    font-size: 15px;
  }
}
body .block_product .box_list_product .button_carousel {
  margin-top: 30px;
}
body .block_product .box_list_product .button_carousel .carousel-control-next, body .block_product .box_list_product .button_carousel .carousel-control-prev {
  position: relative;
  display: inline-block;
  background-color: #454545;
  border-radius: 100%;
  padding: 15px 10px 8px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  body .block_product .box_list_product .button_carousel .carousel-control-next, body .block_product .box_list_product .button_carousel .carousel-control-prev {
    border-radius: 25px;
    padding: 5px 5px 1px;
    width: 5%;
  }
}
@media (min-width: 1024px) {
  body .block_product .box_list_product .button_carousel .carousel-control-next, body .block_product .box_list_product .button_carousel .carousel-control-prev {
    border-radius: 25px;
    padding: 5px 5px 1px;
    width: 5%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  body .block_product .box_list_product {
    display: none;
  }
}
@media (min-width: 1024px) {
  body .block_product .box_list_product {
    display: none;
  }
}
body .block_product .pc_second {
  display: none;
}
@media (min-width: 768px) and (max-width: 1023px) {
  body .block_product .pc_second {
    display: inline-block;
  }
}
@media (min-width: 1024px) {
  body .block_product .pc_second {
    display: inline-block;
  }
}
body .block_aboutus {
  margin-top: 100px;
}
body .block_aboutus .container .box_aboutus_title .aboutus_title {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  line-height: 0.905;
  color: #484a4b;
  font-size: 35px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  body .block_aboutus .container .box_aboutus_title .aboutus_title {
    font-size: 100px;
  }
}
@media (min-width: 1024px) {
  body .block_aboutus .container .box_aboutus_title .aboutus_title {
    font-size: 134px;
  }
}
body .block_aboutus .container .box_aboutus_title .aboutus_small_title {
  font-family: "Montserrat Alternates", sans-serif;
  color: #765a33;
  font-size: 16px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  body .block_aboutus .container .box_aboutus_title .aboutus_small_title {
    font-size: 20px;
  }
}
@media (min-width: 1024px) {
  body .block_aboutus .container .box_aboutus_title .aboutus_small_title {
    font-size: 25px;
  }
}
body .block_aboutus .container .box_video_aboutus {
  margin-top: 50px;
  position: relative;
  z-index: 1;
}
body .block_aboutus .container .box_video_aboutus .aboutus_pic {
  width: 100%;
}
body .block_aboutus .container .box_video_aboutus::after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: -15px;
  width: 100px;
  height: 100px;
  background-color: #c87e6b;
  z-index: -1;
}
body .block_aboutus .container .box_video_aboutus::before {
  content: "";
  position: absolute;
  top: -20px;
  right: -15px;
  width: 145px;
  height: 100px;
  border: 2px solid #8a6a3e;
  z-index: -1;
}
body .block_aboutus .box_offer {
  margin-top: 50px;
}
body .block_aboutus .box_offer .offer_detail {
  background-color: #ddc57c;
}
body .block_aboutus .box_offer .offer_detail .box_offer_detail {
  padding: 30px 45px 30px;
  position: relative;
}
body .block_aboutus .box_offer .offer_detail .box_offer_detail .box_offer_text .offer_title {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0.905;
  background-color: #424242;
  color: #e7e4db;
  border-radius: 25px;
  padding: 5px 15px;
  font-size: 20px;
  border: none;
}
@media (min-width: 768px) and (max-width: 1023px) {
  body .block_aboutus .box_offer .offer_detail .box_offer_detail .box_offer_text .offer_title {
    font-size: 30px;
  }
}
@media (min-width: 1024px) {
  body .block_aboutus .box_offer .offer_detail .box_offer_detail .box_offer_text .offer_title {
    font-size: 40px;
  }
}
body .block_aboutus .box_offer .offer_detail .box_offer_detail .box_offer_text .cost_offer {
  line-height: 0.905;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #424242;
  margin-top: 10px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  body .block_aboutus .box_offer .offer_detail .box_offer_detail .box_offer_text .cost_offer {
    font-size: 50px;
  }
}
@media (min-width: 1024px) {
  body .block_aboutus .box_offer .offer_detail .box_offer_detail .box_offer_text .cost_offer {
    font-size: 139px;
  }
}
body .block_aboutus .box_offer .offer_detail .box_offer_detail .box_offer_text .offer_text {
  color: #424242;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 0px;
}
body .block_aboutus .box_offer .offer_detail .box_offer_detail .box_leaf img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 10%;
}
body .block_aboutus .box_offer .offer_detail .box_offer_detail .box_leaf :nth-child(1) {
  left: 15px;
}
body .block_aboutus .box_offer .offer_detail .box_offer_detail .box_leaf :nth-child(2) {
  right: 15px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  body .block_aboutus .box_offer .offer_detail .box_offer_detail {
    padding: 40px 45px 0px;
    margin-top: 0px;
  }
}
@media (min-width: 1024px) {
  body .block_aboutus .box_offer .offer_detail .box_offer_detail {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
body .block_aboutus .box_offer .offer_detail .offer_photo .offer_pic {
  width: 100%;
}
body .block_blog .list_blog {
  margin-top: 100px;
}
body .block_blog .list_blog .box_blog {
  margin-top: 50px;
}
body .block_blog .list_blog .box_blog .container .feature_img {
  position: relative;
  z-index: 1;
}
body .block_blog .list_blog .box_blog .container .feature_img img {
  width: 100%;
  margin-top: 20px;
}
body .block_blog .list_blog .box_blog .container .content_blog {
  padding-top: 15px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  body .block_blog .list_blog .box_blog .container .content_blog {
    margin-left: 93px;
  }
}
@media (min-width: 1024px) {
  body .block_blog .list_blog .box_blog .container .content_blog {
    margin-left: 93px;
  }
}
body .block_blog .list_blog .box_blog .container .content_blog .content_pic {
  width: 140px;
  margin-top: 10px;
}
body .block_blog .list_blog .box_blog .container .content_blog .content_blog_title {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  line-height: 1.071;
  color: #484a4b;
  font-size: 35px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  body .block_blog .list_blog .box_blog .container .content_blog .content_blog_title {
    font-size: 40px;
  }
}
@media (min-width: 1024px) {
  body .block_blog .list_blog .box_blog .container .content_blog .content_blog_title {
    font-size: 52px;
  }
}
body .block_blog .list_blog .box_blog .container .content_blog .content_text {
  font-family: "Josefin Slab", serif;
  color: #765a33;
  line-height: 1.167;
  margin-top: 20px;
  font-size: 16px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  body .block_blog .list_blog .box_blog .container .content_blog .content_text {
    font-size: 13px;
  }
}
@media (min-width: 1024px) {
  body .block_blog .list_blog .box_blog .container .content_blog .content_text {
    font-size: 20px;
  }
}
body .block_blog .list_blog .box_blog .container .content_blog .read_more {
  font-family: "Montserrat Alternates", sans-serif;
  border: none;
  background-color: #454545;
  border-radius: 8px;
  padding: 4px 16px;
  color: #e6e3da;
  font-size: 10px;
  margin-top: 15px;
}
@media (min-width: 1024px) {
  body .block_blog .list_blog .box_blog .container .content_blog .read_more {
    font-size: 20px;
  }
}
body .block_blog .list_blog .box_blog:nth-child(odd) {
  background-image: url(/assets/img/big_leaf.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 10%;
  padding-bottom: 100px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  body .block_blog .list_blog .box_blog:nth-child(odd) .container {
    display: flex;
  }
}
@media (min-width: 1024px) {
  body .block_blog .list_blog .box_blog:nth-child(odd) .container {
    display: flex;
  }
}
body .block_blog .list_blog .box_blog:nth-child(odd) .container .feature_img::before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: -15px;
  width: 145px;
  height: 100px;
  border: 2px solid #8a6a3e;
  z-index: -1;
}
body .block_blog .list_blog .box_blog:nth-child(odd) .container .feature_img::after {
  content: "";
  position: absolute;
  top: 10px;
  right: -10px;
  width: 100px;
  height: 100px;
  background-color: #c87e6b;
  z-index: -1;
}
body .block_blog .list_blog .box_blog:nth-child(even) {
  background-image: url(/assets/img/big_leaf2.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 10%;
  padding-bottom: 130px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  body .block_blog .list_blog .box_blog:nth-child(even) .container .row {
    display: flex;
    flex-direction: row-reverse;
  }
}
@media (min-width: 1024px) {
  body .block_blog .list_blog .box_blog:nth-child(even) .container .row {
    display: flex;
    flex-direction: row-reverse;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  body .block_blog .list_blog .box_blog:nth-child(even) .container .row .content_blog {
    margin-left: 0;
    margin-right: 93px;
  }
}
@media (min-width: 1024px) {
  body .block_blog .list_blog .box_blog:nth-child(even) .container .row .content_blog {
    margin-left: 0;
    margin-right: 93px;
  }
}
body .block_blog .list_blog .box_blog:nth-child(even) .container .row .feature_img::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -10px;
  width: 100px;
  height: 100px;
  background-color: #c87e6b;
  z-index: -1;
}
body .block_blog .list_blog .box_blog:nth-child(even) .container .row .feature_img::after {
  content: "";
  position: absolute;
  bottom: -20px;
  right: -15px;
  width: 145px;
  height: 100px;
  border: 2px solid #8a6a3e;
  z-index: -1;
}
body .block_subscribe {
  padding-bottom: 40px;
}
body .block_subscribe .container .box_sub .box_sup_title {
  font-weight: bold;
  line-height: 1.071;
  font-family: "Playfair Display", serif;
  font-size: 50px;
  color: #484a4b;
  font-size: 24px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  body .block_subscribe .container .box_sub .box_sup_title {
    font-size: 50px;
  }
}
@media (min-width: 1024px) {
  body .block_subscribe .container .box_sub .box_sup_title {
    font-size: 114px;
  }
}
body .block_subscribe .container .box_sub .box_sup_small_title {
  font-family: "Josefin Slab", serif;
  font-size: 16px;
  color: #5d5f5e;
}
@media (min-width: 768px) and (max-width: 1023px) {
  body .block_subscribe .container .box_sub .box_sup_small_title {
    font-size: 20px;
  }
}
@media (min-width: 1024px) {
  body .block_subscribe .container .box_sub .box_sup_small_title {
    font-size: 26px;
  }
}
body .block_subscribe .container .info_sub .form-control {
  margin-top: 20px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  body .block_subscribe .container .info_sub .form-control {
    margin-top: 40px;
  }
}
body .block_subscribe .container .info_sub .inputfield {
  height: 150px;
}
body .block_subscribe .container .info_sub .btn_sub {
  font-family: "Montserrat Alternates", sans-serif;
  background-color: #c87e6b;
  color: #ffffff;
  font-weight: bold;
  line-height: 1.046;
  padding: 5px 10px;
  margin-top: 50px;
}
@media (min-width: 1024px) {
  body .block_subscribe .container .info_sub .btn_sub {
    font-size: 30px;
  }
}
body .block_footer {
  padding: 150px 0px 100px;
  background-color: #424242;
}
body .block_footer .container .row .box_footer {
  margin-top: 20px;
}
body .block_footer .container .row .box_footer .footer_title .title_text {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: bold;
  line-height: 1.2;
  color: #ffffff;
  font-size: 24px;
}
@media (min-width: 1024px) {
  body .block_footer .container .row .box_footer .footer_title .title_text {
    font-size: 40px;
  }
}
body .block_footer .container .row .box_footer .info_footer a {
  text-decoration: none;
}
body .block_footer .container .row .box_footer .info_footer a .info_footer_text {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 16px;
  color: #ffffff;
  overflow: hidden;
  text-overflow: ellipsis;
}
body .block_footer .container .follow_us {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
@media (min-width: 1024px) {
  body .block_footer .container .follow_us {
    justify-content: right;
  }
}
body .block_footer .container .follow_us .follow_us_title {
  margin-right: 10px;
}
body .block_footer .container .follow_us .follow_us_title .follow_us_text {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 16px;
  color: #ffffff;
}
body .block_footer .container .follow_us .social_list .social_link {
  color: #ffffff;
  border: 2px solid;
  border-radius: 10px;
  padding: 1px 5px;
}