<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lalasia: About Us</title>
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <link rel="stylesheet" href="../assets/css/all.min.css">
    <link rel="stylesheet" href="../assets/css/slick.css">
    <link rel="stylesheet" href="../assets/css/slick-theme.css">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../assets/css/about_us.css">
</head>

<body>
    <header>
        <div class="block_header">
            <div class="container">
                <nav class="navbar navbar-expand-lg">
                    <a class="navbar-brand" href="index.html"><img src="../assets/img/logo.png" alt=""></a>
                    <button class="navbar-toggler" id="open_button" type="button">
                        <span class="navbar-toggler-icon"><img src="../assets/img/menu.png" alt=""></span>
                    </button>
                    
                    <div class="collapse navbar-collapse">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item ">
                                <a class="nav-link" href="product.html">Product</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="services.html">Services</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="article.html">Article</a>
                            </li>
                            <li class="nav-item page_landing">
                                <a class="nav-link" href="aboutus.html">About Us</a>
                            </li>
                        </ul>
                        <div class="my-2 my-lg-0">
                            <div class="options_navbar">
                                <a class="icon_option" href="#">
                                    <img src="../assets/img/cart.png" alt="">
                                </a>
                                <a class="icon_option" href="#">
                                    <img src="../assets/img/user.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="sidenav" id="mySidenav">
                        <div class="item_close">
                            <a class="close_icon">&times;</a>
                        </div>
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="product.html">Product</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="services.html">Services</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="article.html">Article</a>
                            </li>
                            <li class="nav-item page_landing">
                                <a class="nav-link" href="aboutus.html">About Us</a>
                            </li>
                        </ul>
                        <div class="my-2 my-lg-0">
                            <div class="options_navbar">
                                <a class="icon_option" href="#">
                                    <img src="../assets/img/cart.png" alt="">
                                </a>
                                <a class="icon_option" href="#">
                                    <img src="../assets/img/user.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="cover_body"></div>
                </nav>
            </div>
        </div>
    </header>

    <main>
        <!------------ Banner ---------->
        <section class="block_banner">
            <div class="container">
                <div class="box_banner_text">
                    <div class="banner_title">
                        <h1 class="banner_title_text title_text">About Us</h1>
                    </div>
                    <div class="banner_des">
                        <p class="description_text">We display products based on the latest products we have, if you want
                            to see our old products please enter the name of the item</p>
                    </div>
                </div>
                <div class="box_vid">
                    <video poster="../assets/img/video.png" controls>
                        <source src="" type="video/mp4">
                    </video>
                </div>
            </div>
        </section>

        <!-- End Banner  -->

        <!-- Start : Mission  -->
        <section class="block_mission">
            <div class="container">
                <div class="block_mission_title">
                    <p class="block_title">Our Mision</p>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="detail_mission">
                            <div class="title">
                                <p class="title_text">Our team dedicated to help find  smart home product</p>
                            </div>
                            <div class="box_archivement">
                                <div class="small_box_archivement">
                                    <div class="num_archivement">
                                        <p class="title_text" data-stop="20">20+</p>
                                    </div>
                                    <div class="detail_archivement">
                                        <p class="description_text">Years Experience</p>
                                    </div>
                                </div>
                                <div class="small_box_archivement">
                                    <div class="num_archivement">
                                        <p class="title_text" data-stop="483">483+</p>
                                    </div>
                                    <div class="detail_archivement">
                                        <p class="description_text">Happy Client</p>
                                    </div>
                                </div>
                                <div class="small_box_archivement">
                                    <div class="num_archivement">
                                        <p class="title_text" data-stop="150">150+</p>
                                    </div>
                                    <div class="detail_archivement">
                                        <p class="description_text">Project Finished</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="list_mission">
                            <div class="box_mission">
                                <div class="icon">
                                    <img src="../assets/img/mission.png" alt="">
                                </div>
                                <div class="description">
                                    <div class="title">
                                        <p class="title_text">24/7 Supports</p>
                                    </div>
                                    <div class="content">
                                        <p class="description_text">24/7 support means a support service that is provided 24 hours a day and 7 days a week. </p>
                                    </div>
                                </div>
                            </div>
                            <div class="box_mission">
                                <div class="icon">
                                    <img src="../assets/img/mission1.png" alt="">
                                </div>
                                <div class="description">
                                    <div class="title">
                                        <p class="title_text">Free Consultation</p>
                                    </div>
                                    <div class="content">
                                        <p class="description_text">A free consultation is a one-on-one interaction or conversation given freely to share one's thoughts and discuss possible</p>
                                    </div>
                                </div>
                            </div>
                            <div class="box_mission">
                                <div class="icon">
                                    <img src="../assets/img/mission2.png" alt="">
                                </div>
                                <div class="description">
                                    <div class="title">
                                        <p class="title_text">Overall Guarantee</p>
                                    </div>
                                    <div class="content">
                                        <p class="description_text">The comprehensive guarantee is required for import, warehousing, transit, processing and specific use. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Mission  -->

        <!-- Start: Teams  -->
        <section class="block_team">
            <div class="container">
                <div class="block_team_title">
                    <p class="block_title">Our Team</p>
                </div>
                <div class="box_detail_team">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="title">
                                <p class="title_text">Meet our leading and strong team</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <p class="description_text">Pellentesque etiam blandit in tincidunt at donec. Eget ipsum dignissim placerat nisi, adipiscing mauris non purus parturient.</p>
                        </div>
                    </div>
                </div>
                <div class="list_team">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="box_team">
                                <div class="image">
                                    <img src="../assets/img/person1.png" alt="">
                                </div>
                                <div class="name">
                                    <p class="title_text">Jesse Depp</p>
                                </div>
                                <div class="position">
                                    <p class="description_text">Founder & CEO</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="box_team">
                                <div class="image">
                                    <img src="../assets/img/person2.png" alt="">
                                </div>
                                <div class="name">
                                    <p class="title_text">Margareth Carter</p>
                                </div>
                                <div class="position">
                                    <p class="description_text">COO</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="box_team">
                                <div class="image">
                                    <img src="../assets/img/person3.png" alt="">
                                </div>
                                <div class="name">
                                    <p class="title_text">Andrew Taggart</p>
                                </div>
                                <div class="position">
                                    <p class="description_text">Developer</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="box_team">
                                <div class="image">
                                    <img src="../assets/img/person4.png" alt="">
                                </div>
                                <div class="name">
                                    <p class="title_text">Grace Marie</p>
                                </div>
                                <div class="position">
                                    <p class="description_text">Manager</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="box_team">
                                <div class="image">
                                    <img src="../assets/img/person5.png" alt="">
                                </div>
                                <div class="name">
                                    <p class="title_text">Jesse Depp</p>
                                </div>
                                <div class="position">
                                    <p class="description_text">Senior Designer</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="box_team">
                                <div class="image">
                                    <img src="../assets/img/person6.png" alt="">
                                </div>
                                <div class="name">
                                    <p class="title_text">Jesse Depp</p>
                                </div>
                                <div class="position">
                                    <p class="description_text">Marketer</p>
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>

                <div class="talk">
                    <div class="talk_title">
                        <p class="title_text">Are you interested
                            work with us?</p>
                    </div>
                    <div class="button_talk">
                        <a href="#" class="btn btn_group">Let’s Talk <img src="../assets/img/arrow-right.png" alt=""></a>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Teams  -->
    </main>

    <footer>
        <!-- This is footer  -->
        <div class="block_footer">
            <div class="container">
                <div class="box_aboutus d-flex">
                    <div class="detail_aboutus">
                        <a class="navbar-brand" href="#"><img src="../assets/img/logo.png" alt=""></a>
                        <p class="description_text">Lalasia is digital agency that help you make better experience iaculis cras in.</p>
                    </div>
                    <div class="box_services">
                        <div class="detial_service">
                            <div class="title_services">
                                <p class="title_text"><a href="product.html">Product</a></p>
                            </div>
                            <div class="list_services">
                                <a href="#"><p class="description_text">New Arrivals</p></a>
                                <a href="#"><p class="description_text">Best Selling</p></a>
                                <a href="#"><p class="description_text">Home Decor</p></a>
                                <a href="#"><p class="description_text">Kitchen Set</p></a>
                            </div>
                        </div>
                        <div class="detial_service">
                            <div class="title_services">
                                <p class="title_text"><a href="services.html ">Services</p></a>
                            </div>
                            <div class="list_services">
                                <a href="#"><p class="description_text">Catalog</p></a>
                                <a href="#"><p class="description_text">Blog</p></a>
                                <a href="#"><p class="description_text">FaQ</p></a>
                                <a href="#"><p class="description_text">Pricing</p></a>
                            </div>
                        </div>
                        <div class="detial_service">
                            <div class="title_services">
                                <p class="title_text">Follow Us</p>
                            </div>
                            <div class="list_services">
                                <a href="#"><p class="description_text">Facebook</p></a>
                                <a href="#"><p class="description_text">Instagram</p></a>
                                <a href="#"><p class="description_text">Twitter</p></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="../assets/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="../assets/js/slick.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/all.min.js"></script>
    <script src="../assets/js/header.js"></script>
    <script src="../assets/js/about_us.js"></script>
</body>

</html>