<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lalasia</title>
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <link rel="stylesheet" href="../assets/css/all.min.css">
    <link rel="stylesheet" href="../assets/css/slick.css">
    <link rel="stylesheet" href="../assets/css/slick-theme.css">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../assets/css/article.css">
</head>

<body>
    <header>
        <div class="block_header">
            <div class="container">
                <nav class="navbar navbar-expand-lg">
                    <a class="navbar-brand" href="index.html"><img src="../assets/img/logo.png" alt=""></a>
                    <button class="navbar-toggler" id="open_button" type="button">
                        <span class="navbar-toggler-icon"><img src="../assets/img/menu.png" alt=""></span>
                    </button>
                    
                    <div class="collapse navbar-collapse">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item ">
                                <a class="nav-link" href="product.html">Product</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="services.html">Services</a>
                            </li>
                            <li class="nav-item page_landing">
                                <a class="nav-link" href="article.html">Article</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="aboutus.html">About Us</a>
                            </li>
                        </ul>
                        <div class="my-2 my-lg-0">
                            <div class="options_navbar">
                                <a class="icon_option" href="#">
                                    <img src="../assets/img/cart.png" alt="">
                                </a>
                                <a class="icon_option" href="#">
                                    <img src="../assets/img/user.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="sidenav" id="mySidenav">
                        <div class="item_close">
                            <a class="close_icon">&times;</a>
                        </div>
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="product.html">Product</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="services.html">Services</a>
                            </li>
                            <li class="nav-item page_landing">
                                <a class="nav-link" href="article.html">Article</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="aboutus.html">About Us</a>
                            </li>
                        </ul>
                        <div class="my-2 my-lg-0">
                            <div class="options_navbar">
                                <a class="icon_option" href="#">
                                    <img src="../assets/img/cart.png" alt="">
                                </a>
                                <a class="icon_option" href="#">
                                    <img src="../assets/img/user.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>

    <main>
        <section class="block_banner">
            <div class="container">
                <div class="box_banner_text">
                    <div class="banner_title">
                        <h1 class="banner_title_text title_text">Article</h1>
                    </div>
                    <div class="banner_des">
                        <p class="description_text">We display products based on the latest products we have, if you want
                            to see our old products please enter the name of the item</p>
                    </div>
                </div>
                <div class="list_article">
                    <div class="banner">
                        <div class="box_banner_photo">
                            <img src="../assets/img/banner_article.png" alt="">
                        </div>
                        <div class="detail_blog">
                            <div class="cate_blog">
                                <a href=""><p class="description_text">Tips and Trick</p></a>
                            </div>
                            <div class="name_blog">
                                <a href=""><p class="title_text">This 400-Square-Foot New York Apartment Is Maximized With
                                    Custom Millwork</p></a>
                            </div>
                            <div class="author_blog">
                                <div class="author_avatar">
                                    <img src="../assets/img/avatar_author.png" alt="">
                                </div>
                                <p class="title_text">By Morgan Goldberg</p>
                                <p class="description_text date_create">Fri, 1 April 2022</p>
                            </div>
                        </div>
                   </div>
                   <div class="banner">
                    <div class="box_banner_photo">
                        <img src="../assets/img/banner_article.png" alt="">
                    </div>
                    <div class="detail_blog">
                        <div class="cate_blog">
                            <a href=""><p class="description_text">Tips and Trick</p></a>
                        </div>
                        <div class="name_blog">
                            <a href=""><p class="title_text">This 400-Square-Foot New York Apartment Is Maximized With
                                Custom Millwork</p></a>
                        </div>
                        <div class="author_blog">
                            <div class="author_avatar">
                                <img src="../assets/img/avatar_author.png" alt="">
                            </div>
                            <p class="title_text">By Morgan Goldberg</p>
                            <p class="description_text date_create">Fri, 1 April 2022</p>
                        </div>
                    </div>
                    </div>
                    <div class="banner">
                    <div class="box_banner_photo">
                        <img src="../assets/img/banner_article.png" alt="">
                    </div>
                    <div class="detail_blog">
                        <div class="cate_blog">
                            <a href=""><p class="description_text">Tips and Trick</p></a>
                        </div>
                        <div class="name_blog">
                            <a href=""><p class="title_text">This 400-Square-Foot New York Apartment Is Maximized With
                                Custom Millwork</p></a>
                        </div>
                        <div class="author_blog">
                            <div class="author_avatar">
                                <img src="../assets/img/avatar_author.png" alt="">
                            </div>
                            <p class="title_text">By Morgan Goldberg</p>
                            <p class="description_text date_create">Fri, 1 April 2022</p>
                        </div>
                    </div>
                    </div>
                </div>
                

            </div>
        </section>
        <section class="block_news">
            <div class="container">
                <div class="title">
                    <p class="block_title">Daily News</p>
                </div>
                <div class="box_news">
                    <div class="title">
                        <p class="title_text">Today top headlines</p>
                    </div>
                    <div class="list_new">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="small_new">
                                    <div class="image">
                                        <img src="../assets/img/new.png" alt="">
                                    </div>
                                    <div class="cate_blog">
                                        <a href=""><p class="description_text">Tips and Trick</p></a>
                                    </div>
                                    <div class="name_blog">
                                        <a href=""><p class="title_text">This 400-Square-Foot New York Apartment Is Maximized With
                                            Custom Millwork</p></a>
                                    </div>
                                    <div class="content_blog">
                                        <p class="description_text">Is it true that the bedroom design is the most personal reflection of the owner? Many people believe that to be able to judge a person's personality, it is enough to</p>
                                    </div>
                                    <div class="author_blog">
                                        <div class="author_avatar">
                                            <img src="../assets/img/avatar_author.png" alt="">
                                        </div>
                                        <p class="title_text">By Morgan Goldberg</p>
                                        <p class="description_text date_create">Friday, 1 April 2022</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="small_new">
                                    <div class="image">
                                        <img src="../assets/img/new2.png" alt="">
                                    </div>
                                    <div class="cate_blog">
                                        <a href=""><p class="description_text">Tips and Trick</p></a>
                                    </div>
                                    <div class="name_blog">
                                        <a href=""><p class="title_text">Create a non-monotonous and dynamic interior atmosphere with these 9 variations of wall tiles</p></a>
                                    </div>
                                    <div class="content_blog">
                                        <p class="description_text">Quoted from The Healthy Home Economist, a study in 1932 stated that color doesn't really have to be visible to have an effect
                                            The radiance of a</p>
                                    </div>
                                    <div class="author_blog">
                                        <div class="author_avatar">
                                            <img src="../assets/img/avatar_author.png" alt="">
                                        </div>
                                        <p class="title_text">By Juliana Athorn</p>
                                        <p class="description_text date_create">Friday, 1 April 2022</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section class="block_trending">
            <div class="container">
                <div class="title">
                    <p class="block_title">Trending Topics</p>
                </div>
                <div class="small_title">
                    <p class="title_text">Popular last week</p>
                </div>
                <div class="box_list_category">
                    <div class="list_category">
                        <a href=""><p class="description_text">All</p></a>
                        <a href=""><p class="description_text">Tips and Trick</p></a>
                        <a href=""><p class="description_text">Interior Design</p></a>
                        <a href=""><p class="description_text">Design Inspiration</p></a>
                        <a href=""><p class="description_text">Color Guide</p></a>
                    </div>
                    <div class="filter">
                        <div class="filter_pic">
                            <img src="../assets/img/sort.png" alt="">
                        </div>
                        <div class="fiter_text">
                            <p class="description_text">Filter</p>
                        </div>
                    </div>
                </div>
                <div class="box_list_trending">
                    <div class="detail_trending">
                        <div class="blog_picture">
                            <img src="../assets/img/trending.png" alt="Product">
                        </div>
                    
                        <div class="detail_blog">
                            <div class="cate_blog">
                                <a href=""><p class="description_text">Tips and Trick</p></a>
                            </div>
                            <div class="name_blog">
                                <a href=""><p class="title_text">Beautiful and Functional Home Terrace Decorations</p></a>
                            </div>
                            <div class="content_blog">
                                <p class="description_text summary_blog">Home terrace decorations are part of every decoration or overall home design. Interiordesign.id – If by chance your house has enough space or space.</p>
                            </div>
                            
                            <div class="author_blog">
                                <div class="author_avatar">
                                    <img src="../assets/img/avatar_author.png" alt="">
                                </div>
                                <p class="title_text">By Jerremy Jean</p>
                                <p class="description_text date_create">Friday, 1 April 2022</p>
                            </div>
                        </div>
                    </div>

                    <div class="detail_trending">
                        <div class="blog_picture">
                            <img src="../assets/img/trending2.png" alt="Product">
                        </div>
                    
                        <div class="detail_blog">
                            <div class="cate_blog">
                                <a href=""><p class="description_text">Design Inspiration</p></a>
                            </div>
                            <div class="name_blog">
                                <a href=""><p class="title_text">Modern Minimalist Home Design: Aesthetics of Modern Home Interiors</p></a>
                            </div>
                            <div class="content_blog">
                                <p class="description_text summary_blog">Home terrace decorations are part of every decoration or overall home design. Interiordesign.id – If by chance your house has enough space or space.</p>
                            </div>
                            
                            <div class="author_blog">
                                <div class="author_avatar">
                                    <img src="../assets/img/avatar_author.png" alt="">
                                </div>
                                <p class="title_text">By Jerremy Jean</p>
                                <p class="description_text date_create">Wednesday, 17 March 2022</p>
                            </div>
                        </div>
                    </div>

                    <div class="detail_trending">
                        <div class="blog_picture">
                            <img src="../assets/img/trending3.png" alt="Product">
                        </div>
                    
                        <div class="detail_blog">
                            <div class="cate_blog">
                                <a href=""><p class="description_text">Color Guide</p></a>
                            </div>
                            <div class="name_blog">
                                <a href=""><p class="title_text">20+ Best Kitchen Paint Colors That Make Kitchen Spaces Look More Fun</p></a>
                            </div>
                            <div class="content_blog">
                                <p class="description_text summary_blog">Home terrace decorations are part of every decoration or overall home design. Interiordesign.id – If by chance your house has enough space or space.</p>
                            </div>
                            
                            <div class="author_blog">
                                <div class="author_avatar">
                                    <img src="../assets/img/avatar_author.png" alt="">
                                </div>
                                <p class="title_text">By Filipus Pendi</p>
                                <p class="description_text date_create">Saturday, 29 February 2022</p>
                            </div>
                        </div>
                    </div>

                    <div class="button text-center">
                        <a href="" class="btn btn_group">Load More</a>
                    </div>
                </div>

                <div class="sub">
                    <div class="sub_title">
                        <p class="title_text">Subscribe our newsletter</p>
                    </div>
                    <div class="button_talk">
                        <a href="#" class="btn btn_group">Let’s Talk <img src="../assets/img/arrow-right.png" alt=""></a>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <!-- This is footer  -->
        <div class="block_footer">
            <div class="container">
                <div class="box_aboutus d-flex">
                    <div class="detail_aboutus">
                        <a class="navbar-brand" href="#"><img src="../assets/img/logo.png" alt=""></a>
                        <p class="description_text">Lalasia is digital agency that help you make better experience iaculis cras in.</p>
                    </div>
                    <div class="box_services">
                        <div class="detial_service">
                            <div class="title_services">
                                <p class="title_text"><a href="product.html">Product</a></p>
                            </div>
                            <div class="list_services">
                                <a href="#"><p class="description_text">New Arrivals</p></a>
                                <a href="#"><p class="description_text">Best Selling</p></a>
                                <a href="#"><p class="description_text">Home Decor</p></a>
                                <a href="#"><p class="description_text">Kitchen Set</p></a>
                            </div>
                        </div>
                        <div class="detial_service">
                            <div class="title_services">
                                <p class="title_text"><a href="services.html ">Services</p></a>
                            </div>
                            <div class="list_services">
                                <a href="#"><p class="description_text">Catalog</p></a>
                                <a href="#"><p class="description_text">Blog</p></a>
                                <a href="#"><p class="description_text">FaQ</p></a>
                                <a href="#"><p class="description_text">Pricing</p></a>
                            </div>
                        </div>
                        <div class="detial_service">
                            <div class="title_services">
                                <p class="title_text">Follow Us</p>
                            </div>
                            <div class="list_services">
                                <a href="#"><p class="description_text">Facebook</p></a>
                                <a href="#"><p class="description_text">Instagram</p></a>
                                <a href="#"><p class="description_text">Twitter</p></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="../assets/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="../assets/js/slick.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/all.min.js"></script>
    <script src="../assets/js/header.js"></script>
    <script src="../assets/js/article.js"></script>
</body>

</html>