<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lalasia</title>
    <link rel="icon" type="image/x-icon" href="../assets/img/favicon.ico">
    <link rel="stylesheet" href="../assets/css/all.min.css">
    <link rel="stylesheet" href="../assets/css/slick.css">
    <link rel="stylesheet" href="../assets/css/slick-theme.css">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" /> -->
    <link rel="stylesheet" href="../assets/css/index.css">

</head>

<body>
    <header>
        <div class="block_header">
            <div class="container">
                <nav class="navbar navbar-expand-lg">
                    <a class="navbar-brand" href="index.html"><img src="../assets/img/logo.png" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"><img src="../assets/img/menu.png" alt=""></span>
                    </button>
                    
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item ">
                                <a class="nav-link" href="product.html">Product</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="services.html">Services</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="article.html">Article</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="aboutus.html">About Us</a>
                            </li>
                        </ul>
                        <div class="my-2 my-lg-0">
                            <div class="options_navbar">
                                <a class="icon_option" href="">
                                    <img src="../assets/img/cart.png" alt="">
                                </a>
                                <a class="icon_option" href="">
                                    <img src="../assets/img/user.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>

    <main>
        <!-- This is main -->

        <!-- Start Banner  -->
        <section class="block_banner">
            <div class="container">
                <div class="box_banner_text">
                    <div class="banner_title">
                        <h1 class="banner_title_text title_text">Discover Furniture With High Quality Wood</h1>
                    </div>
                    <div class="banner_des">
                        <p class="description_text">Pellentesque etiam blandit in tincidunt at donec. Eget ipsum
                            dignissim placerat nisi, adipiscing mauris non. Purus parturient viverra nunc, tortor sit
                            laoreet. Quam tincidunt aliquam adipiscing tempor.</p>
                    </div>
                    <div class="banner_search">
                        <div class="search_icon">
                            <img src="../assets/img/search_icon.png" alt="">
                        </div>
                        <div class="input-group">
                            <input type="search" class="form-control rounded" placeholder="Search property"
                                aria-label="Search" aria-describedby="search-addon" />
                            <button type="button" class="btn title_text btn_group">Search</button>
                        </div>
                    </div>
                </div>

                <div class="box_banner_photo">
                    <img src="../assets/img/banner_picture.png" alt="">
                </div>
            </div>
        </section>
        <!-- End Banner  -->

        <!-- Start Benefits -->
        <section class="block_benefits">
            <div class="container">
                <div class="box_infor_benefits">
                    <div class="block_benefits_title">
                        <p class="block_title">Benefits</p>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-md-6">
                            <div class="box_benefits_title">
                                <p class="title_text">Benefits when using our services</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="box_benefits_des">
                                <p class="description_text">Pellentesque etiam blandit in tincidunt at donec. Eget ipsum
                                    dignissim placerat nisi, adipiscing mauris non purus parturient.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="detail_benefit">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <div class="box_benefit">
                                <div class="icon_benefit">
                                    <img src="../assets/img/manychoices.png" alt="Choices Pic">
                                </div>
                                <div class="title_benefit">
                                    <p class="title_text title_list_benefit">Many Choices</p>
                                </div>
                                <div class="small_detail_benefit">
                                    <p class="description_text">Pellentesque etiam blandit in tincidunt at donec. Eget
                                        ipsum dignissim placerat nisi, adipiscing mauris non. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="box_benefit">
                                <div class="icon_benefit">
                                    <img src="../assets/img/fot.png" alt="Fast and On Time">
                                </div>
                                <div class="title_benefit">
                                    <p class="title_text title_list_benefit">Fast and On Time</p>
                                </div>
                                <div class="small_detail_benefit">
                                    <p class="description_text">Pellentesque etiam blandit in tincidunt at donec. Eget
                                        ipsum dignissim placerat nisi, adipiscing mauris non. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="box_benefit">
                                <div class="icon_benefit">
                                    <img src="../assets/img/affor_price.png" alt="Affordable Price">
                                </div>
                                <div class="title_benefit">
                                    <p class="title_text title_list_benefit">Affordable Price</p>
                                </div>
                                <div class="small_detail_benefit">
                                    <p class="description_text">Pellentesque etiam blandit in tincidunt at donec. Eget
                                        ipsum dignissim placerat nisi, adipiscing mauris non. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Benefits  -->

        <!-- Start Product  -->
        <section class="block_product">
            <div class="box_title_product">
                <div class="container text-center">
                    <div class="block_product_title">
                        <p class="block_title">Product</p>
                    </div>
                    <div class="title_product">
                        <p class="title_text">Our popular product</p>
                    </div>
                    <div class="des_product">
                        <p class="description_text">Pellentesque etiam blandit in tincidunt at donec. Eget ipsum
                            dignissim placerat nisi, adipiscing mauris non purus parturient.</p>
                    </div>
                </div>
            </div>

            <div class="list_product swiper">
                <div class="small_box_product">
                    <div class="box_product">
                        <div class="product_picture">
                            <img src="../assets/img/product_demo3.png" alt="Product">
                        </div>
                        <div class="cate_product">
                            <a href=""><p class="description_text">Cupboard </p></a>
                        </div>
                        <div class="name_product">
                            <a href=""><p class="title_text">Wooden Bookshelf</p></a>
                        </div>
                        <div class="detail_product">
                            <p class="description_text">Combination of wood and wool</p>
                        </div>
                        <div class="product_cost">
                            <p class="title_text">$79.88</p>
                        </div>
                    </div>

                    <div class="box_product">
                        <div class="product_picture">
                            <img src="../assets/img/product_demo1.png" alt="Product">
                        </div>
                        <div class="cate_product">
                            <a href=""><p class="description_text">Chair</p></a>
                        </div>
                        <div class="name_product">
                            <a href=""><p class="title_text">White Aesthetic Chair</p></a>
                        </div>
                        <div class="detail_product">
                            <p class="description_text">Combination of wood and wool</p>
                        </div>
                        <div class="product_cost">
                            <p class="title_text">$63.47</p>
                        </div>
                    </div>

                    <div class="box_product">
                        <div class="product_picture">
                            <img src="../assets/img/product_demo2.png" alt="Product">
                        </div>
                        <div class="cate_product">
                            <a href=""><p class="description_text">Lamp</p></a>
                        </div>
                        <div class="name_product">
                            <a href=""><p class="title_text">Bardono Smart Lamp</p></a>
                        </div>
                        <div class="detail_product">
                            <p class="description_text">Easy to use with bluetooth connection</p>
                        </div>
                        <div class="product_cost">
                            <p class="title_text">$62.23</p>
                        </div>
                    </div>

                    <div class="box_product">
                        <div class="product_picture">
                            <img src="../assets/img/product_demo4.png" alt="Product">
                        </div>
                        <div class="cate_product">
                            <a href=""><p class="description_text">Sofa</p</a>
                        </div>
                        <div class="name_product">
                            <a href=""><p class="title_text">Sofa Empuk Banget</p></a>
                        </div>
                        <div class="detail_product">
                            <p class="description_text">Using kapuk randu material</p>
                        </div>
                        <div class="product_cost">
                            <p class="title_text">$58.39</p>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- End Product  -->

        <!-- Start Our Product  -->
        <section class="block_our_product">
            <div class="container">
                <div class="block_our_product_title">
                    <p class="block_title">Our Product</p>
                </div>
                <div class="box_about_product">
                    <div class="row">
                        <div class="col-xl-6 content_product">
                            <div class="content">
                                <div class="title_our_product">
                                    <p class="title_text">Crafted by talented and high quality material</p>
                                </div>
                                <div class="des_our_product">
                                    <p class="description_text">Pellentesque etiam blandit in tincidunt at donec. Eget ipsum
                                        dignissim placerat nisi, adipiscing mauris non purus parturient. morbi fermentum,
                                        vivamus et accumsan dui tincidunt pulvinar</p>
                                </div>
                                <div class="button_read">
                                    <a href="" type="button" class="btn btn_group">Learn More</a>
                                </div>
                            </div>
    
                            <div class="box_archivement_mobile">
                                <div class="small_box_archivement">
                                    <div class="num_archivement">
                                        <p class="title_text">20+</p>
                                    </div>
                                    <div class="detail_archivement">
                                        <p class="description_text">Years Experience</p>
                                    </div>
                                </div>
                                <div class="small_box_archivement">
                                    <div class="num_archivement">
                                        <p class="title_text">20+</p>
                                    </div>
                                    <div class="detail_archivement">
                                        <p class="description_text">Happy Client</p>
                                    </div>
                                </div>
                                <div class="small_box_archivement">
                                    <div class="num_archivement">
                                        <p class="title_text">150+</p>
                                    </div>
                                    <div class="detail_archivement">
                                        <p class="description_text">Project Finished</p>
                                    </div>
                                </div>
                            </div>
    
                            <div class="feature_img">
                                <img src="../assets/img/feauture_img.png" alt="">
                            </div>
                        </div>
                        <div class="col-xl-6 product_numb">
                            <div class="box_archivement">
                                <div class="small_box_archivement">
                                    <div class="num_archivement">
                                        <p class="title_text">20+</p>
                                    </div>
                                    <div class="detail_archivement">
                                        <p class="description_text">Years Experience</p>
                                    </div>
                                </div>
                                <div class="small_box_archivement">
                                    <div class="num_archivement">
                                        <p class="title_text">20+</p>
                                    </div>
                                    <div class="detail_archivement">
                                        <p class="description_text">Happy Client</p>
                                    </div>
                                </div>
                                <div class="small_box_archivement">
                                    <div class="num_archivement">
                                        <p class="title_text">150+</p>
                                    </div>
                                    <div class="detail_archivement">
                                        <p class="description_text">Project Finished</p>
                                    </div>
                                </div>
                            </div>
                            <div class="archive_img">
                                <img src="../assets/img/feauture_img2.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Our Product  -->

        <!-- Start Testimonials  -->
        <section class="block_testimonials">
            <div class="box_title_testi text-center">
                <div class="container">
                    <div class="block_testi_title">
                        <p class="block_title">Testimonials</p>
                    </div>
                    <div class="title_testi">
                        <p class="title_text">What our customer say</p>
                    </div>
                    <div class="des_testi">
                        <p class="description_text">Pellentesque etiam blandit in tincidunt at donec. Eget ipsum
                            dignissim placerat nisi, adipiscing mauris non purus parturient.</p>
                    </div>
                </div>
            </div>

            <div class="list_detail_testi">
                <div class="row no-gutters detail_testi">
                    <div class="col-md-4">
                        <div class="box_detail_testi">
                            <div class="icon_testi">
                                <img src="../assets/img/icon_testi.png" alt="">
                            </div>
                            <div class="content_testi">
                                <p class="description_text">Pellentesque etiam blandit in tincidunt at donec. Eget ipsum dignissim placerat nisi, adipiscing mauris non. </p>
                            </div>
                            <div class="info_valuer">
                                <div class="info">
                                    <div class="avatar">
                                        <img src="../assets/img/avatar_valuer.png" alt="">
                                    </div>
                                    <div class="name">
                                        <p class="title_text">Janne Cooper</p>
                                    </div>
                                </div>
                                <div class="evaluate">
                                    <div class="icon">
                                        <img src="../assets/img/star.png" alt="">
                                    </div>
                                    <p class="title_text">4.3</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box_detail_testi">
                            <div class="icon_testi">
                                <img src="../assets/img/icon_testi.png" alt="">
                            </div>
                            <div class="content_testi">
                                <p class="description_text">Pellentesque etiam blandit in tincidunt at donec. Eget ipsum dignissim placerat nisi, adipiscing mauris non. </p>
                            </div>
                            <div class="info_valuer">
                                <div class="info">
                                    <div class="avatar">
                                        <img src="../assets/img/avatar_valuer.png" alt="">
                                    </div>
                                    <div class="name">
                                        <p class="title_text">Janne Cooper</p>
                                    </div>
                                </div>
                                <div class="evaluate">
                                    <div class="icon">
                                        <img src="../assets/img/star.png" alt="">
                                    </div>
                                    <p class="title_text">4.3</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box_detail_testi">
                            <div class="icon_testi">
                                <img src="../assets/img/icon_testi.png" alt="">
                            </div>
                            <div class="content_testi">
                                <p class="description_text">Pellentesque etiam blandit in tincidunt at donec. Eget ipsum dignissim placerat nisi, adipiscing mauris non. </p>
                            </div>
                            <div class="info_valuer">
                                <div class="info">
                                    <div class="avatar">
                                        <img src="../assets/img/avatar_valuer2.png" alt="">
                                    </div>
                                    <div class="name">
                                        <p class="title_text">Cobocannaeru</p>
                                    </div>
                                </div>
                                <div class="evaluate">
                                    <div class="icon">
                                        <img src="../assets/img/star.png" alt="">
                                    </div>
                                    <p class="title_text">5</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Testimonials  -->

        <!-- Start Artickes  -->
        <section class="block_artickes">
            <div class="container">
                <div class="block_artickes_title">
                    <p class="block_title">Articles</p>
                </div>
                
                <div class="list_blog">
                    <div class="row">
                        <div class="col-xl-6 big_blog">
                            <div class="blog_content">
                                <div class="title_artickes">
                                    <p class="title_text">The best furniture comes from Lalasia</p>
                                </div>
                                <div class="des_artickes">
                                    <p class="description_text">Pellentesque etiam blandit in tincidunt at donec. </p>
                                </div>
                            </div>
                            <div class="image">
                                <div class="small_box_article">
                                    <div class="box_feature_img">
                                        <div class="feature_photo">
                                            <img src="../assets/img/article.png" alt="">
                                        </div>
                                    </div>
                                    <div class="box_title_articles">
                                        <div class="cate_articles">
                                            <a href=""><p class="description_text">Tips and Trick</p></a>
                                        </div>
                                        <div class="name_articles">
                                            <p class="title_text">Create Cozy Dinning Room Vibes</p>
                                        </div>
                                        <div class="detail_articles">
                                            <p class="description_text">Decorating with neutrals brings balance to the dining room. With eclectic decoration on the sides, Caruso Dining Table and Cyrillo Dining Chairs elevate the tonal base of the room. The modern furniture set gives personality to any space in all types of architecture.‎ The wide volume enables everyone to sit back and relax, be it in the dining room, conference, or office.</p>
                                        </div>
                                        <div class="article_link">
                                            <a href=""><p class="title_text">Read More</p></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="small_box_article">
                                    <div class="box_feature_img">
                                        <div class="feature_photo">
                                            <img src="../assets/img/article.png" alt="">
                                        </div>
                                    </div>
                                    <div class="box_title_articles">
                                        <div class="cate_articles">
                                            <a href=""><p class="description_text">Tips and Trick</p></a>
                                        </div>
                                        <div class="name_articles">
                                            <p class="title_text">Create Cozy Dinning Room Vibes</p>
                                        </div>
                                        <div class="detail_articles">
                                            <p class="description_text">Decorating with neutrals brings balance to the dining room. With eclectic decoration on the sides, Caruso Dining Table and Cyrillo Dining Chairs elevate the tonal base of the room. The modern furniture set gives personality to any space in all types of architecture.‎ The wide volume enables everyone to sit back and relax, be it in the dining room, conference, or office.</p>
                                        </div>
                                        <div class="article_link">
                                            <a href=""><p class="title_text">Read More</p></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box_button">
                                <img class='a-left control-c btn_group prev slick-prev-article' src='../assets/img/arrow-left.png'>
                                <img class='a-right control-c btn_group next slick-next-article' src='../assets/img/arrow-right.png'>
                            </div>
                        </div>
    
                        <div class="col-xl-6 small_list_blog">
                            <div class="small_blog">
                                <div class="box_blog row">
                                    <div class="col-5">
                                        <div class="blog_picture">
                                            <img src="../assets/img/blog_demo.png" alt="Product">
                                        </div>
                                    </div>
                                    
                                    <div class="col-7">
                                        <div class="detail_blog">
                                            <div class="cate_blog">
                                                <a href=""><p class="description_text">Tips and Trick</p></a>
                                            </div>
                                            <div class="name_blog">
                                                <a href=""><p class="title_text">6 ways to give your home minimalistic vibes</p></a>
                                            </div>
                                            <div class="content_blog">
                                                <p class="description_text summary_blog">Pellentesque etiam blandit in 
                                                    tincidunt at donec. Eget ipsum .</p>
                                            </div>
                                            
                                            <div class="author_blog">
                                                <div class="author_avatar">
                                                    <img src="../assets/img/avatar_author.png" alt="">
                                                </div>
                                                <a href=""><p class="title_text">By Jerremy Jean</p></a>
                                                <p class="description_text date_create">Friday, 1 April 2022</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="small_blog">
                                <div class="box_blog row">
                                   <div class="col-5">
                                        <div class="blog_picture">
                                            <img src="../assets/img/blog_demo2.png" alt="Product">
                                        </div>
                                   </div>
                                    
                                   <div class="col-7">
                                        <div class="detail_blog">
                                            <div class="cate_blog">
                                                <a href=""><p class="description_text">Design Inspiration</p></a>
                                            </div>
                                            <div class="name_blog">
                                                <a href=""><p class="title_text">How to make your interiors cooler and more stylish</p></a>
                                            </div>
                                            <div class="content_blog">
                                                <p class="description_text summary_blog">Pellentesque etiam blandit in 
                                                    tincidunt at donec. Eget ipsum .</p>
                                            </div>
                                            
                                            <div class="author_blog">
                                                <div class="author_avatar">
                                                    <img src="./assets/img/avatar_author.png" alt="">
                                                </div>
                                                <a href=""><p class="title_text">By Michaela Augus</p></a>
                                                <p class="description_text date_create">Friday, 1 April 2022</p>
                                            </div>
                                        </div>
                                   </div>
                                </div>
                            </div>
    
                            <div class="small_blog">
                                <div class="box_blog row">
                                    <div class="col-5">
                                        <div class="blog_picture">
                                            <img src="../assets/img/blog_demo.png" alt="Product">
                                        </div>
                                    </div>
                                    
                                    <div class="col-7">
                                        <div class="detail_blog">
                                            <div class="cate_blog">
                                                <a href=""><p class="description_text">Tips and Trick</p></a>
                                            </div>
                                            <div class="name_blog">
                                                <a href=""><p class="title_text">6 ways to give your home minimalistic vibes</p></a>
                                            </div>
                                            <div class="content_blog">
                                                <p class="description_text summary_blog">Pellentesque etiam blandit in 
                                                    tincidunt at donec. Eget ipsum .</p>
                                            </div>
                                            
                                            <div class="author_blog">
                                                <div class="author_avatar">
                                                    <img src="../assets/img/avatar_author.png" alt="">
                                                </div>
                                                <p class="title_text">By Jerremy Jean</p>
                                                <p class="description_text date_create">Friday, 1 April 2022</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>

                <div class="discount">
                    <div class="discount_title">
                        <p class="title_text">Join with me to get special discount</p>
                    </div>
                    <div class="button_discount">
                        <a href="" class="btn btn_group">Learn More <img src="../assets/img/arrow-right.png" alt=""></a>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Artickes  -->

        <!-- End Main  -->
    </main>

    <footer>
        <!-- This is footer  -->
        <div class="block_footer">
            <div class="container">
                <div class="box_aboutus d-flex">
                    <div class="detail_aboutus">
                        <a class="navbar-brand" href="#"><img src="../assets/img/logo.png" alt=""></a>
                        <p class="description_text">Lalasia is digital agency that help you make better experience iaculis cras in.</p>
                    </div>
                    <div class="box_services">
                        <div class="detial_service">
                            <div class="title_services">
                                <p class="title_text"><a href="product.html">Product</a></p>
                            </div>
                            <div class="list_services">
                                <a href=""><p class="description_text">New Arrivals</p></a>
                                <a href=""><p class="description_text">Best Selling</p></a>
                                <a href=""><p class="description_text">Home Decor</p></a>
                                <a href=""><p class="description_text">Kitchen Set</p></a>
                            </div>
                        </div>
                        <div class="detial_service">
                            <div class="title_services">
                                <p class="title_text"><a href="services.html ">Services</p></a>
                            </div>
                            <div class="list_services">
                                <a href=""><p class="description_text">Catalog</p></a>
                                <a href=""><p class="description_text">Blog</p></a>
                                <a href=""><p class="description_text">FaQ</p></a>
                                <a href=""><p class="description_text">Pricing</p></a>
                            </div>
                        </div>
                        <div class="detial_service">
                            <div class="title_services">
                                <p class="title_text">Follow Us</p>
                            </div>
                            <div class="list_services">
                                <a href=""><p class="description_text">Facebook</p></a>
                                <a href=""><p class="description_text">Instagram</p></a>
                                <a href=""><p class="description_text">Twitter</p></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="../assets/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script> -->
    <script src="../assets/js/slick.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/all.min.js"></script>
    <script src="../assets/js/index.js"></script>
</body>

</html>