<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lalasia: Product</title>
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <link rel="stylesheet" href="../assets/css/all.min.css">
    <link rel="stylesheet" href="../assets/css/slick.css">
    <link rel="stylesheet" href="../assets/css/slick-theme.css">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../assets/css/product.css">

</head>

<body>
    <header>
        <div class="block_header">
            <div class="container">
                <nav class="navbar navbar-expand-lg">
                    <a class="navbar-brand" href="index.html"><img src="../assets/img/logo.png" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"><img src="../assets/img/menu.png" alt=""></span>
                    </button>
                    
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item page_landing">
                                <a class="nav-link" href="product.html">Product</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="services.html">Services</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="article.html">Article</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="aboutus.html">About Us</a>
                            </li>
                        </ul>
                        <div class="my-2 my-lg-0">
                            <div class="options_navbar">
                                <a class="icon_option" href="">
                                    <img src="../assets/img/cart.png" alt="">
                                </a>
                                <a class="icon_option" href="">
                                    <img src="../assets/img/user.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>

    <main>
          <!-- Start Banner  -->
        <section class="block_banner">
            <div class="container">
                <div class="box_banner_text">
                    <div class="banner_title">
                        <h1 class="banner_title_text title_text">Products</h1>
                    </div>
                    <div class="banner_des">
                        <p class="description_text">We display products based on the latest products we have, if you want
                            to see our old products please enter the name of the item</p>
                    </div>
                </div>
            </div>
            <div class="box_banner_photo">
                <div class="banner_list_product">
                    <div class="small_banner">
                        <div class="banner_pic">
                            <img src="../assets/img/banner_product.png" alt="">
                        </div>
                        <div class="detail_banner carousel-caption align-items-center d-md-block container">
                            <div class="button_group">
                                <a href="" class="btn btn_group">Discount</a>
                            </div>
                            <div class="title_banner">
                                <p class="title_text">Ramadhan Sale Offer</p>
                                <p class="description_text">Get 40% off for the first transaction
                                    on Lalasia</p>
                            </div>
                        </div>
                    </div>
                    <div class="small_banner">
                        <div class="banner_pic">
                            <img src="../assets/img/banner_product.png" alt="">
                        </div>
                        <div class="detail_banner carousel-caption align-items-center d-md-block container">
                            <div class="button_group">
                                <a href="" class="btn btn_group">Discount</a>
                            </div>
                            <div class="title_banner">
                                <p class="title_text">Ramadhan Sale Offer</p>
                                <p class="description_text">Get 40% off for the first transaction
                                    on Lalasia</p>
                            </div>
                        </div>
                    </div>
                    <div class="small_banner">
                        <div class="banner_pic">
                            <img src="../assets/img/banner_product.png" alt="">
                        </div>
                        <div class="detail_banner carousel-caption align-items-center d-md-block container">
                            <div class="button_group">
                                <a href="" class="btn btn_group">Discount</a>
                            </div>
                            <div class="title_banner">
                                <p class="title_text">Ramadhan Sale Offer</p>
                                <p class="description_text">Get 40% off for the first transaction
                                    on Lalasia</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="banner_search">
                    <div class="search_icon">
                        <img src="../assets/img/search_icon.png" alt="">
                    </div>
                    <div class="input-group">
                        <input type="search" class="form-control rounded" placeholder="Search property"
                            aria-label="Search" aria-describedby="search-addon" />
                        <button type="button" class="btn btn_group">Search</button>
                    </div>

                    <div class="filter">
                        <div class="filter_pic">
                            <img src="../assets/img/filter.png" alt="">
                        </div>
                        <div class="fiter_text">
                            <p class="description_text">Filter</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Banner  -->

        <!-- Start: Total Product  -->
        <section class="block_total_product">
            <div class="container">
                <div class="box_title_product">
                    <div class="title_product">
                        <p class="title_text">Total Product</p>
                        <p class="title_text count_product">184</p>

                    </div>
                    <div class="sort_by">
                        <div class="sortby_pic">
                            <img src="../assets/img/sort.png" alt="">
                        </div>
                        <div class="sort_text">
                            <p class="description_text">Sort By</p>
                        </div>
                    </div>
                </div>

                <div class="list_product">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="box_product">
                                <div class="product_picture">
                                    <img src="../assets/img/product_demo1.png" alt="Product">
                                </div>
                                <div class="cate_product">
                                    <a href=""><p class="description_text">Chair</p></a>
                                </div>
                                <div class="name_product">
                                    <a href="detail_product.html"><p class="title_text">White Aesthetic Chair</p></a>
                                </div>
                                <div class="detail_product">
                                    <p class="description_text">Combination of wood and wool</p>
                                </div>
                                <div class="product_cost">
                                    <p class="title_text">$63.47</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="box_product">
                                <div class="product_picture">
                                    <img src="../assets/img/product_demo3.png" alt="Product">
                                </div>
                                <div class="cate_product">
                                    <a href=""><p class="description_text">Cupboard </p></a>
                                </div>
                                <div class="name_product">
                                    <a href=""><p class="title_text">Wooden Bookshelf</p></a>
                                </div>
                                <div class="detail_product">
                                    <p class="description_text">Combination of wood and wool</p>
                                </div>
                                <div class="product_cost">
                                    <p class="title_text">$79.88</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="box_product">
                                <div class="product_picture">
                                    <img src="../assets/img/product_demo4.png" alt="Product">
                                </div>
                                <div class="cate_product">
                                    <a href=""><p class="description_text">Chair </p></a>
                                </div>
                                <div class="name_product">
                                    <a href=""><p class="title_text">Minimalist Lounge Chair</p></a>
                                </div>
                                <div class="detail_product">
                                    <p class="description_text">Combination of wood and wool</p>
                                </div>
                                <div class="product_cost">
                                    <p class="title_text">$14.74</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="box_product">
                                <div class="product_picture">
                                    <img src="../assets/img/product_demo5.png" alt="Product">
                                </div>
                                <div class="cate_product">
                                    <a href=""><p class="description_text">Table </p></a>
                                </div>
                                <div class="name_product">
                                    <a href=""><p class="title_text">Working Desk Setup</p></a>
                                </div>
                                <div class="detail_product">
                                    <p class="description_text">Combination of wood and wool</p>
                                </div>
                                <div class="product_cost">
                                    <p class="title_text">$47.90</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="box_product">
                                <div class="product_picture">
                                    <img src="../assets/img/product_demo6.png" alt="Product">
                                </div>
                                <div class="cate_product">
                                    <a href=""><p class="description_text">Cupboard </p></a>
                                </div>
                                <div class="name_product">
                                    <a href=""><p class="title_text">Wooden Bookshelf</p></a>
                                </div>
                                <div class="detail_product">
                                    <p class="description_text">Combination of wood and wool</p>
                                </div>
                                <div class="product_cost">
                                    <p class="title_text">$79.88</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="box_product">
                                <div class="product_picture">
                                    <img src="../assets/img/product_demo7.png" alt="Product">
                                </div>
                                <div class="cate_product">
                                    <a href=""><p class="description_text">Table </p></a>
                                </div>
                                <div class="name_product">
                                    <a href=""><p class="title_text">Wooden Dining Table</p></a>
                                </div>
                                <div class="detail_product">
                                    <p class="description_text">Combination of wood and wool</p>
                                </div>
                                <div class="product_cost">
                                    <p class="title_text">$16.50</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="box_product">
                                <div class="product_picture">
                                    <img src="../assets/img/product_demo8.png" alt="Product">
                                </div>
                                <div class="cate_product">
                                    <a href=""><p class="description_text">Decoration </p></a>
                                </div>
                                <div class="name_product">
                                    <a href=""><p class="title_text">White Minimalist Vase</p></a>
                                </div>
                                <div class="detail_product">
                                    <p class="description_text">Combination of wood and wool</p>
                                </div>
                                <div class="product_cost">
                                    <p class="title_text">$58.39</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="box_product">
                                <div class="product_picture">
                                    <img src="../assets/img/product_demo9.png" alt="Product">
                                </div>
                                <div class="cate_product">
                                    <a href=""><p class="description_text">Decoration </p></a>
                                </div>
                                <div class="name_product">
                                    <a href=""><p class="title_text">Plant With Clay Stand</p></a>
                                </div>
                                <div class="detail_product">
                                    <p class="description_text">Combination of wood and wool</p>
                                </div>
                                <div class="product_cost">
                                    <p class="title_text">$61.49</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="box_product">
                                <div class="product_picture">
                                    <img src="../assets/img/product_demo10.png" alt="Product">
                                </div>
                                <div class="cate_product">
                                    <a href=""><p class="description_text">Decoration </p></a>
                                </div>
                                <div class="name_product">
                                    <a href=""><p class="title_text">Oval Gold Mirror</p></a>
                                </div>
                                <div class="detail_product">
                                    <p class="description_text">Combination of wood and wool</p>
                                </div>
                                <div class="product_cost">
                                    <p class="title_text">$32.43</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="box_product">
                                <div class="product_picture">
                                    <img src="../assets/img/product_demo1.png" alt="Product">
                                </div>
                                <div class="cate_product">
                                    <a href=""><p class="description_text">Decoration </p></a>
                                </div>
                                <div class="name_product">
                                    <a href=""><p class="title_text">Oval Gold Mirror</p></a>
                                </div>
                                <div class="detail_product">
                                    <p class="description_text">Combination of wood and wool</p>
                                </div>
                                <div class="product_cost">
                                    <p class="title_text">$32.43</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box_panigation">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                              <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                  <span aria-hidden="true">	&lt;</span>
                                </a>
                              </li>
                              <li class="page-item active" aria-current="page"><a class="page-link" href="#">1</a></li>
                              <li class="page-item"><a class="page-link" href="#">2</a></li>
                              <li class="page-item"><a class="page-link" href="#">3</a></li>
                              <li class="page-item"><a class="page-link" href="#">...</a></li>
                              <li class="page-item"><a class="page-link" href="#">10</a></li>
                              <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                  <span aria-hidden="true">&gt;</span>
                                </a>
                              </li>
                            </ul>
                          </nav>
                    </div>
                </div>
            </div>
        </section>
        <!-- End: Total Product  -->

    </main>

    <footer>
        <!-- This is footer  -->
        <div class="block_footer">
            <div class="container">
                <div class="box_aboutus d-flex">
                    <div class="detail_aboutus">
                        <a class="navbar-brand" href="#"><img src="../assets/img/logo.png" alt=""></a>
                        <p class="description_text">Lalasia is digital agency that help you make better experience iaculis cras in.</p>
                    </div>
                    <div class="box_services">
                        <div class="detial_service">
                            <div class="title_services">
                                <p class="title_text"><a href="product.html">Product</a></p>
                            </div>
                            <div class="list_services">
                                <a href=""><p class="description_text">New Arrivals</p></a>
                                <a href=""><p class="description_text">Best Selling</p></a>
                                <a href=""><p class="description_text">Home Decor</p></a>
                                <a href=""><p class="description_text">Kitchen Set</p></a>
                            </div>
                        </div>
                        <div class="detial_service">
                            <div class="title_services">
                                <p class="title_text"><a href="services.html ">Services</p></a>
                            </div>
                            <div class="list_services">
                                <a href=""><p class="description_text">Catalog</p></a>
                                <a href=""><p class="description_text">Blog</p></a>
                                <a href=""><p class="description_text">FaQ</p></a>
                                <a href=""><p class="description_text">Pricing</p></a>
                            </div>
                        </div>
                        <div class="detial_service">
                            <div class="title_services">
                                <p class="title_text">Follow Us</p>
                            </div>
                            <div class="list_services">
                                <a href=""><p class="description_text">Facebook</p></a>
                                <a href=""><p class="description_text">Instagram</p></a>
                                <a href=""><p class="description_text">Twitter</p></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="../assets/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="../assets/js/slick.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/all.min.js"></script>
    <script src="../assets/js/product.js"></script>
</body>

</html>