<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lalasia</title>
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <link rel="stylesheet" href="../assets/css/all.min.css">
    <link rel="stylesheet" href="../assets/css/slick.css">
    <link rel="stylesheet" href="../assets/css/slick-theme.css">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../assets/css/product.css">

</head>

<body>
    <header>
        <div class="block_header">
            <div class="container">
                <nav class="navbar navbar-expand-lg">
                    <a class="navbar-brand" href="index.html"><img src="../assets/img/logo.png" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"><img src="../assets/img/menu.png" alt=""></span>
                    </button>
                    
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item ">
                                <a class="nav-link" href="product.html">Product</a>
                            </li>
                            <li class="nav-item page_landing">
                                <a class="nav-link" href="services.html">Services</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="article.html">Article</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="aboutus.html">About Us</a>
                            </li>
                        </ul>
                        <div class="my-2 my-lg-0">
                            <div class="options_navbar">
                                <a class="icon_option" href="">
                                    <img src="../assets/img/cart.png" alt="">
                                </a>
                                <a class="icon_option" href="">
                                    <img src="../assets/img/user.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>

    <main>
    
    </main>
    
    <footer>
        <!-- This is footer  -->
        <div class="block_footer">
            <div class="container">
                <div class="box_aboutus d-flex">
                    <div class="detail_aboutus">
                        <a class="navbar-brand" href="#"><img src="../assets/img/logo.png" alt=""></a>
                        <p class="description_text">Lalasia is digital agency that help you make better experience iaculis cras in.</p>
                    </div>
                    <div class="box_services">
                        <div class="detial_service">
                            <div class="title_services">
                                <p class="title_text"><a href="product.html">Product</a></p>
                            </div>
                            <div class="list_services">
                                <a href=""><p class="description_text">New Arrivals</p></a>
                                <a href=""><p class="description_text">Best Selling</p></a>
                                <a href=""><p class="description_text">Home Decor</p></a>
                                <a href=""><p class="description_text">Kitchen Set</p></a>
                            </div>
                        </div>
                        <div class="detial_service">
                            <div class="title_services">
                                <p class="title_text"><a href="services.html ">Services</p></a>
                            </div>
                            <div class="list_services">
                                <a href=""><p class="description_text">Catalog</p></a>
                                <a href=""><p class="description_text">Blog</p></a>
                                <a href=""><p class="description_text">FaQ</p></a>
                                <a href=""><p class="description_text">Pricing</p></a>
                            </div>
                        </div>
                        <div class="detial_service">
                            <div class="title_services">
                                <p class="title_text">Follow Us</p>
                            </div>
                            <div class="list_services">
                                <a href=""><p class="description_text">Facebook</p></a>
                                <a href=""><p class="description_text">Instagram</p></a>
                                <a href=""><p class="description_text">Twitter</p></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="../assets/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="../assets/js/slick.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/all.min.js"></script>
    <script src="../assets/js/product.js"></script>
</body>

</html>