* {
    margin: 0;
    padding: 0;
}
/* hd */
.headerItem {
    background-color: #cccc;
    z-index: 2;
    padding: 10px;
}
.hdItem3 {
    display: flex;
    justify-content: end;
}
.btnPr {
    border: none;
    display: none;
    background: none;
}

.btnPr>i {
    font-size: 30px;
}
/* footer */
.footer {
}
.ft-pr {
    background: url('../img/ft1.png');
    background-size: 100%;
}

.ft-left>p {
    color: #ffff;
}

.ft-item,
.ft-item2,
.mxhTitle {
    color: #fff;
}

.ft-mxh>a>img {
    margin: 6px;
}

.ftContainer {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.ft-left {
    margin-right: 3rem;
}

.ft-right {
    width: 25%;
}

.ftMxh {
    margin: 3rem 0 3rem 0;
}

.ftItem {
    margin: 3rem 0 3rem 0;
}
@media (max-width: 570px) {
    .ft-left , .hdMenu , .itemdt2 , .ctnItem1 , .hdItem6 , .hdItem7 , .hdItem8{
        display: none;
    }
    .ft-pr {
        background-position-x: 100%; 
        background-size: cover;
    }
    .ft-right {
        width: 100% !important;
    }
    .ftMxh {
        margin: 3rem 0 3rem 0rem;
        width: 40%;
    }
    .headerItem2 {
        padding: 10px;
    }
    .btnPr {
        display: flex !important;
        justify-content: end;
        width: 50%;
        margin-top: 10px;
    }
    .mobiItem > i {
        font-size: 40px;
    }
    .hdItem5 {
        font-size: 30px;
        text-decoration: none;
        margin-left: 30px;
        color: black;
    }
    .hdItem5:hover {
        color: red;
    }
    .hdItem3 {
        display: none;
    }
    .hdItem2 {
        width: 50%;
    }

}

@media (min-width: 576px) and (max-width: 767px) {
    .ft-left , .hdMenu , .itemdt2 , .ctnItem1 , .hdItem6 , .hdItem7 , .hdItem8{
        display: none;
    }
    .ft-pr {
        background-position-x: 100%; 
        background-size: cover;
    }
    .ft-left>span,
    .ft-left {
        display: none;
    }
    .fl-left>img {
        width: 45% !important;
    }
    .ft-left>p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 10%;
    }
    .ft-right {
        width: 100% !important;
    }
    .ftHeader > img {
        width: 200px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    /* footer */
    .ft-pr {
        background-position-x: 100%;
        background-size: cover;

    }
    .ft-left>p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .ft-right {
        right: -5% !important;
        width: 350px !important;
    }
    .ft-item,
    .ft-item2 {
        margin: 10px !important;
    }
    .ft-item>span,
    .ft-item2>span {
        font-size: 16px !important;
    }
    .ftContainer {
        margin-top: 2rem!important;
        margin-bottom: 2rem!important;
    }
    .ft-left,
    .ft-right {
        margin-right: 1rem !important;
        margin-left: 1rem !important;
    }
    .imgItem {
        width: 250px;
    }
    .imgItem2 {
        width: 30px;
    }
}
@media (max-width: 281px) {
    .btnPr {
        margin-top :0;
    }
    .ftItem , .ftItem2{
        width: 100%;
    }
}
@media (min-width: 768px) {
    .ftHeader > img {
        width: 250px;
    }
    .ftItem2 {
        justify-content: end;
    }
}
@media (min-width: 992px) {
    .ftHeader > img {
        width: 300px;
    }
    .imgItem {
        width: 250px;
    }
    .imgItem2 {
        width: 30px;
    }
    .ftItem2 {
        justify-content: end;
    }
}




