* {
	margin: 0;
	padding: 0;
}
body {
    
}
.headerMenu {
	background-color: #c87e6b;
	padding: 1rem;
}
.item1 {
	list-style: none;
	line-height: 50px;
}
.item5 {
	font-family: Playfair Display;
}
.hdItem1{
	text-decoration: none;
	color: #fff;
	font-family: Montserrat;
	font-weight: 600;
}
.hdItem1:hover {
	color: #fff;
	opacity: 0.5;
}
.login {
	background-color: #c87e6b
}
.item2 {
	width: 24px;
}
.login {
	border: 2px #fff solid;
	padding: 4px 20px;
	border-radius: 12px;	
}
.btnPr {
    border: none;
    background: none;
}
.mobiItem > i {
        font-size: 40px;
}
.mobiItem > i > a {
    font-size: 30px;
    text-decoration: none;
    margin-left: 30px;
    color: black;
}
.sw-item {
	object-fit: cover;
    height: 302px;
    width: 100%;
    object-position: 0 10%;
    cursor: pointer;
}
/* header */
.topHeader {
	width: 25%;
}
.leftHeader {
	width: 25%;
}
.lefthd-item {
	object-fit: fill;
    height: 45px;
}
.midHeader {
	display: flex;
}
.imgParent {
	width: 100%;
	background-color: #e2ded2 !important;
	background: url('../img/hdleft.png');
	min-height: 1000px;
	background-size: 100%;
	z-index: -1;
	
}
.imgParent2 {
	max-height: 2400px;
}
.righthd-item1 {
	object-fit: cover;
	height: 100%;
	width: 100%;
	object-position: 0 0;
}
.righthd-item2 {
	width: 100%;
}
/* headerFooter */
.headerFooter {
	background: url('../img/ctn30.png');
}
.headerItem {
	text-align: center;
}
.item5 {
	text-align: center;
    font-weight: 500;
    line-height: 65px;
}
.item6 {
	color: #765a33;
	font-family: Montserrat Alternates;
	font-weight: 600;
}
.item7 {
	color: #765a33;	
}
.item8 , .item9 {
	list-style: none;
	font-family: Montserrat Alternates;
	font-weight: 600;
}
.click-hd {
	text-decoration: none;
	color: #484a4b;
}
.active {
	text-decoration: none;
	color: #fff !important;
	padding: 4px 20px;
	border-radius: 12px;
	background-color: #787878;
}
.active2 {
	color: red !important;
}
.click-hd2 {
	text-decoration: none;
	color: #484a4b;
}
.click-hd2:hover {
	opacity: 0.8;
	color: #787878;
}
.click-hd:hover {
	opacity: 0.8;
	color: #787878;
}
/* container */
.ctn2-item5, .ctn2-item6 , .ctnBanner-item7 , .ctn5-item3 {
	line-height: 1.1;
}
.ctn5-item2 {
	line-height: 60px;
}
.ctnBanner-item7 {
	margin-top: 20px;
}
.ctnvideo2 {
	display: none;
}
.ctnvideo-click {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 60px;
	color: #fff;
	cursor: pointer;
}
.containerItem , .containerItem3{
	text-align: center;
	font-family: Playfair Display;
}
.containerItem2 {
	font-family: Playfair Display;
}
.containerItem2{
	background-color: #e6e3da;
}
.containerItem2 > h3 {
	font-weight: 600;
}
.ctnbw-item {
	color: #765a33;
}
.ctnbw-item2{
	padding: 4px 30px;
	background-color: #454545;
	border-radius: 20px;
	border:none;
	text-decoration: none;
}
.ctnbw-item2 > span {
	color: #fff;
}
.ctnItem1 > img {
	margin: 15px 15px 0 0;
}
.containerItem4 {
	position: absolute;
    right: -3%;
    top: -6%;
    z-index: -1;
}
.containerItem5 {
	width: 1100px !important;
}
.containerItem6 {
	position: absolute;
    bottom: -6%;
    left: -3%;
    z-index: -1;
}
.containerItem7 {
	width: 100px;
    position: absolute;
    left: 0;
    top: 12%;
}
.containerItem8 {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 100px;
}
/* ctnbanner */
.leftctnBanner {
	background-color: #dbc06e;
	padding: 0 !important;
}
.rightctnBanner {
	padding: 0 !important;
}
.ctnBanner-item {
	background-color: #424242;
	padding: 8px 40px;
	border: none;
	border-radius: 20px;
}
.ctnBanner-item2 {
	color: #fff;
	font-family: Playfair Display;
	font-weight: 600;
}
.ctnBanner-item4 {
	text-align: center;
}
.ctnBanner-item5 {
    font-weight: 600;
    font-family: Montserrat Alternates;
    color: #424242;
}
.ctnBanner-item6 {
	text-align: center;
}
.ctnBanner-item7 {
	font-family: Montserrat Alternates;
	color: #424242;
	font-weight: 600;
}
.ctnBanner-item10 {
	object-fit: cover;
	height: 100%;
	object-position: 0 10%;
}
/* container2 */
.containerItem2 {
	padding: 10px 20px;
	cursor: pointer;
}
.item-heart{
	font-size: 20px;
	color: #e8a9a9;
}
.ctnhd-item2 {
	font-size: 20px;
}
.ctn2-item {
	width: 500px;
}
.ctn2-item3 {
    z-index: -1;
}
.ctn2-item2 {
    z-index: -1;
}
.ctn2-item4 {
	width: 100%;
}
.ctn2-item5 {
	font-weight: 600;
    font-size: 56px;
    font-family: Playfair Display;
}
.ctn2-item6 {
	width: 100%;
}
.ctn2-item7 {
    font-family: JosefinSlab;
    font-size: 20px;
    color: #765a33;
}
.ctn2-item8 {
	text-decoration: none;
}
.ctn2-item8:hover , .ctnbw-item2:hover {
	opacity: 0.8;
	transition: 1s;
}
.ctn2-item9 {
	color: #fff;
	background-color: #454545;
	padding: 8px 20px;
	border-radius: 20px;
}
.ctn2-item10 {
	display: flex;
}
/* container3 */
.ctn3-item {
	width: 500px;
}
.ctn3-item2 {
	width: 200px;
    z-index: -1
}
.ctn3-item3 {
    z-index: -1;
}
.ctn3-item7 {
    font-family: JosefinSlab;
    font-size: 20px;
    color: #765a33;
}
/* container5 */
.ctn5-item {
	text-align: center;
}
.ctn5-item3 {
	font-family: JosefinSlab;
	color: #484a4b;
	font-size: 16px;
}
.ctn5-item4 {
	width: 800px !important;
	line-height: 40px;
	outline: none;
	border: 2px #bdbdbd solid;
}
.ctn5-item5 {
	line-height: 60px;
}
.ctn5-item6 {
	background-color: #c87e6b;
	padding: 8px 20px;
	border-radius: 20px;
	text-decoration: none;
}
.ctn5-item6:hover {
	background-color: #c85234;
	transition: 1s;
}
.ctn5-item7 {
	color: #fff;
	font-family: Montserrat Alternates;
	font-weight: 600;
}

/* footer */
.footer {
	background-color: #424242;
}
.ftItem > h3 , .ftMxh-item2 {
	font-family: Montserrat  Alternates;
	color: #fff;
	font-weight: 600;
}
.ftItem > h3 {
	font-size: 40px;
}
.ftItem > li {
	list-style: none;
	line-height: 30px;
}
.ftItem > li > a {
	text-decoration: none;
	color: #fff;
	font-family: Montserrat Alternates;
}
.ft-item7 , .ft-item8{
	width: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.ft-item8 {
	width: 22px;
}
.ftMxh-item2 {
	line-height: 50px;
}
.ft-item9:hover {
	color: #e2a14a;
}
.ft-item5:hover , .ft-item6:hover {
	opacity: 0.8;
}
/* swiper */

.swiper-slide > img{
	width: 100%;
}
.swiper-button-next , .swiper-button-prev {
	position: relative !important;
	top: 100% !important;
	color: white !important;
	margin-top: 0px !important;
	clip-path: circle();
    background-color: #8d8888;
    padding: 20px 30px;
}
.swiper-button-next {
	--swiper-navigation-size : 20px !important;
}
.swiper-button-prev {
	--swiper-navigation-size : 20px !important;
}
@media (max-width: 280px) {
	.midHeader , .ctnhd-item , .item3{
		display: none !important;
	}
	.item2 {
	    width: 20px;
	    margin: 0 8px !important;
	}
	.item6 {
		font-size: 16px;
	}
	.item7 {
		width: 100%;
		font-size: 13px;
	}
	.lefthd-item {
	    object-fit: fill;
	    height: 30px;
	}
	.containerItem3 > h2 {
		font-size: 50px;	
	}
	.ctnvideo2 {
		height: 300px !important;
	}
	.leftHeader , .topHeader {
		width: 50% !important;
	}
	.leftHeader > img {
		width: 100%;
	}
	.item4 {
		margin-top: 0;
	}
	.hdBox {
		width: 100%
	}
	.item5 {
		font-size: 36px;
	}
	/* container3 */
	.containerItem > h2 , .containerItem3 > h2 {
		font-size: 40px;
	}
	.containerItem7 , .containerItem8 , .containerItem6 , .containerItem4 ,
	.ctn2-item2 , .ctn2-item3  , .ctn2-item10 , .ctn3-item2 , .ctn3-item3 , .ctn4-item2 , .ctn4-item3{
		display: none;
	}
	.row {
		--bs-gutter-x: 0 !important;
	}
	.ctnBanner-item5 {
		font-size: 70px;
	}
	.ctnBanner-item3 {
		width: 50px;
	}
	.ctnbt-item {
		width: 100%;
	}
	/* container2 */
	.ctn2-item4  {
		display: flex;
	}
	.ctn2-item5 , .ctn2-item6{
		text-align: center;
	}
	.ctn2-item7 {
		width: 100%;
	}
	.ctn2-item11 {
		justify-content: center;
		display: flex;
	}
	.ctn2-item12 {
		width: 70px !important;
	}
	.ctn5-item4 {
		width: 100% !important;
	}
	.containerBottom {
	    padding-bottom: 50px;
	}
	.ctnBanner-item {
		margin: 20px 0;
	}
	.click-hd2 {
		font-size: 13px;
	}
	.ctnBanner-item9 {
		height: 230px;
	}
	/* footer */
	.ftMxh-item2 {
		width: 100%;
		margin : 0;
		font-size: 30px
	}
	.ftMxh-item3 {
		margin: 0 8px;
	}
	.ftMxh-item4 {
		display: none;
	}
	.ftMxh-item {
		width: 100%;
    	justify-content: center;
	}
}
@media (min-width: 320px) {
	.midHeader {
		display: none;
	}
	.leftHeader , .topHeader {
		width: 50% !important;
	}
	.item4 {
		margin-top: 0;
	}
	.item7 {
		width: 100%;
		font-size: 20px;
	}
	.hdBox {
		width: 100%;
		text-align: center;
	}
	.item5 {
		font-size: 50px;
	}
	/* container3 */
	.containerItem > h2 , .containerItem3 > h2 {
		font-size: 50px;
	}
	.containerItem {
		width: 50%;
	}
	.containerItem3 {
		padding-bottom: 20px;
	}
	.containerItem4 {
		width: 200px;
	}
	.containerItem6 {
		width: 100px;
	}
	.ctn2-item2 {
	    width: 120px;
	    right: -10px;
	    top: -10px;
	}
	.ctn2-item3 {
	    top: 180px;
	    left: -10px;
	    width: 180px;
	}
	.ctn3-item2 {
		top: -12px;
    	left: 5px;
    	width: 120px;
	}
	.ctn3-item3 {
		top: 180px;
	    right: 5px;
	    width: 180px;
	}
	.ctn4-item2 {
		width: 120px;
	    right: 5px;
	    top: -10px;
	    z-index: -1;
	}
	.ctn4-item3 {
		top: 180px;
	    left: 5px;
	    width: 180px;
	    z-index: -1;
	}
	.container {
		--bs-gutter-x: 0 !important;
	}
	.row {
		--bs-gutter-x: 0 !important;
	}
	.ctnBanner-item5 {
		font-size: 100px;
	}
	.ctnBanner-item3 {
		width: 50px;
	}
	.ctn-item13 {
		height: 250px;
	}
	.ctnbt-item {
		object-fit: cover;
	    width: 100%;
	    height: 100%;
	}
	.ctnbw-item {
	    font-size: 18px;
	}
	.rigtctn2 , .leftctn4 {
		justify-content: center;
	}
	/* swiper */ 
	.swiper-button-next {
		right: -10px !important;
	}
	.swiper-button-prev {
		left: -10px !important;
	}
	/* container2 */
	.ctn2-item4  {
		display: flex;
	}
	.ctn2-item7 , .ctn3-item7{
		width: 100%;
		font-size: 22px;
	}
	.ctn2-item11 {
		justify-content: center;
		display: flex;
	}
	.ctn2-item12 {
		width: 70px !important;
	}
	.ctn5-item4 {
		width: 100% !important;
	}
	.ctnBanner-item {
		margin: 30px 0;
	}
	.ctnvideo2 {
		height: 250px !important;
	}
	.ctnBanner-item9 {
		height: 250px;
	}
	.ctn5-item2 {
		font-family: Playfair Display;
		font-size: 45px;
		font-weight: 600;
	}
	/* footer */
	.ftMxh-item2 {
		width: 100%;
		margin : 0;
		font-size: 30px
	}
	.ftMxh-item3 {
		margin: 0 8px;
	}
}
@media (min-width: 576px) {
	.item5 {
	    font-size: 55px;
	}
	.ctn2-item7, .ctn3-item7 {
	    width: 400px;
	    font-size: 22px;
	}
	.ctnbw-item {
	    font-size: 14px;
	}
}
@media (min-width: 768px) {
	/* hd */
	.item5 {
	    font-size: 60px;
	}
	.item6 {
		font-size: 26px;
	}
	.item7 {
		text-align: start;
		padding-left: 25px;
	}
	/* container */
	.containerItem {
		width: 70%;
	}
	.containerItem > h2 , .containerItem3 > h2 {
		font-size: 60px;
	}
	.container {
		--bs-gutter-x: 2.5rem !important;
	}
	.containerItem4 {
		width: 300px;
	}
	.containerItem6 {
		width: 220px;
	}
	.ctn2-item7 , .ctn3-item7{
		width: 400px;
		font-size: 24px;
	}
	.ctn2-item11 {
	    justify-content: start;
	}
	.ctn2-item12 {
		display: none;
	}
	.ctnBanner-item5 {
	    line-height: 120px;
	}
	.ctn4-item2 {
		right: -5px;
	    top: -20px;
	    z-index: -1;
	    width: 200px;
	}
	.ctn4-item3 {
		top: 250px;
	    left: -10px;
	    z-index: -1;
	    width: 200px;
	}
	.ctn3-item2 {
	    left: -10px;
	    top: -20px;
	    width: 200px;
	}
	.ctn3-item3 {
	    top: 250px;
	    right: -15px;
	    width: 200px;
	}
	.ctnBanner-item {
		margin: 0;
	}
	.ctnbt-item {
		height: 100%;
		object-fit: cover;
	    width: 100%;
	}
	.rigtctn2 {
		justify-content: center;
	}
	.ctn5-item2 {
		font-size: 50px;
	}
	.ctn-item13{
		height: 385px;
	}
	.ctnvideo2 {
		height: 385px !important;
	}
	.ctn2-item2 {
		right: -20px;
    	top: -20px;
    	width: 200px;
	}
	.ctn2-item3 {
	    top: 270px;
	    left: -20px;
	    width: 200px;
	}
	/* footer */
	.ftItem > h3 {
	    font-size: 30px;
	}
	.ftMxh-item {
		text-align: end;
	}
	.ctnBanner-item7 {
		font-size: 18px;
		margin-bottom: 0 !important;
	}
	.ctnBanner-item {
		padding: 6px 20px;
	}
	.righthd-item2 {
		height: 500px;
	}
	.ctnBanner-item9 {
		height: 280px;
	}

}
@media (min-width: 992px) {
	/* header */
	.btnPr {
		display: none;
	}
	.midHeader {
		display: flex;
		width: 50% !important;
	}
	.leftHeader {
		width: 25% !important;
	}
	.topHeader {
		width: 25% !important;
	}
	.item5 {
	    font-size: 65px;
	}
	.item7 {
		font-size: 20px;
    	width: 100%;
	}
	.item13 {
		bottom: -7%;
		width: 80px;
	}
	/* main */
	.containerItem {
		width: 80%;
	}
	.ctnBanner-item5 {
		font-size: 110px;
		line-height: 120px;
	}
	.ctn3-item2 {
	    left: -20px;
	    top: -20px;
	    width: 200px;
	}
	.ctn3-item3 {
	    top: 270px;
	    right: -20px;
	    width: 200px;
	}
	.ctn2-item7 , .ctn3-item7{
		width: 400px;
	}
	.ctn2-item11 {
	    justify-content: center;
	    display: flex;
	}
	.ctn5-item4 {
		width: 700px !important;
	}
	.ctn4-item2 {
	    right: -20px;
	    top: -20px;
	    z-index: -1;
	    width: 200px;
	}
	.ctn4-item3 {
	    top: 270px;
	    left: -20px;
	    z-index: -1;
	    width: 200px;
	}
	.ctnbt-item {
		height: 525px;
		object-fit: cover;
	    width: 100%;
	}
	.containerItem4 {
		top: -5%;
		width: 350px;
	}
	.containerItem6 {
		bottom: -3%;
    	left: -2%;
	}
	.righthd-item2 {
		height: 600px;
		width: 100%;
	}
	.ctn5-item2 {
		font-size: 60px;
	}
	.ctn-item13{
		height: 525px;
	}
	.ctnvideo2 {
		height: 525px !important;
	}
	.ctnbw-item {
	    font-size: 16px;
	}
	.rigtctn2 {
	    justify-content: start;
	}
	.leftctn3 {
		justify-content: end !important;
	}
	/* swiper */
	.swiper-button-next {
		right: -20px !important;
	}
	.swiper-button-prev {
		left: -20px !important;
	}
	/* footer */
	.footerMxh {
		justify-content: end;
	}
	.ftItem > h3 {
	    font-size: 36px;
	}
	.ctn2-item10 , .ctn2-item12{
		display: flex;
	}
	.ctn2-item12 {
		width: 100px;
	}
	.ctnvideo2 {
		height: 600px !important;
	}
	.ctnBanner-item9 {
		height: 320px;
	}
}
@media (min-width: 1200px ) {
	/* header */ 
	.item5 {
		font-size : 80px;
		 width: 500px;
	}
	.item6 {
	    font-size: 34px;
	}
	.item7 {
		display: flex;
		justify-content: center;
		font-size: 28px;
		width: 500px;
	}
	.item13 {
		bottom: -7%;
		width: 100px;
	}
	.righthd-item1 {
		width: 100%;
	}
	.righthd-item2 {
		width: 100%;
		height: 700px;
	}
	/* container */
	.containerBottom {
		padding-bottom: 150px;
	}
	.containerItem8 {
	    position: absolute;
	    right: 0;
	    bottom: -9%;
	    width: 100px;
	}
	.ctn5-item4 {
	    width: 1100px !important;
	}
	.containerItem4 {
		right: -30px;
    	top: -30px;
	}
	.containerItem6 {
		bottom: -25px;
   		left: -30px;
	}
	.ctnbt-item {
		object-fit: cover;
	    width: 100%;
	    height: 600px
	}
	.ctnBanner-item3 {
		width: 70px;
	}
	.ctnvideo2 {
		height: 600px !important;
	}
	.ctn-item13{
		height: 600px;
	}
	/* footer */
	.ftItem > h3 {
    	font-size: 45px;
	}
	.ftMxh-item2 {
		text-align: end;
		line-height: 50px;
	}
	.ctn2-item5, .ctn2-item6 {
	    text-align: start;
	}
	.ctn2-item11 {
	    justify-content: start;
	}
	.ctn3-title {
		display: grid;
		justify-content: end;
	}
	.ctnBanner-item5 {
		font-size: 160px;
    	line-height: 140px;
	}
	.ctnBanner-item7 {
		font-size: 30px;
	}
	.ctn5-item3 {
	    font-size: 20px;
	}
	.ctnBanner-item9 {
		height: 400px;
	}
}








