$primary: #c87e6b;
$brown: #6b502c;
$colorText: #765a33;
$colorH: #484a4b;
$primary-light: #f0f6ff;
$primary-grey: #424242;
$secondary-dark: #484a4b;
$secondary: #787878;
$secondary-light: #efefef;
$warning: #f9a322;
$dark: #3b3b3b;
$light: #fff;
$success: #00af07;
$border-color: #ced4da;
