@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@400;500;700&display=swap');

$tablet-width: 768px;
$desktop-width: 1024px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}


body {
    background-image: url("../img/bg.png");
}

    ////////// Header ////////
    .block_header {
        background-color: #c87e6b;

        @include tablet() {
            padding: 15px 0px 10px;
        }

        @include desktop() {
            padding: 30px 0px 25px;
        }
    }

    .navbar-brand {
        margin-right: 0;

        .nav_pic {
            width: 100%;
        }
    }
    
    .navbar-toggler {
        line-height: unset;
    }

    .nav-item {
        font-size: 16px;
        font-family: 'Montserrat', sans-serif;
        color: #e7e4db;
        line-height: 2.048;
        text-transform: uppercase;
        margin: auto;
        font-weight: bold;

        @include tablet() {
            font-size: 15px;
        }

        @include desktop() {
            font-size: 20px;
            margin: 0 25px;
        }

        &:hover {
            color: #ffffff;
        }
    }

    #sign_in {
        border: 2px solid;
        border-radius: 25px;
        padding: 5px 5px;
        white-space: nowrap;
    }

    .box_session {
    
        a {
            margin-right: 10px;
        }
    }

    // End header //


    ///////////// Main ////////////////


    // Banner 

    .box_banner {

        &:nth-child(1) {
            background-image: url("../img/leaf_banner.png");
            background-position: bottom left;
            background-repeat: no-repeat;
            background-size: 15%;
        }
    }


    .box_small_banner {
        padding: 30px 45px 30px;
        position: relative;
        background-image: url("../img/leaf_topbanner.png");
        background-position: top right;
        background-repeat: no-repeat;
        background-size: 15%;

        .box_small_text {
            position: relative;

            .banner_title {
                font-family: 'Playfair Display', serif;
                overflow: hidden;
                font-size: 40px;
                font-weight: bold;
                color :#484a4b;

                @include tablet() {
                    font-size: 40px;
                    overflow: unset;
                    
                }

                @include desktop() {
                    font-size: 100px;
                }
            }
            
            .small_title {
                font-family: 'Montserrat Alternates', sans-serif;
                font-size: 30px;
                overflow: hidden;
                font-weight: 700;
                color: #765a33;
                position: relative;
                padding: 0 25px;
                margin: auto;
            

                &::before {
                    content: "";
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    background-color: #765a33;
                    border-radius: 50%;
                    top: 50%;
                    left: 0;

                    @include tablet() {
                        left: 0;
                    }

                    @include desktop() {
                        left: 0;
                    }
                }

                &::after {
                    content: "";
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    background-color: #765a33;
                    border-radius: 50%;
                    top: 50%;
                    right: 0%;

                    @include tablet() {
                        right: 0;
                    }

                    @include desktop() {
                        right: 0;
                    }
                }
            }
            
            .para_text {
                font-family: 'Josefin Slab', serif;
                font-size: 16px;

                @include tablet() {
                    font-size: 15px;
                }

                @include desktop() {
                    font-size: 20px;
                }
            }
        }

        .box_button {

            .btn_shop {
                font-family: 'Montserrat Alternates', sans-serif;
                background-color: #787878;
                color:#ffffff;
                padding: 5px 20px;
                border-radius: 25px;
                border: none;
                font-weight: 700;
                text-transform: uppercase;

                @include desktop() {
                    font-size: 20px;
                }
            }
            
            .btn_read {
                font-family: 'Montserrat Alternates', sans-serif;
                border: none;
                background: none;
                font-weight: 700;
                text-transform: uppercase;

                @include desktop() {
                    font-size: 20px;
                }
            }
        }     
        
        @include tablet() {
            padding: 40px 45px 0px;
            margin-top: 0px;
        }

        @include desktop() {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
            
    }

    .img_banner {
        width: 100%;
        height: auto;
        object-fit: cover;

        @include tablet() {
            height: 412px;
        }
        @include desktop() {
            height: 824px;
        }
    }

        

    .box_achievement {
        background-color: #6b502c;
    }


    .small_box_achive {
        margin: 50px 0px;

        .achive_count {
            font-family: 'Playfair Display', serif;
            font-weight: bold;
            line-height: 0.67;
            color: #ffffff;
            font-size: 45px;

            @include tablet() {
                font-size: 50px;
            }

            @include desktop() {
                font-size: 70px;
            }
        }
        
        .achive_name {
            font-family: 'Montserrat Alternates', sans-serif;
            line-height: 1.256;;
            color: #ffffff;
            font-weight: 600;
            font-size: 20px;

            @include tablet() {
                font-size: 16px;
            }
        }
    }

    // Product // 
    .block_product {
        margin-top: 100px;
    }


    .box_product_title {
        margin-bottom: 70px;
        background-image: url("../img/left_right.png"), url("../img/left_left.png");
        background-position: bottom left , bottom right;
        background-repeat: no-repeat;
        background-size: 5%;

        .product_title {
            font-family: 'Playfair Display', serif;
            font-weight: bold;
            line-height: 0.905;
            text-align: center;
            font-size: 35px;
            color: #484a4b;

            @include tablet() {
                font-size: 100px;
            }

            @include desktop() {
                font-size: 134px;
            }
            
        }
        
        .product_small_title {
            font-family: 'Montserrat Alternates', sans-serif;
            text-align: center;
            font-weight: 500;
            color:#917c5d;
            overflow: hidden;
            font-size: 16px;

            @include tablet() {
                font-size: 20px;
            }

            @include desktop() {
                font-size: 25px;
            }
            
        }
    }
        
    .box_list_product {
        @include tablet() {
            display: none;
        }

        @include desktop() {
            display: none;
        }

    }

    .carousel-item {
        padding: 25px 5px;
    }

    .smallbox_product {
        margin-top: 50px;
        background-color: rgb(230, 227, 218);
        box-shadow: 0px 7px 18px 0px rgba(0, 0, 0, 0.19);
        width: 90%;
        margin: auto;


        .like_product {
            
            .love_icon {
                float: right;
                font-size: 20px;
                margin-top: 15px;
                padding-right: 15px;
                margin-bottom: 10px;
            }
        }

        .product_img {
            width: 100%;
            height: 310px;
            overflow: hidden;

            .product_pic {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            @include desktop() {
                height: 350px;
            }
        }

        .detail_product {
            margin-top:  30px;
            padding: 0px 40px 20px;

            .detail_product_title {
                font-family: 'Playfair Display', serif;
                color: #484a4b;
                font-weight: bold;
                line-height: 0.905;
                text-align: center;
                font-size: 30px;
                overflow: hidden;
                text-overflow: ellipsis;

                @include tablet() {
                    overflow: unset;
                }

                @include desktop() {
                    overflow: unset;
                }
            }
            
            .detail_product_text {
                font-family: 'Montserrat Alternates', sans-serif;
                font-size: 12px;
                line-height: 1.333;
                color: #6b502c;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            
            .read_product {
                font-family: 'Montserrat Alternates', sans-serif;
                border: none;
                background-color: #454545;
                border-radius: 25px;
                padding:4px 16px;
                color:#e6e3da;
                font-size: 10px;
                white-space: nowrap;
                text-transform: uppercase;

                @include desktop() {
                    font-size: 15px;
                }
                
            }
        }
    }

    
    .button_carousel {
        margin-top: 30px; 
        position: relative;

        &::before {
            content: "";
            background-image: url("../img/leaf_product1.png");
            position: absolute;
            background-size: 100%;
            background-position: left;
            background-repeat: no-repeat;
            width: 67px;
            height: 67px;
            left: 5%;
        }

        &::after {
            content: "";
            background-image: url("../img/leaf_product.png");
            position: absolute;
            background-size: 100%;
            background-position: right;
            background-repeat: no-repeat;
            width: 67px;
            height: 67px;
            right: 5%;
        }

        .carousel-control-next, .carousel-control-prev {
            position: relative;
            display: inline-block ;
            background-color: #454545;
            height: 60px;
            width: 60px;
            border-radius: 50%;
        }
    }

        



    .pc_second {
        display: none;

        @include tablet() {
            display: inline-block;
        }

        @include desktop() {
            display: inline-block;
        }
    }

    //End Product

    // About us //
    .block_aboutus {
        margin-top: 100px;
    }

    .box_about_us {
        position: relative;

        &::before {
            content: "";
            background-image: url("../img/leaf_aboutus2.png");
            position: absolute;
            background-size: 7%;
            background-position: top left;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
        }

        &::after {
            content: "";
            background-image: url("../img/leaf_aboutus.png");
            position: absolute;
            background-size: 7%;
            background-position: center right;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            top: 200px;

            @include desktop() {
                top: 400px
            }
            
        }

        .box_aboutus_title {

            .aboutus_title {
                font-family: 'Playfair Display', serif;
                font-weight: bold;
                line-height: 0.905;
                color: #484a4b;
                font-size: 35px;
    
                @include tablet() {
                    font-size: 100px;
                }
    
                @include desktop() {
                    font-size: 134px;
                }
            }
            
            .aboutus_small_title {
                font-family: 'Montserrat Alternates', sans-serif;
                color:#765a33;
                font-size: 16px;
                margin-top: 24px;
    
                @include tablet() {
                    font-size: 20px;
                }
    
                @include desktop() {
                    font-size: 25px;
                }
            }
        }
    
        .box_video_aboutus {
            margin-top: 80px;
            position: relative;
            z-index: 1;
    
            .aboutus_pic {
                width: 100%;
            }
    
            .fa-play-circle {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: #ffffff;
                font-size: 50px;
    
                @include desktop() {
                    font-size: 80px;
                }
            }
    
            &::after {
                content: "";
                position: absolute;
                bottom: -25px;
                left: -15px;
                width: 100px;
                height: 100px;
                background-color: #c87e6b;
                z-index: -1;
            }
    
            &::before {
                content: "";
                position: absolute;
                top: -20px;
                right:-15px;
                width: 145px;
                height: 100px;
                border: 2px solid #8a6a3e;
                z-index: -1;
            }
        }
    }

    .box_offer {
        margin-top: 90px;

        @include tablet() {
            margin-top: 70px;
        }

        @include desktop() {
            margin-top: 170px;
        }

        .offer_detail {
            &:nth-child(1) {
                background-color: #ddc57c;
            }
        }

            .box_offer_detail {
                padding: 30px 45px 30px;
                position: relative;

                .box_offer_text {

                    .offer_title {
                        font-family: 'Playfair Display', serif;
                        font-weight: bold;
                        text-transform: uppercase;
                        line-height: 0.905;
                        background-color: #424242;
                        color: #e7e4db;
                        border-radius: 25px;
                        padding: 5px 15px;
                        font-size: 20px;
                        border: none;

                        @include tablet() {
                            font-size: 30px;
                        }

                        @include desktop() {
                            font-size: 40px;
                        }
                    }
                    
                    .cost_offer {
                        line-height: 0.905;
                        font-family: 'Montserrat Alternates', sans-serif;
                        font-weight: 800;
                        font-size: 40px;
                        color:#424242;
                        margin-top: 10px;

                        @include tablet() {
                            font-size: 50px;
                        }

                        @include desktop() {
                            font-size: 139px;
                        }
                    }
                    
                    .offer_text {
                        color:#424242;
                        font-family: 'Montserrat Alternates', sans-serif;
                        font-weight: bold;
                        line-height: 1;
                        font-size: 16px;
                        margin-bottom: 0px;

                        @include desktop() {
                            font-size: 29px;
                        }
                    }
                }

                .box_leaf {

                    img {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 10%;

                        &:nth-child(1) {
                            left: 15px;
                        }

                        &:nth-child(2) {
                            right: 15px;
                        }
                    }
                    
                }

                @include tablet() {
                    padding: 40px 45px 0px;
                    margin-top: 0px;
                }

                @include desktop() {
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

            }

            .offer_photo {

                .offer_pic {
                    width: 100%;
                    object-fit: cover;
                    height: auto;
                }
            }

            
    }
    // End about us

    // Blog 

    .list_blog {
        margin-top: 100px;
    }


    .box_blog {
        margin-top: 50px;


        &:nth-child(odd) {
            background-image: url("../img/big_leaf.png");
            background-repeat: no-repeat;
            background-position: bottom right;
            background-size: 10%;
            padding-bottom: 30px;

            @include tablet() {
                padding-bottom: 130px;
            }

            @include desktop() {
                padding-bottom: 130px;
            }

            .container {

                @include tablet() {
                    display: flex;
                }

                @include desktop() {
                    display: flex;
                }

                .feature_img {

                    &::before {
                        content: "";
                        position: absolute;
                        bottom: -20px;
                        left:-15px;
                        width: 145px;
                        height: 100px;
                        border: 2px solid #8a6a3e;
                        z-index: -1;
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        top: 10px;
                        right: -10px;
                        width: 100px;
                        height: 100px;
                        background-color: #c87e6b;
                        z-index: -1;
                    }
                }
            }
        }

        &:nth-child(even) {
            background-image: url("../img/big_leaf2.png");
            background-repeat: no-repeat;
            background-position: bottom left;
            background-size: 10%;
            padding-bottom: 30px;

            @include tablet() {
                padding-bottom: 130px;
            }

            @include desktop() {
                padding-bottom: 130px;
            }

            .container {

                .row {

                    @include tablet() {
                        display: flex;
                        flex-direction: row-reverse;
                    }
    
                    @include desktop() {
                        display: flex;
                        flex-direction: row-reverse;
                    }


                    .content_blog {
                        @include tablet() {
                            margin-left: 0;
                            margin-right:93px
                        }
        
                        @include desktop() {
                            margin-left: 0;
                            margin-right:100px
                        }
                    }

                    .feature_img {
                        
                        &::before {
                            content: "";
                            position: absolute;
                            top: 10px;
                            left: -10px;
                            width: 100px;
                            height: 100px;
                            background-color: #c87e6b;
                            z-index: -1;
                        }
                        
                        &::after {
                            content: "";
                            position: absolute;
                            bottom: -20px;
                            right:-15px;
                            width: 145px;
                            height: 100px;
                            border: 2px solid #8a6a3e;
                            z-index: -1;
                        }
                    }
                }
            }
        }
    }



    .feature_img {
        position: relative;
        z-index: 1;

        img {
            width: 100%;
            margin-top: 20px; 
            height: 100%;
            object-fit: cover;

            @include tablet() {
                height: 332px;
            }

            @include desktop() {
                height: 524px;
            }
        }
    }
    
    .content_blog {
        padding-top: 15px;

        @include tablet() {
            margin-left: 93px;
            margin-top: 30px;
        }

        @include desktop() {
            margin-left: 93px;
            margin-top: 80px;
        }
        
        .content_pic {
            width: 15%;
            margin-top: 10px;
        }

        .content_blog_title {
            font-family: 'Playfair Display', serif;
            font-weight: bold;
            line-height: 1.071;
            color : #484a4b ;
            font-size: 35px;

            @include tablet() {
                font-size: 40px;
            }

            @include desktop() {
                font-size: 52px;
            }
        }
        
        .content_text {
            font-family: 'Josefin Slab', serif;
            color:#765a33;
            line-height: 1.167;
            margin-top: 20px;
            font-size: 16px;

            @include tablet() {
                font-size: 13px;
            }

            @include desktop() {
                font-size: 20px;
            }
        }
        
        .read_more {
            font-family: 'Montserrat Alternates', sans-serif;
            border: none;
            background-color: #454545;
            border-radius: 25px;
            padding:4px 16px;
            color:#e6e3da;
            font-size: 10px;
            margin-top: 15px;
            text-transform: uppercase;

            @include desktop() {
                font-size: 20px;
            }
        }
    }

        
    // End Blog 

    // Subcribe // 
    .block_subscribe {
        padding-bottom: 40px;
        margin-top: 46px;
    }

    .box_sub {

        .box_sup_title {
            font-weight: bold;
            line-height: 1.071;
            font-family: 'Playfair Display', serif;
            font-size: 50px;
            color : #484a4b ;
            font-size: 24px;

            @include tablet() {
                font-size: 50px;
            }

            @include desktop() {
                font-size: 114px;
            }
        }   
        
        .box_sup_small_title {
            font-family: 'Josefin Slab', serif;
            font-size: 16px;
            color: #5d5f5e;

            @include tablet() {
                font-size: 20px;
            }

            @include desktop() {
                font-size: 26px;
            }
        }
    }

    .info_sub {

        .form-control {
            margin-top: 20px;

            @include tablet() {
                margin-top: 40px;
            }

        }

        .inputfield {
            height: 150px;
        }

        .btn_sub {
            font-family: 'Montserrat Alternates', sans-serif;
            background-color: #c87e6b;
            color:#ffffff;
            font-weight: bold;
            line-height: 1.046;
            padding: 10px 15px;
            margin-top: 50px;
            border-radius: 25px;
            text-transform: uppercase;

            @include desktop() {
                font-size: 30px;
            }
        }
    }
    // End sub //

    /////////////// End Main /////////////////

    // Footer // 
    .block_footer {
        padding: 150px 0px 100px;
        background-color: #424242;
    }

    .box_footer {
        margin-top: 20px;

        .footer_title {

            .title_text {
                font-family: 'Montserrat Alternates', sans-serif;
                font-weight: 600;
                line-height: 1.2;
                color: #ffffff;
                font-size: 24px;

                @include desktop() {
                    font-size: 40px;
                }
            }
        }

        .info_footer {

            a {
                text-decoration: none;

                .info_footer_text {
                    font-family: 'Montserrat Alternates', sans-serif;
                    font-size: 16px;
                    color: #ffffff;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }

    .follow_us {
        display: flex; 
        justify-content: center;
        margin-top: 40px;

        @include desktop() {
            justify-content: right;
        }
    }

    .follow_us_title {
        margin-right: 10px;

        .follow_us_text {
            font-family: 'Montserrat Alternates', sans-serif;
            font-size: 25px;
            color: #ffffff;
            font-weight: bold;
        }
    }

    .social_list {
        margin-top: 5px;

        .social_link {
            color: #ffffff;
            border: 2px solid;
            border-radius: 25px;
            padding: 1px 5px;
        }
    }

    // End footer //////

