*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.banner-book-ticket{
    background-color: #fff;
    min-height: 670px;
}
.heading-text-sec-1{
    width: 368px;
}
.heading-text-sec-1 p{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
.text-desc-and-book-ticket-btn{
    position: relative;
    padding-top: 90px;
}
.text-desc-and-book-ticket-btn h1{
    font-family: 'Cardo', serif;
    font-size: 70px;
    line-height: 1;
}
.scribble-light > img{
    left: 0;
    top: 30%;
    position: absolute;
    width: 483px;
    height: 500px;
}
.image-spectacle{
    position: relative;
    padding-top: 90px;
}
.image-spectacle .scribble-black .scribble-dark{
    position: absolute;
    bottom: 0;
    right: 0;
}
.image-spectacle .scribble-dark{
    position: absolute;
    top: 50%;
    width: 117px;
    height: 329px;
    object-fit: contain;
}
.heading-text-sec-1{
    position: relative;
    z-index: 1;
}
.book-btn{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    background-color: black;
    color: #fff;
    width: 256px;
    height: 56px;
    border-radius: 5px;
}
.book-btn:hover{
    background-color: #fff;
    color: black;
    cursor: pointer;
    border: 3px solid #000;
}
.travel_logs{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 386px;
    background-color: black;
    padding-top: 70px;
    padding-bottom: 70px;
}
.travel_logs h3{
    color: #fff;
    font-family: 'Cardo', serif;
    font-size: 50px;
    text-align: center;
}
.travel_logs p{
    color:#fff;
    text-align: center;
}
.travel-log-btn{
    width: 256px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border: 3px solid #fff;
    border-radius: 5px;
}
.travel-log-btn:hover{
    background-color: #fff;
    color: black;
    cursor: pointer;
}
.travel-log-btn h4{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    margin-bottom: 0;
}
.travel-logs-heading-desc{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.place_lists{
    width: 100%;
    position: relative;
    background-color: #fff;
    min-height: 778px;
}
.place_lists .image-desc-sec-3{
    padding: 0 23px;
}
.sec-3-place-lists{
    padding-top: 144px;
}
.place_lists .scribble-dark-3 > img{
    position: absolute;
    top: 20%;
    left: 0;
    width: 44px;
    height: 530px;
}
.place_lists .scribble-dark-4 > img{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 73px;
    height: 394px;
}
.heading-and-text-sec-3 h3{
    font-family: 'Cardo', serif;
    font-weight: 700;
    font-size: 30px;
}
.heading-and-text-sec-3 p{
    text-align: justify;
}
.place_lists .image-desc-sec-3 > img{
    width: 100%;
    height: auto;
}
@media (max-width: 1310px){
    .image-spectacle .scribble-black{
        display: none;
    }
}
@media (max-width: 1260px){
    .image-spectacle .image-natural{
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 1100px){
    .heading-text-sec-1{
        width: 318px;
    }
    .heading-text-sec-1 h1{
        font-size: 60px;
    }
    .scribble-light > img{
        width: 400px;
        height: 414px;
    }
}
@media (max-width: 992px){
    .scribble-light{
        display: none;
    }
    .heading-text-sec-1{
        width: 263px;
    }
    .heading-text-sec-1 h1{
        font-size: 50px;
    }
    .scribble-light > img{
        width: 200px;
        height: 207px;
    }
    .text-desc-and-book-ticket-btn{
        display: flex !important;
        align-items: center !important;
    }
    .banner-book-ticket{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .text-desc-and-book-ticket-btn h1, .text-desc-and-book-ticket-btn p{
        text-align: center; 
    }
    .section-1{
        padding-bottom: 100px;
    }
    .image-desc-sec-3{
        align-items: center;
    }
    .place_lists .scribble-dark-3 > img{
        width: 22px;
        height: 500px;
    }
    .place_lists .scribble-dark-4 > img{
        width: 36px;
        height: 310px;
    }
    .heading-and-text-sec-3{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .heading-and-text-sec-3 p{
        text-align: center;
        font-size: 15px;
    }
    .sec-3-place-lists{
        padding-bottom: 100px;
    }
    .place_lists .image-desc-sec-3{
        padding-bottom: 50px;
    }
}    
@media (max-width: 480px){
    .scribble-dark-3{
        display: none;
    }
    .scribble-dark-4{
        display: none;
    }
}
@media (max-width: 414px){
    .heading-and-text-sec-3 p{
        font-size: 10px;
    }
}