/* start adding fonts */
@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=Lato:wght@400;900&display=swap');
/* End adding font */

/* start reseting css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5em;
  color: #232323;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
/* End reseting css */

/* CSS */
body {
  background-color: #e9e7e7;
}

h1, h2, h3 {
  font-family: 'Cardo', serif;
  font-weight: 700;
  margin: 0;
}

